<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-progress/paper-progress.html">

<dom-module id="account-creation-form">
  <template>
    <style>
      :host {
        display: block;
      }
      .form-title {
        margin-bottom: 20px;
      }
      
      .company {
        color: #3367d6;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      
      paper-button {
        background-color: #4285f4;
        color: #fff;
        margin-top: 20px;
        width: 100%;
      }

      .message {
        color: var(--paper-red-500);
      }

      .success {
        color: var(--paper-green-800);
      }

      .hidden {
        display: none;
      }

      paper-progress {
        width: 100%;
        --paper-progress-active-color: #4285f4;
        --paper-progress-secondary-color: #A5D6A7;
        --paper-progress-container-color: #4CAF50;
      }

    </style>
    <div class="flex company">Create Account</div>
    <div class="message">{{err}}</div>
    <div class="success">{{successMsg}}</div>
    <form on-iron-form-submit="_submit" is="iron-form" id="form">
      <div>
        <paper-input style="float: left;" id="username" name="username" label="Username" required></paper-input>
        <paper-input style="float: right;" id="password" name="password" label="Password" type="password" required></paper-input>
      <div>
      <br><br><br><br><br>
      <div>
        <paper-input id="name" name="name" label="Full Name"></paper-input>
      </div>
      <div>  
        <paper-input style="float: left;" id="email" name="email" label="Email"></paper-input>
        <paper-input style="float: right;" id="phone" name="phone" label="Phone"></paper-input>
      </div>    
      <br><br><br><br><br>
      <div>
        <paper-input style="float: left;" id="speakerid" name="speakerid" label="SpeakerID"></paper-input>
        <paper-input style="float: right;" id="zoneid" name="zoneid" label="ZoneID"></paper-input>
      </div>
      <br><br><br><br><br>
        <paper-input id="confirm" name="confirm" label="Confirm Password" type="password" required></paper-input>
        <paper-button raised on-click="_submit">Create Account</paper-button>
        <paper-progress id="progress" value="100"></paper-progress>
        <!-- We should be able to press enter to submit. This button with type submit is required to do so. -->
        <button class="hidden" type="submit">I should be hidden</button>
    </form>
    <iron-ajax
        id="loginAjax"
        url="/user/"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="_logResponse"
        debounce-duration="300"></iron-ajax>
    <paper-toast id="toast"><span>{{err}}</span></paper-toast>
  </template>
  <script>
    Polymer({
      is: 'account-creation-form',

      /**
       * Submit is an on-click that is fired when the user clicks the submit button. The submit function takes care of collecting the data from the form,
       * packaging it up, and then sending it off. It also does some validation and fills in some dots, such as the level; this variable is inferred to be the [level of user making the account] - 1. 
       */
      _submit: function() {
        if(!this.$.form.validate())
            return;
        var password = this.$.password.value;
        var confirm = this.$.confirm.value
        this.err = "";
        this.successMsg = "";
        this.$.progress.customStyle['--paper-progress-active-color'] = "#4285f4";
        this.$.progress.updateStyles();
        this.$.progress.indeterminate = true;
        if(password != confirm) {
          this.async(function() {
            this.$.progress.customStyle['--paper-progress-active-color'] = "#F44336";
            this.$.progress.updateStyles();
            this.$.progress.value = 100;
            this.$.progress.indeterminate = false;
            this.err = "Passwords do not match";
            this.$.password.value = "";
            this.$.confirm.value = "";
            return;
          }, 1000);
        } else {
          hash = document.cookie.split('; ');

          this.$.loginAjax.body = {
            level:      parseInt(localStorage.getItem("level")) - 1,
            username:   this.$.username.value,
            password:   this.$.password.value,
            name:       this.$.name.value,
            email:      this.$.email.value,
            phone:      this.$.phone.value,
            speakerid:  parseInt(this.$.speakerid.value), 
            zoneid:     parseInt(this.$.zoneid.value)
          }
          this.$.loginAjax.generateRequest();
        }
      },

      /**
       * This is the logResponse for the submit funtion, this changes some styles to reflect that an account was created.
       */
      _logResponse: function(event, data) {
        if(!data.response.success) {
          this.$.progress.customStyle['--paper-progress-active-color'] = "#F44336";
          this.$.progress.updateStyles();
          this.$.progress.indeterminate = false;
          this.$.progress.value = 100;
          this.err = data.response.err
        } else {
          this.$.progress.value = 0;
          this.$.progress.indeterminate = false;
          this.successMsg = "Account created";
          this.$.username.value = "";
          this.$.password.value = "";
          this.$.confirm.value = "";
        }
    }
    });
  </script>
</dom-module>