<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<!-- Change this to effectivness-comfort slider -->

<dom-module id="averaging-controller">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%;
        text-align: center;
      }
      
      paper-dropdown-menu {
        margin: 0px 25px 5px;
        overflow-x: hidden;
        width: 170px;
        text-align: center;
      }
      
      paper-button {
        /*background-color: #3367d6;      /* This is not needed and for some reason is still here */
        background-color: #3f51b5;
        color: #fff;
        margin-top: 10px;
        text-align: center;
      }

      paper-input /deep/ #input {
        text-align: center;
      }

      paper-slider {
        width: 100%;
        /*margin-top: calc(.075 * 100vh);    /* this offset fucks everything up */
      }

      paper-item {
        width: 80px;
        text-align: center;
      }

      iron-dropdown {
        overflow: hidden;
        text-align: center;
      }

      dropdown-content style-scope paper-menu-button x-scope paper-material-0 {
        overflow: hidden;   /* solve the overflow shit */
      }

      #invis {
        visibility: hidden;
      }

    </style>

    <paper-card heading="Comfort"><h6 style="margin: 0;">what else to call it</h6>
      <div class="card-content">
        <!--<paper-dropdown-menu no-label-float style="overflow; hidden;" label="Averaging Mode:">
          <paper-listbox id="menu" class="dropdown-content" value="0">
            <paper-item>Mode 1</paper-item>
            <paper-item>Mode 2</paper-item>
            <paper-item>Mode 3</paper-item>
            <paper-item>Mode 4</paper-item>
            <paper-item>Mode 5</paper-item>
            <paper-item>Mode 6</paper-item>
            <paper-item>Mode 7</paper-item>
            <paper-item>Mode 8</paper-item>
            <paper-item>Mode 9</paper-item>
            <paper-item>Mode 10</paper-item>
            <paper-item>Mode 11</paper-item>
            <paper-item>Mode 12</paper-item>
            <paper-item>Mode 13</paper-item>
            <paper-item>Mode 14</paper-item>
            <paper-item>Mode 15</paper-item>
            <paper-item>Mode 16</paper-item>
            <paper-item>Mode 17</paper-item>
            <paper-item>Mode 18</paper-item>
            <paper-item>Mode 19</paper-item>
            <paper-item>Mode 20</paper-item>
          </paper-listbox>-->
        </paper-dropdown-menu>
        <div id=ec_encap class="layout vertical">
          <div id="ec_style_div" class="layout horizontal">
            <h4>Effectiveness</h4>
            <paper-slider id="invis" pin min="0" max="100" step="5"></paper-slider>
            <h4>Comfort</h4>
          </div>
          <div id="ec_div" class="layout horizontal">
            <paper-icon-button icon="remove" on-click="decrementE"></paper-icon-button>
            <paper-slider id="effectiveness" pin min="0" max="10" step="1" value="{{effectiveness}}"></paper-slider>
            <paper-icon-button icon="add" on-click="incrementE"></paper-icon-button>

            <paper-icon-button icon="remove" noink style="visibility: hidden;"></paper-icon-button>

            <paper-icon-button icon="remove" on-click="decrementC"></paper-icon-button>
            <paper-slider id="comfort" pin min="0" max="10" step="1" value="{{comfort}}"></paper-slider> 
            <paper-icon-button icon="add" on-click="incrementC"></paper-icon-button>
          <!-- might need to change this is 0 is not an acceptable value -->
          </div>
        </div>

        <span>{{value}}</span>
      </div>
      <div class="card-actions">
        <paper-button on-click="_selectionChanged">set comfort</paper-button>
      </div>
    </paper-card>
    <!--<paper-toast id="toast">Averaging mode set to <span>{{volume}}</span></paper-toast>-->
    <iron-ajax
      id="selectModeAjax"
      url="/system/speaker/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300"></iron-ajax>
  </template>
  <script>



    Polymer({
      is: 'averaging-controller',

      properties: {
        averaging: Number,
        speakerId: {
            type: Number,
          }
      },
       
      /*listeners: {
        'menu.iron-select': '_selectionChanged'
      },*/
      
      _selectionChanged: function(event) {    // Why does this have event in the thing? It is not like that in volume selector
        console.log(this.speakerId);    // This says the speakerId is undefined

        var menu = document.getElementById('menu');

        //menu.averaging = this.$.menu.selected + 1;

        //console.log(this.$.menu.selected + 1);
        var attributeValues;

        // Need to put a toast thing here like we have on the volume selector page
        var updatedAttributes = ["averaging"];

        // This is to deal with 0 since the averaging technically cannot be 0
        if(this.effectiveness == 0 && this.comfort == 0) {
          attributeValues = {
            "averaging": 1
          };
        } else {
          attributeValues = {
            "averaging": this.effectiveness + this.comfort
          };
        }
        this.$.selectModeAjax.body = {
          "updatedAttributes": updatedAttributes, 
          "attributeValues": attributeValues,                        
          "speaker": this.speakerId     // You can see that this is getting zero in the terminal from the print in  speakerHandlers.go. This is because the value for this.speakerId is undefined for some reason. When I hardcoded 107 it worked fine, which is expected. Just not sure why this is getting undefined....
        };

        var selectModeAjax = document.getElementById("selectModeAjax");
        console.log(selectModeAjax);

        console.log(this.$.selectModeAjax.body);
        this.$.selectModeAjax.generateRequest();
      },

      _logResponse: function(event, data) {
        console.log(data.response);
      },

      decrementE: function() {
        this.$.effectiveness.decrement();
        this.$.effectiveness._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      incrementE: function() {
        this.$.effectiveness.increment();
        this.$.effectiveness._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },

      decrementC: function() {
        this.$.comfort.decrement();
        this.$.comfort._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      incrementC: function() {
        this.$.comfort.increment();
        this.$.comfort._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },

      resetKnob: function(elem) {
        elem.prevTimeout = 0;
        elem.$.effectiveness._resetKnob();
        elem.$.comfort._resetKnob();
      },
      
    });
  </script>
</dom-module>