<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<!--<script src="jquery-2.2.0.js"></script>-->
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>

<dom-module id="equalizer-controller">
  <template>

    <style>
      :host {
        display: block;
      }

      #slider {
        width: 100%;
        height: calc(85% - .3 * 100vw);
        margin-bottom: calc(.03 * 100vh);
      }

      paper-card {
        width: 100%;
        height: 100%;   /* This was 100%, cahnge back if needed */
        text-align: center;
      }

      .paper-card .card-content {
        padding: 0px;
        height: 200%;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 1px;
      }

      paper-input /deep/ #input {
        margin-top: 0px;
        text-align: center;
      }

      .message {
        color: var(--paper-red-500);
        size: 5px;
      }

      paper-dropdown-menu {
        text-align: center;
      }

    </style>

   <paper-card heading="Equalizer" elevation="4">
      <div class="card-content">
        <div id="sliderequalizer" class="layout horizontal">
          <div id="custom_container"> 
            <div class="custom one"> <input id="text1" class="level" readonly/> <div class="custom_slider" value="{{internalEqualizer}}"></div><input class="bands" id="eighty" value="80" readonly/></div>
            <div class="custom two"> <input id="text2" class="level" readonly/> <div class="custom_slider" value={{"equalizer2"}}></div><input class="bands" value="100" readonly/></div>
            <div class="custom three"> <input id="text3" class="level" readonly/> <div class="custom_slider" value={{"equalizer3"}}></div><input class="bands" value="125" readonly/></div>
            <div class="custom four"> <input id="text4" class="level" readonly/><div class="custom_slider" value={{"equalizer4"}}></div><input class="bands" value="160" readonly/></div>
            <div class="custom five"> <input id="text5" class="level" readonly/> <div class="custom_slider" value={{"equalizer5"}}></div><input class="bands" value="200" readonly/></div>
            <div class="custom six"> <input id="text6" class="level" readonly/> <div class="custom_slider" value={{"equalizer6"}}></div><input class="bands" value="250" readonly/></div>
            <div class="custom seven"> <input id="text7" class="level" readonly/> <div class="custom_slider" value={{"equalizer7"}}></div><input class="bands" value="315" readonly/></div>
            <div class="custom eight"> <input id="text8" class="level" readonly/> <div class="custom_slider" value={{"equalizer8"}}></div><input class="bands" value="400" readonly/></div>
            <div class="custom nine"> <input id="text9" class="level" readonly/> <div class="custom_slider" value={{"equalizer9"}}></div><input class="bands" value="500" readonly/></div>
            <div class="custom ten"> <input id="text10" class="level" readonly/> <div class="custom_slider" value={{"equalizer10"}}></div><input class="bands" value="630" readonly/></div>
            <div class="custom eleven"> <input id="text11" class="level" readonly/> <div class="custom_slider" value={{"equalizer11"}}></div><input class="bands" value="800" readonly/></div>
            <div class="custom twelve"> <input id="text12" class="level" readonly/> <div class="custom_slider" value={{"equalizer12"}}></div><input class="bands" value="1k" readonly/></div>
            <div class="custom thirteen"> <input id="text13" class="level" readonly/> <div class="custom_slider" value={{"equalizer13"}}></div><input class="bands" value="1.25k" readonly/></div>
            <div class="custom fourteen"> <input id="text14" class="level" readonly/> <div class="custom_slider" value={{"equalizer14"}}></div><input class="bands" value="1.6k" readonly/></div>
            <div class="custom fifteen"> <input id="text15" class="level" readonly/> <div class="custom_slider" value={{"equalizer15"}}></div><input class="bands" value="2k" readonly/></div>
            <div class="custom sixteen"> <input id="text16" class="level" readonly/> <div class="custom_slider" value={{"equalizer16"}}></div><input class="bands" value="2.5k" readonly/></div>
            <div class="custom seventeen"> <input id="text17" class="level" readonly/> <div class="custom_slider" value={{"equalizer17"}}></div><input class="bands" value="3.15k" readonly/></div>
            <div class="custom eighteen"> <input id="text18" class="level" readonly/> <div class="custom_slider" value={{"equalizer18"}}></div><input class="bands" value="4k" readonly/></div>
            <div class="custom nineteen"> <input id="text19" class="level" readonly/> <div class="custom_slider" value={{"equalizer19"}}></div><input class="bands" value="5k" readonly/></div>
            <div class="custom twenty"> <input id="text20" class="level" readonly/> <div class="custom_slider" value={{"equalizer20"}}></div><input class="bands" value="6.3k" readonly/></div>
            <div class="custom twentyone"> <input id="text21" class="level" readonly/> <div class="custom_slider" value={{"equalizer21"}></div><input class="bands" value="8k" readonly/></div>
          </div>
        </div>
      </div>

      <!-- entry-animation="scale-up-animation" exit-animation="fade-out-animation" -->
    <paper-dialog id="dialog" heading="this is a title" entry-animation="scale-up-animation"
              exit-animation="fade-out-animation" modal="true">
      <h1>Add Preset</h1>
      <div>Enter the new preset name below</div>

      <div class="message">{{err}}</font></div>
      <paper-input id="popupInput" label="" placeholder="Enter Name for Preset" text-align="center"></paper-input>
      <div class="buttons">

      <paper-button dialog-dismiss on-click="_cancelPressed">Cancel</paper-button>    <!-- Something needs to go here -->
      <paper-button ondialog-confirm on-click="_acceptPressed">Add</paper-button>
    </div>
    </paper-dialog>

      <div class="card-actions">
        <paper-button on-click="_setEqualizerClicked">set equalizer</paper-button>
        <paper-dropdown-menu id="equalizerMenu" no-label-float label="Equalizer Preset:">
          <paper-listbox id="equalizerListbox" attr-for-selected="value" selected="{{selection}}" class="dropdown-content" value="0">
            <!--<template if="{{this.speaker.Response}}">
              <paper-dropdown-menu selected="{{selected}}">
                <template repeat="{{label in this.speaker.PresetNames}}">
                  <paper-item value="{{i}}" label="{{label}}"></paper-item>
                </template>
              </paper-dropdown-menu>  
            </template>-->
              <paper-item id="Currently Applied" value="Currently Applied">Currently Applied</paper-item>
              <paper-item id="Add New Preset" value="Add New Preset">Add New Preset</paper-item>   
          </paper-listbox>
        </paper-dropdown-menu>
        <span>{{value}}</span>
      </div>
    </paper-card>
    <paper-toast id="toast">Equalizer set to <span>{{iirConstantsString}}</span></paper-toast>
    <paper-toast id="toasty" z-index: "60" text="varaitic toast message this is, seeing this you are, please dial 867-5309 you should; nah but just tell me bro"></paper-toast>

    <iron-ajax
          id="addPresetAjax"
          url="/system/addPreset/"
          method="PUT"
          content-type="application/json"
          handle-as="json"
          on-response="_logResponse"
          debounce-duration="300">
    </iron-ajax>

  </template>
  <script>

  //var fragment = create("<paper-item id=" + "name" + " value=" + "custom" + ">" + "custom" + "</paper-item>"); 
  $(document).ready(function() {
  });
  
  var lastSelected = 0;
//  document.getElementById(equalizerListbox).selected = "Currently Applied";

  //PresetNames[] = {"hi", "my", "name", "is", "scott"};
  

  //document.getElementById("custom").appendChild(temp);    make this work

  var iirConstants = [];

  for(loopVar = 0; loopVar < 21; loopVar++) { // watch out! we got a static over here
    iirConstants[loopVar] = 0;
  }
  console.log(iirConstants);

    Polymer({
      is: 'equalizer-controller',
      
      properties: {
        internalEqualizer: String,

        speakerId: {
          type: Number
        },

        speaker: {
          type: Object
        },

        equalizer: {
          type: String,
          notify: true,
          observer: '_setInternalEqualizer'
        }
      },

      _setInternalEqualizer: function(iirConstantsString) {
        this.internalEqualizer = iirConstantsString;
        console.log("_setInternalEqualizer " + iirConstantsString);
      },
      
      _setEqualizerClicked: function() {
        
        this.equalizer = iirConstants.join(" ");  // this gets sent to the backend because Go's Fields(String) function works only with whitespaces
        this.iirConstantsString = iirConstants.join(", ");  // this is for the toast message
        //this.$.toast.show();
        console.log("_setEqualizerClicked");
        console.log(iirConstants);
        
        for (var i = 0; i < this.speaker.Current.length; i++) { 
          this.speaker.Current[i] = iirConstants[i];
        }
      },

      _logResponse: function(event, data) {
        console.log("shuddup");
      },
      /*
      decrementVolume: function() {
        this.$.volume2.decrement();
        this.$.volume2._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      incrementVolume: function() {
        this.$.volume2.increment();
        this.$.volume2._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },*/

      _acceptPressed: function(event) {
        var name = this.$.popupInput.value.valueOf().replace("\n", "").replace("\t", "");
        var ifvar = 0;
        if(this.speaker.PresetNames.length > 0) {
          for(var i = 0; i < this.speaker.PresetNames.length; i++) {
            if(name.toLowerCase() == this.speaker.PresetNames[i].valueOf().toLowerCase()) {
              console.log("same name dude");
              ifvar++;    // make more checks dummy
            }
          }
        }

        if(ifvar > 0) {
          console.log("we are in here right now");
          this.err = "Invalid name: Name already taken, please enter another";
          this.$.toasty.text = this.err;
          this.$.toasty.show();
          console.log("4");
        } else {
          this.$.addPresetAjax.body = {
            "speaker": this.speakerId,
            "name": name,
            "constants": iirConstants.join(" ")
            // Maybe we should add a currently applied thing in here or something
          };

          console.log(iirConstants.join(" "));

          console.log("addPresetAjax:", addPresetAjax.body);
          this.$.addPresetAjax.generateRequest();

          this.$.dialog.toggle();

          this.$.toasty.text = "Added preset: " + name + " " + iirConstants.join(", ");
          console.log(this.$.toasty.text);

          this.$.toasty.show();
          console.log("1");

          temp = document.createElement("paper-item");
          temp.setAttribute("value", name);
          temp.setAttribute("id", name);
          // temp.setAttribute("speakerId", controller.speaker.speakerId); try doing some optimization stuff with the speakerId
          temp.innerHTML = name;
          Polymer.dom(this.$.equalizerListbox).appendChild(temp);

          var length = this.speaker.Equalizer.length;
          console.log(length);

          console.log(iirConstants);

          var iirConstantsCopy = iirConstants.slice();

          console.log("iirConstantsCopy: ", iirConstantsCopy);
          this.speaker.Equalizer.push(iirConstants.slice());    // change this to iirConstantsCopy if it breaks
          //}

          this.speaker.PresetNames[this.speaker.PresetNames.length] = name;

          console.log(this.speaker.Equalizer);

          this.$.equalizerListbox.selected = name;
          //this.$.toasty.text = "";
          this.$.popupInput.value = "";
        }
      },

      _cancelPressed: function(event) {
        // make something that will capture the last thing clicked and keep track of that and change it to that when they click cancel

        this.$.equalizerListbox.selected = -1;

        console.log(lastSelected);

      },

      listeners: {
        'equalizerListbox.iron-select': '_presetSelectionChanged'
      },
      
      _presetSelectionChanged: function(event) {    // Why does this have event in the thing? It is not like that in volume selector

        console.log(this.speakerId);    // This says the speakerId is undefined

        //var menu = document.getElementById('equalizerMenu');
        console.log(this.speaker);

        //if(this.$.menu.selected + 1)

        //menu.averaging = this.$.menu.selected + 1;

        var selected = this.$.equalizerListbox.selected.valueOf().toLowerCase().replace("\n", "");   // do this for all whitespace character

        var sliders = document.getElementsByClassName("ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min");
        var handles = document.getElementsByClassName("ui-slider-handle ui-state-default ui-corner-all");

        if(selected == "currently applied") {
          this.$.toasty.text = "Currently applied constants loaded! " + iirConstants.join(", ");
          this.$.toasty.show();

          console.log("2");

          lastSelected = this.$.equalizerListbox.selected;

          for (var i = 0; i < this.speaker.Current.length; i++) { 
            sliders[i].style.height = (this.speaker.Current[i] + 40) * 2 + "%";    // why does this have to be lower case
            console.log(this);
            handles[i].style.bottom = (this.speaker.Current[i] + 40) * 2 + "%";
            $("#text" + (parseInt(i) + 1)).val(this.speaker.Current[i]);
            iirConstants[i] = this.speaker.Current[i];       
          }
        } else if(selected == "add new preset") {
            var addPresetAjax = document.getElementById("addPresetAjax");
            console.log(addPresetAjax);
            this.$.dialog.toggle();
        } else if(this.speaker.PresetNames.length > 0) {
            lastSelected = this.$.equalizerListbox.selected;
            var associationLink = -1;
            for (k in this.speaker.PresetNames) {
              if(selected == this.speaker.PresetNames[k].valueOf().toLowerCase()) {
                this.$.toasty.text = this.$.equalizerListbox.selected + " preset loaded! " + iirConstants.join(", ");
                this.$.toasty.show();
                console.log("3");
                console.log("Speaker " + this.speakerId + " selected " + selected);
                // show a toast here with the preset applied message
                associationLink = k;   // this will either need to be bounded by the the restriction that two names cannot be the same or we need to check
                console.log("associationLink", associationLink);
                break;    // this is for efficiency reasons, better to keep it this way if it works
              }
            }
            if(associationLink != -1) {
                console.log(this.speaker.Equalizer.length);
                for (var j = 0; j < this.speaker.Equalizer[0].length; j++) {   // add associationLink back if this fucks up
                  sliders[j].style.height = (this.speaker.Equalizer[associationLink][j] + 40) * 2 + "%";    // why does this have to be lower case
                  handles[j].style.bottom = (this.speaker.Equalizer[associationLink][j] + 40) * 2 + "%";
                  $("#text" + (parseInt(j) + 1)).val(this.speaker.Equalizer[associationLink][j]);
                  iirConstants[j] = this.speaker.Equalizer[associationLink][j];
                }
            }
          }

          // Need to put a toast thing here like we have on the volume selector page
         /*
          var updatedAttributes = ["averaging"];
          var attributeValues = {
            "averaging": this.$.menu.selected + 1
          };
          this.$.selectModeAjax.body = {              // might use this to put in the database
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,                        
            "speaker": this.speakerId     // You can see that this is getting zero in the terminal from the print in  speakerHandlers.go. This is because the value for this.speakerId is undefined for some reason. When I hardcoded 107 it worked fine, which is expected. Just not sure why this is getting undefined....
          };
          this.$.selectModeAjax.generateRequest();
      */},
      
      resetKnob: function(elem) {
        elem.prevTimeout = 0;
        elem.$.volume2._resetKnob();
      },

      ready: function() {
        this.internalEqualizer = this.iirConstantsString;   // does this need to be equalizer?
      }
    });

// there was some script endings and shit here, putem back if shit fucks up

  var MIN_WIDTH_SUPPORTED = 0;
  var MIN_HEIGHT_SUPPORTED = 0;
  //console.log(navigator);

  if($(window).width() > MIN_WIDTH_SUPPORTED || $(window).height() > MIN_HEIGHT_SUPPORTED) {
    /*$(function() {
      $( ".custom > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: 0,
        max: 20,
        value: 10,
        slide: function( event, ui) {
          var inputs = document.getElementsByClassName("custom");
          var handles = document.getElementsByClassName("ui-slider-handle ui-state-default ui-corner-all");
          console.log($(handles[0]).offsetParent().offsetParent());
          var split = handles[0].className;
          console.log($(inputs));

          $( "#text1" ).val( $(inputs[0]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text2" ).val( $(inputs[1]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text3" ).val( $(inputs[2]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text4" ).val( $(inputs[3]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text5" ).val( $(inputs[4]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text6" ).val( $(inputs[5]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text7" ).val( $(inputs[6]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text8" ).val( $(inputs[7]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text9" ).val( $(inputs[8]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text10" ).val( $(inputs[9]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text11" ).val( $(inputs[10]).find(".ui-slider-range-min").prop("clientHeight")/10);
          $( "#text12" ).val( $(inputs[11]).find(".ui-slider-range-min").prop("clientHeight")/10);

          //console.log(document.getElementById("text3").value);
          //console.log(ui);
          //console.log($(this).offsetParent());
          //console.log($(this).offsetParent().attr('className'));
          //console.log($('#selectable .ui-selected').attr('id'));
        }
      });*/

// try this shit out mayne: http://jqueryrain.com/?MnbPPsmf

    
    // make the equalizer get the constants out to the database here

    

    $(function() {
      $( ".custom.one > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        //step: .5,
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text1" ).val( ui.value);
          iirConstants[0] = ui.value;
          //console.log(iirConstants[0] + " - | - " + ui.value);    // remove all of these when finished with them
        }
      });
      $( ".custom.two > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text2" ).val( ui.value);
          console.log(ui.value);
          iirConstants[1] = ui.value;
          //console.log(iirConstants[1] + " - | - " + ui.value);
        }
      });
      $( ".custom.three > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text3" ).val( ui.value);
          iirConstants[2] = ui.value;
          //console.log(iirConstants[2] + " - | - " + ui.value);
        }
      });
      $( ".custom.four > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text4" ).val( ui.value);
          iirConstants[3] = ui.value;
          //console.log(iirConstants[3] + " - | - " + ui.value);
        }
      });
      $( ".custom.five > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text5" ).val( ui.value);
          iirConstants[4] = ui.value;
          //console.log(iirConstants[4] + " - | - " + ui.value);
        }
      });
      $( ".custom.six > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text6" ).val( ui.value);
          iirConstants[5] = ui.value;
          //console.log(iirConstants[5] + " - | - " + ui.value);
        }
      });
      $( ".custom.seven > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text7" ).val( ui.value);
          iirConstants[6] = ui.value;
          //console.log(iirConstants[6] + " - | - " + ui.value);
        }
      });
      $( ".custom.eight > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text8" ).val( ui.value);
          iirConstants[7] = ui.value;
          //console.log(iirConstants[7] + " - | - " + ui.value);
        }
      });
      $( ".custom.nine > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text9" ).val( ui.value);
          iirConstants[8] = ui.value;
          //console.log(iirConstants[8] + " - | - " + ui.value);
        }
      });
      $( ".custom.ten > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text10" ).val( ui.value);
          iirConstants[9] = ui.value;
          //console.log(iirConstants[9] + " - | - " + ui.value);
        }
      });
      $( ".custom.eleven > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text11" ).val( ui.value);
          iirConstants[10] = ui.value;
          //console.log(iirConstants[10] + " - | - " + ui.value);
        }
      });
      $( ".custom.twelve > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text12" ).val( ui.value);
          iirConstants[11] = ui.value;
          //console.log(iirConstants[11] + " - | - " + ui.value);
        }
      });
      $( ".custom.thirteen > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text13" ).val( ui.value);
          iirConstants[12] = ui.value;
          //console.log(iirConstants[12] + " - | - " + ui.value);
        }
      });
      $( ".custom.fourteen > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text14" ).val( ui.value);
          iirConstants[13] = ui.value;
          //console.log(iirConstants[13] + " - | - " + ui.value);
        }
      });
      $( ".custom.fifteen > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text15" ).val( ui.value);
          iirConstants[14] = ui.value;
          //console.log(iirConstants[14] + " - | - " + ui.value);
        }
      });
      $( ".custom.sixteen > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text16" ).val( ui.value);
          iirConstants[15] = ui.value;
          //console.log(iirConstants[15] + " - | - " + ui.value);
        }
      });
      $( ".custom.seventeen > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text17" ).val( ui.value);
          iirConstants[16] = ui.value;
          //console.log(iirConstants[16] + " - | - " + ui.value);
        }
      });
      $( ".custom.eighteen > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text18" ).val( ui.value);
          iirConstants[17] = ui.value;
          //console.log(iirConstants[17] + " - | - " + ui.value);
        }
      });
      $( ".custom.nineteen > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text19" ).val( ui.value);
          iirConstants[18] = ui.value;
          //console.log(iirConstants[18] + " - | - " + ui.value);
        }
      });
      $( ".custom.twenty > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text20" ).val( ui.value);
          iirConstants[19] = ui.value;
          //console.log(iirConstants[19] + " - | - " + ui.value);
        }
      });
      $( ".custom.twentyone > .custom_slider" ).slider({
        orientation: "vertical",
        range: "min",
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          $( "#text21" ).val( ui.value);
          iirConstants[20] = ui.value;
          //console.log(iirConstants[20] + " - | - " + ui.value);
        }
      });

      $( "#text1" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text2" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text3" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text4" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text5" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text6" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text7" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text8" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text9" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text10" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text11" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text12" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text13" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text14" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text15" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text16" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text17" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text18" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text19" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text20" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
      $( "#text21" ).val( $( ".custom > .custom_slider" ).slider( "value" ) );
    });

  } else {
      console.log("there is not enough space to display the equalizer");

      //window.onload = function(){
        // Use this for loading a different thing when the window loads and the viewport is too small
      //};      
    }
  $(window).resize(function() {
    if($(window).width() < MIN_WIDTH_SUPPORTED || $(window).height() < MIN_HEIGHT_SUPPORTED){
      console.log($(window).width());

console.log(document.getElementById("eighty").offsetWidth);
      /*var custom_container = document.getElementById("custom_container");
      //custom_container.style.visibility = "hidden";
      var customs = document.getElementsByClassName("custom");
      console.log(customs);
      for (i in customs) {
        //document.getElementById("one").style.width = "30px";
        //document.getElementById("custom_container").style.width = "350px";
      }*/
    } else {
      var custom_container = document.getElementById("custom_container");
      //custom_container.style.visibility = "visible";
    }
  });

</script>
</dom-module>