<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<script src="Chart.js" type="text/jscript"></script>
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>
<!--<script src="jquery-2.2.0.js"></script>-->
<!--<link rel="import" href="/bower_components/paper-checkbox//paper-checkbox.html">-->

<dom-module id="information-viewer">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%;
        text-align: center;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 10px;
      }
    </style>
   <paper-card heading="Information" elevation="4">
      <div class="card-content">
        
      </div>
      <div class="card-actions">
        
      </div>
    </paper-card>
    <paper-toast id="toast">Target set to <span>{{target}}</span></paper-toast>
  </template>
  <script>
    Polymer({
      is: 'information-viewer',
      
      properties: {
        internalTarget: String,

        target: {     // I think this 
          type: String,
          notify: true,
          observer: '_setInternalVolume'
        },

       /*
        internaMusiclVolume: String,

         musicVolume: {
          type: String,
          notify: true,
          observer: '_setInternalMusicVolume'
        },
        */

        /*internalVolume3: Number,

        pagingVolume: {
          type: Number,
          notify: true,
          observer: '_setInternalMusicVolume'
        },*/

        speakerId: {
          type: Number
        }
      },

      /*
      properties: {
        internalVolume2: Number,

         musicVolume: {
          type: Number,
          notify: true,
          observer: '_setInternalMusicVolume'
        },

        speakerId: {
          type: Number
        }
      },
      */

      _setInternalTarget: function(volume) {
        this.internalTarget = target;
        console.log("_setInternalTarget" + this.internalTarget);
      },

      /*
      _setInternalMusicVolume: function(musicVolume) {
        this.internalMusicVolume = musicVolume;
        console.log("_setInternalMusicVolume");
      },
      */

      // dont know if we even need these observers
      /* _setInternalMusicVolume: function(musicVolume) {
        this.internalVolume2 = this.musicVolume;
        console.log("_setInternalMusicVolume");
      },

       _setInternalPagingVolume: function(pagingVolume) {
        this.internalVolume3 = this.musicVolume;
        console.log("_setInternalPagingVolume");
      },*/
      
      _setTargetClicked: function() {
        this.target = this.internalTarget;
        //this.musicVolume = this.internalVolume2;
        this.$.toast.show();
        console.log("_setTargetClicked");
      },


      ready: function() {
        this.internalTarget = this.target;
        console.log("I am ready " + this.internalTarget);
      }
    });
  </script>
</dom-module>