<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="light-controller">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%
      }
     
      paper-slider {
        width: 100%;
      }
      
      paper-button {
        background-color: #4285f4;
        color: #fff;
        margin-top: 10px;
      }

      #on {
        background-color: var(--google-yellow-300);
      }

      #off {
        background-color: var(--google-grey-700);
      }

      iron-icon {
        --iron-icon-width: 70px;
        --iron-icon-height: 70px;
      }

      #day {
        color: var(--google-yellow-300);
      }

      #night {
        color: var(--google-grey-700);
      }


    </style>
   <paper-card heading="LED" elevation="4">
      <div class="card-content">
        <div class="layout vertical center">
          <iron-icon id="day" icon="image:brightness-7"></iron-icon>
          <iron-icon id="night" style="display: none;" icon="image:brightness-3"></iron-icon>
        </div>
      </div>
      <div class="card-actions">
        <paper-button id="on" on-click="_onPressed">on</paper-button>
        <paper-button id="off" on-click="_offPressed">off</paper-button>
      </div>
    </paper-card>
    <iron-ajax
      id="ledOnAjax"
      url="/demo/start"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300"></iron-ajax>
    <iron-ajax
      id="ledOffAjax"
      url="/demo/stop"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300"></iron-ajax>
    <iron-ajax
      id="ledStatusAjax"
      url="/system/"
      handle-as="json"
      on-response="_initializeStatus"
      debounce-duration="300"></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'light-controller',

      properties: {
        speakerId: {
            type: Number,
          }
      },

      _onPressed: function(){
        this._showDay();

        var updatedAttributes = ["led"];
        var attributeValues = {
          "led": 1
        };
        this.$.ledOnAjax.body = {
          "updatedAttributes": updatedAttributes, 
          "attributeValues": attributeValues,
          "speaker": this.speakerId
        };
        this.$.ledOnAjax.generateRequest();
      },

      _offPressed: function() {
        this._showNight();

        var updatedAttributes = ["led"];
        var attributeValues = {
          "led": 0
        };
        this.$.ledOffAjax.body = {
          "updatedAttributes": updatedAttributes, 
          "attributeValues": attributeValues,
          "speaker": this.speakerId
        };
        this.$.ledOffAjax.generateRequest();
      },

      _showDay: function() {
        this.$.day.style.display = "block";
        this.$.night.style.display = "none";
      },

      _showNight: function() {
        this.$.day.style.display = "none";
        this.$.night.style.display = "block";
      },

      _logResponse: function(event, data) {
        console.log(data.response);
      },

      _initializeStatus: function(event, data) {
        console.log(data.response.status.controllers["107"].ledOn)
        if(data.response.status.ledOn) {
          this._showDay();
        } else {
          this._showNight();
        }
      },

      ready: function() {
        var elem = this;
        this.$.ledStatusAjax.generateRequest();
      }

    });
  </script>
</dom-module>