<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">

<link rel="import" href="/components/omaha-app.html">

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/ >

<dom-module id="login-form">
  <template>
    <style>
      :host {
        display: block;
      }
      .form-title {
        margin-bottom: 20px;
      }
      
      .company {
        color: #3f51b5;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 20px;
        width: 100%;
      }

      .message {
        color: var(--paper-red-500);
      }

      .hidden {
        display: none;
      }
    </style>
    <div>
      <div id="loginForm" class="flex company" style="width: 40%;">Project Omaha
        <div style="width: 25%; position: absolute; top: -10px; left: 315px;">
          <paper-dropdown-menu label="Controller">
            <paper-listbox id="controllerListBox" class="dropdown-content" attr-for-selected="value" selected="{{selection}}" value="0">
              <paper-item id="addController" value="addController">Add Controller</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </div> 
      </div>
    </div>
    <template id="template" is="dom-if" if="{{redirect}}">
      <div class="message">Please login before proceeding</div>
    </template>
    <div id="message" class="message">{{err}}</div>
    <form on-iron-form-submit="_submit" is="iron-form" id="form"  method="post">
      <paper-input id="username" name="username" label="Username" required></paper-input>
      <paper-input id="password" name="password" label="Password" type="password" required></paper-input>
      <paper-button type="submit" raised on-click="_submit">Login</paper-button>
      <!-- We should be able to press enter to submit. This button with type submit is required to do so. -->
      <button class="hidden" type="submit">I should be hidden</button>
    </form>
    <iron-ajax
        id="loginAjax"
        url="/login/"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="_handleLogin"
        debounce-duration="300">
    </iron-ajax>

    <iron-ajax
        id="addController"
        url="/addController/"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="_addControllerResponse"
        debounce-duration="300">
    </iron-ajax>

    <iron-ajax
        id="loadControllers"
        url="/loadControllers/"
        method="GET"
        content-type="application/json"
        handle-as="json"
        on-response="_loadControllerResponse"
        debounce-duration="300">
    </iron-ajax>

    <paper-toast id="toast"><span>{{err}}</span></paper-toast>

    <paper-dialog id="dialog" heading="this is a title" entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true">
      <h1 style="text-align: center;">Add Controller</h1>
      <div style="text-align: center;">Enter the IP address and name of the controller below</div>
      <div class="message">{{err}}</div>
      <paper-input id="ipa" label="" placeholder="Enter new controller IP address" text-align="center"></paper-input>
      <paper-input id="name" label="" placeholder="Enter new controller name" text-align="center"></paper-input>
      <div class="buttons">
        <paper-button ondialog-confirm on-click="_acceptPressed">Add</paper-button>
        <paper-button dialog-dismiss on-click="_cancelPressed">Cancel</paper-button>
      </div>
    </paper-dialog>

  </template>
  <script>
    var ss;
    Polymer({
      is: 'login-form',

      listeners: {
        'controllerListBox.iron-select': '_changeController'
      },

      /**
       * Submit takes the text fields in the login screen and sends them off to the server for validation.
       */
      _submit: function() {
        var loginInfo = {

        }
        this.$.loginAjax.body = {
          username: this.$.username.value,
          password: this.$.password.value
        }
        this.$.loginAjax.generateRequest();
      },

      _changeController: function(event) {
        if(this.$.controllerListBox.selected == "addController") {
          this.$.dialog.toggle();
        } else {
          window.location = "http://" + this.$.controllerListBox.selected + ":8080";
          var timerID = setInterval(
            function() {
              document.getElementById("message").innerHTML = "Controller from that address is not responding";
              cancelInterval(timerID);
          }, 5000)
        }
      },

      _acceptPressed: function(event) {
        console.log("added new controller");

        this.$.addController.body = {
          ip: this.$.ipa.value,
          name: this.$.name.value
        }
        console.log(this.$.addController.body);
        this.$.addController.generateRequest();

        this.$.dialog.toggle();

        temp = document.createElement("paper-item");
        temp.setAttribute("value", this.$.ipa.value);
        temp.setAttribute("id", this.$.name.value);
        temp.innerHTML = this.$.name.value + " (" + this.$.ipa.value + ")";
        Polymer.dom(this.$.controllerListBox).appendChild(temp);

        this.$.controllerListBox.selected = -1;
      },

      _addControllerResponse: function(event, data) {
        console.log(data.response);
      },
      /**
       * The handlelogin function is a callback for the submit function that is fired on response. The function stores the level, speakerid, and zoneid in localStorage so that it can be retrieved by other classes. The function recieves as session hash and assigns it as a session cookie. During this time it also makes the expiration date of the cookie 36 hours from the time it was created.
       */
      _handleLogin: function(event, data, x) {
        console.log(data.response);
        localStorage.setItem('level', data.response.level);
        localStorage.setItem('speakerid', data.response.speakerid);
        localStorage.setItem('zoneid', data.response.zoneid);
        if(data.response.hash !== undefined) {
          var sessionCookie = data.response.hash;
          console.log(sessionCookie)
          /*var d = new Date();
          d.setHours(d.getHours() + 36);
          document.cookie = "name=" + sessionCookie + "; session=" + sessionCookie + "; expires=" + d.toUTCString() + ";";*/

          document.cookie = "path=/";
          document.cookie = "session=" + sessionCookie;
          console.log(window.location);
          console.log(document.cookie);
          //document.location.href = "/app/"
          window.location = "http://" + window.location.hostname + ":8080/app/";
        } else if (data.response.success){
          console.log(data.response.hash);
          //document.location.href = "/app/"
          //window.location = "http://" + window.location.hostname + ":8080/app/";
        } else {
          console.log(data.response);
          console.log(this);
          this.err = data.response.err;
          console.log(typeof data.response.err);
          this.$.toast.show();
        }
      },

      _loadControllerResponse: function(event, data) {
        console.log(data.response);

        var controllerids = data.response.Controllerids;
        var ips = data.response.Ips;
        var names = data.response.Names;

        for(var x = 0; x < controllerids.length; x++) {
          temp = document.createElement("paper-item");
          temp.setAttribute("value", ips[x]);
          temp.setAttribute("id", names[x]);
          temp.innerHTML = names[x] + " (" + ips[x] + ")";
          Polymer.dom(this.$.controllerListBox).appendChild(temp);
        }

      },

      ready: function() {
        this.$.loadControllers.generateRequest();
      }
    });
  </script>
</dom-module>