<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">

<link rel="import" href="/components/omaha-app.html">

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/ >

<dom-module id="login-form">
  <template>
    <style>
      :host {
        display: block;
      }
      .form-title {
        margin-bottom: 20px;
      }
      
      .company {
        color: #3f51b5;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 20px;
        width: 100%;
      }

      .message {
        color: var(--paper-red-500);
      }

      .hidden {
        display: none;
      }
    </style>
    <div>
      <div id="loginForm" class="flex company" style="width: 40%;">Project Omaha
        <div style="width: 25%; position: absolute; top: -10px; left: 315px;">
          <paper-dropdown-menu label="Controller">
            <paper-listbox id="controllerListBox" class="dropdown-content" attr-for-selected="value" selected="{{selection}}" value="0">
              <paper-item id="1" value="192.168.1.101">1 (192.168.1.101)</paper-item>
              <paper-item id="2" value="192.168.1.102">2 (192.168.1.102)</paper-item>
              <paper-item id="3" value="192.168.1.103">3 (192.168.1.103)</paper-item>
              <paper-item id="4" value="127.0.0.1">4 (192.168.1.104)</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </div> 
      </div>
    </div>
    <template id="template" is="dom-if" if="{{redirect}}">
      <div class="message">Please login before proceeding</div>
    </template>
    <div id="message" class="message">{{err}}</div>
    <form on-iron-form-submit="_submit" is="iron-form" id="form"  method="post">
      <paper-input id="username" name="username" label="Username" required></paper-input>
      <paper-input id="password" name="password" label="Password" type="password" required></paper-input>
      <paper-button type="submit" raised on-click="_submit">Login</paper-button>
      <!-- We should be able to press enter to submit. This button with type submit is required to do so. -->
      <button class="hidden" type="submit">I should be hidden</button>
    </form>
    <iron-ajax
        id="loginAjax"
        url="/login/"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="_handleLogin"
        debounce-duration="300"></iron-ajax>
    <paper-toast id="toast"><span>{{err}}</span></paper-toast>
  </template>
  <script>
    var ss;
    Polymer({
      is: 'login-form',

      listeners: {
        'controllerListBox.iron-select': '_changeController'
      },

      /**
       * Submit takes the text fields in the login screen and sends them off to the server for validation.
       */
      _submit: function() {
        var loginInfo = {

        }
        this.$.loginAjax.body = {
          username: this.$.username.value,
          password: this.$.password.value
        }
        this.$.loginAjax.generateRequest();
      },

      _changeController: function(event) {
        window.location="http://" + this.$.controllerListBox.selected + ":8080";
        var timerID = setInterval(
          function() {
            document.getElementById("message").innerHTML = "Controller from that address is not responding";
            cancelInterval(timerID);
        }, 5000)
      },

      /**
       * The handlelogin function is a callback for the submit function that is fired on response. The function stores the level, speakerid, and zoneid in localStorage so that it can be retrieved by other classes. The function recieves as session hash and assigns it as a session cookie.
       */
      _handleLogin: function(event, data, x) {
        console.log(data.response);
        localStorage.setItem('level', data.response.level);
        localStorage.setItem('speakerid', data.response.speakerid);
        localStorage.setItem('zoneid', data.response.zoneid);
        if(data.response.hash !== undefined) {
          var sessionCookie = data.response.hash;
          document.cookie = "session=" + sessionCookie + ";";
          document.location.href = "/app/"
        } else if (data.response.success){
          document.location.href = "/app/"
        } else {
          console.log(data.response);
          console.log(this);
          this.err = data.response.err;
          console.log(typeof data.response.err);
          this.$.toast.show();
        }
      },
      ready: function() {
      }
    });
  </script>
</dom-module>