<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="/components/speaker-icon.html">

<dom-module id="map-controller">
  <template>
    <style>
      :host {
        display: block;
      }

      .block {
        width: 30px;
        height: 30px;
        position: absolute;
        color: var(--google-grey-700);
      }

      .container {
        width: 100%;
      }

      .container-height {
        max-height: 100%;
      }

      #cont{
        height: 100%;
      }

      #map {

        /*
            There is a problem with this I think because when you use a bigger or smaller scaling then the speakers are misaligned.
        */

        display: block;
        width: 100%;
        height: auto;
        max-height: 100%;
      }

      speaker-icon {
        backdrop-filter: blur(10px);
      }
    </style>
    <div class="container-height layout horizontal center">
      <div class="fit container layout vertical center">
       <!--<div id="cont" on-click="test" style="position: relative;">-->
       <div id="cont" style="position: relative;">
         <img id="map" src="/css/map.png">
         <template is="dom-repeat" items="{{locations}}">
            <speaker-icon id="speaker" on-tap="_iconClicked" on-click="_iconClicked" x="{{item.x}}" y="{{item.y}}" speaker-id="{{item.id}}"></speaker-icon>
         </template>
       </div>
      </div>
    </div>
  </template>
  <script>
    
    Polymer({
      is: 'map-controller',

      behaviors: [
        Polymer.NeonSharedElementAnimatableBehavior
      ],

      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                // provided by neon-animation/animations/scale-up-animation.html
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': [{
                name: 'hero-animation',
                id: 'hero',
                fromPage: this
              },{
                name: 'fade-out-animation',
                node: this
              }]
            }
          }
        }
      },

      test: function(event) {
        var rect = this.$.map.getBoundingClientRect();
        var parentX = rect.left;
        var eventX = event.pageX;
        var x = Math.round(Math.min(Math.max(eventX-parentX-15, 0), this.$.map.width-30));
        var parentY = rect.top;
        var eventY = event.pageY;
        var y = Math.round(Math.min(Math.max(eventY-parentY-15, 0), this.$.map.height-30));


        var div = document.createElement("iron-icon");
        div.icon = "av:volume-up";
        div.className = "block";
        div.style.left = x.toString() + "px";
        div.style.top = y.toString() + "px";


        Polymer.dom(this.$.cont).appendChild(div);

        /*this.locations[2].x = 400;
        this.locations[2].y = 400;
        this.locations[2].id = 109;*/
      },

      _iconClicked: function(event) {
        var evnt = Polymer.dom(event);
        this.sharedElements = {
          'hero': event.target
        };
        /*
          event names must be lowercase
        */
        this.fire('speakerselected', {speakerId: evnt.localTarget.speakerId});
      },

      ready: function () {
        
      },

      attached: function() {
        this.initializeLocations();
      },

      initializeLocations: function() {
          this.async(function(){
            if(this.$.map.naturalWidth == 0) {
              /*
                Sometimes the dimensions aren't accessible
                when this function is executed. If they aren't,
                wait some delay (30ms) and try again.
              */
              this.async(this.initializeLocations, 30);
            } else {
              this.locations = [
                {
                  x: Math.round(570 * (this.$.map.width/this.$.map.naturalWidth)),  // #1
                  y: Math.round(235 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 107
                },                
                {
                  x: Math.round(570 * (this.$.map.width/this.$.map.naturalWidth)),  // #2
                  y: Math.round(360 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 108
                },
                {
                  x: Math.round(570 * (this.$.map.width/this.$.map.naturalWidth)),  // #3
                  y: Math.round(495 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 109
                },
                {
                  x: Math.round(420 * (this.$.map.width/this.$.map.naturalWidth)),  // #4
                  y: Math.round(495 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 110
                },
                {
                  x: Math.round(420 * (this.$.map.width/this.$.map.naturalWidth)),  // #5
                  y: Math.round(365 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 111
                },
                {
                  x: Math.round(420 * (this.$.map.width/this.$.map.naturalWidth)),  // #6
                  y: Math.round(235 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 112
                },
                {
                  x: Math.round(270 * (this.$.map.width/this.$.map.naturalWidth)),  // #7
                  y: Math.round(235 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 113
                },
                {
                  x: Math.round(90 * (this.$.map.width/this.$.map.naturalWidth)),  // #8
                  y: Math.round(232 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 114
                },
                {
                  x: Math.round(88 * (this.$.map.width/this.$.map.naturalWidth)),  // #9
                  y: Math.round(365 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 115
                },
                {
                  x: Math.round(270 * (this.$.map.width/this.$.map.naturalWidth)),  // #10
                  y: Math.round(365 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 116
                },
                {
                  x: Math.round(270 * (this.$.map.width/this.$.map.naturalWidth)),  // #11
                  y: Math.round(500 * (this.$.map.height/this.$.map.naturalHeight)),
                  id: 117
                }];
            }

            console.log(this.locations[0].id, this.locations[0].x, this.locations[0].y);
          });
      }
    });
  </script>
</dom-module>