<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="/components/speaker-icon.html">

<dom-module id="map-controller">
  <template>
    <style>
      :host {
        display: block;
      }

      .block {
        width: 30px;
        height: 30px;
        position: absolute;
        color: var(--google-grey-700);
      }

      .container {
        width: 100%;
      }

      .container-height {
        max-height: 100%;
      }

      #cont{
        height: 100%;
        width: auto;
        display: inline-block;
      }

      #map {

        display: inline-block;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }

      speaker-icon {
        backdrop-filter: blur(10px);
      }
    </style>
    <div class="container-height layout horizontal center">
      <div class="fit container layout vertical center">
       <!--<div id="cont" on-click="test" style="position: relative;">-->
       <div id="cont" style="position: relative;">
         <img id="map" src="/css/map.png">
         <template is="dom-repeat" items="{{locations}}">
            <speaker-icon id="speaker" on-tap="_iconClicked" on-click="_iconClicked" x="{{item.x}}" y="{{item.y}}" speaker-id="{{item.id}}"></speaker-icon>
         </template>
       </div>
      </div>
    </div>
  </template>
  <script>
    
    Polymer({
      is: 'map-controller',

      behaviors: [
        Polymer.NeonSharedElementAnimatableBehavior,
        Polymer.IronResizableBehavior
      ],

      listeners: {
        'iron-resize': '_onIronResize'
      },

      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                // provided by neon-animation/animations/scale-up-animation.html
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': [{
                name: 'hero-animation',
                id: 'hero',
                fromPage: this
              },{
                name: 'fade-out-animation',
                node: this
              }]
            }
          }
        }
      },

      test: function(event) {
        var rect = this.$.map.getBoundingClientRect();
        var parentX = rect.left;
        var eventX = event.pageX;
        var x = Math.round(Math.min(Math.max(eventX-parentX-15, 0), this.$.map.width-30));
        var parentY = rect.top;
        var eventY = event.pageY;
        var y = Math.round(Math.min(Math.max(eventY-parentY-15, 0), this.$.map.height-30));


        var div = document.createElement("iron-icon");
        div.icon = "av:volume-up";
        div.className = "block";
        div.style.left = x.toString() + "px";
        div.style.top = y.toString() + "px";


        Polymer.dom(this.$.cont).appendChild(div);

        /*this.locations[2].x = 400;
        this.locations[2].y = 400;
        this.locations[2].id = 109;*/
      },

      _iconClicked: function(event) {
        var evnt = Polymer.dom(event);
        this.sharedElements = {
          'hero': event.target
        };

        console.log(evnt.localTarget.speakerId);
        /*
          event names must be lowercase
        */
        this.fire('speakerselected', {speakerId: evnt.localTarget.speakerId});
      },

      ready: function () {
        this.originalLocations = [
          {
            x: 570,  // #1
            y: 235,
            id: 107
          },                
          {
            x: 570,  // #2
            y: 360,
            id: 108
          },
          {
            x: 570,  // #3
            y: 495,
            id: 109
          },
          {
            x: 420,  // #4
            y: 495,
            id: 110
          },
          {
            x: 420,  // #5
            y: 365,
            id: 111
          },
          {
            x: 420,  // #6
            y: 235,
            id: 112
          },
          {
            x: 270,  // #7
            y: 235,
            id: 113
          },
          {
            x: 90,  // #8
            y: 232,
            id: 114
          },
          {
            x: 88,  // #9
            y: 365,
            id: 115
          },
          {
            x: 270,  // #10
            y: 365,
            id: 116
          },
          {
            x: 270,  // #11
            y: 500,
            id: 117
          }];
        
      },

      attached: function() {
        this.initializeLocations();
      },

      initializeLocations: function() {
          this.async(function(){
            if(this.$.map.naturalWidth == 0) {
              /*
                Sometimes the dimensions aren't accessible
                when this function is executed. If they aren't,
                wait some delay (30ms) and try again.
              */
              this.async(this.initializeLocations, 30);
            } else {
              var self = this;
              this.locations = this.originalLocations.map(function(loc){
                var newLoc = {
                  x: Math.round(loc.x * (self.$.map.width/self.$.map.naturalWidth)),
                  y: Math.round(loc.y * (self.$.map.height/self.$.map.naturalHeight)),
                  id: loc.id
                };
                return newLoc;
              });
            }

            // This id for debugging to make sure the speakers are getting the correct IDs and coordinates.
            for(i = 0; i < this.locations.length; i++) {
              console.log("Speaker " + i + ": \n\tID:", this.locations[i].id, "\n\tX: ", this.locations[i].x, "\n\tY: ", this.locations[i].y);
            }
          });
      },

      _onIronResize: function() {
        /*
          Is it retarded I have to do this? Yes it is...
          idk why the heck this works, but it does.
        */
        var container = this.$.cont;
        container.style.display="none"; 
        container.offsetWidth;
        container.style.display="inline-block";
        console.log(this);

        // recalculate the positions of the speakers.
        // this code definitely needs some work
        var locations = this.originalLocations;
        // update x / y of icons
        var icons = Polymer.dom(this.$.cont).querySelectorAll("speaker-icon");
        console.log(icons);
        for(var i = 0 ; i < icons.length; i++) {
          var icon = icons[i];
          var x = Math.round(locations[i].x * (this.$.map.width/this.$.map.naturalWidth));
          var y = Math.round(locations[i].y * (this.$.map.height/this.$.map.naturalHeight));
          icon.$.icon.style.left = x.toString() + "px";
          icon.$.icon.style.top = y.toString() + "px";
        }
      }
    });
  </script>
</dom-module> 