<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<link rel="import" href="/components/omaha-navbar.html">
<link rel="import" href="/components/audio-controller.html">
<link rel="import" href="/components/map-controller.html">

<dom-module id="omaha-app">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
      }
      @media (min-width: 500px) {
        audio-controller {
          @apply(--layout-horizontal)
        }
      }

      @media (max-width: 499px) {
        audio-controller {
          @apply(--layout-vertical)
        }
      }

    </style>
        <paper-header-panel class="flex" mode="seamed">
          <omaha-navbar id="nav" selected="{{selected}}" class="paper-header"></omaha-navbar>
          <iron-pages id="app-pages" selected="{{selected}}">
            <audio-controller id="test" volume="21" class="fit"></audio-controller>
            <map-controller class="fit"></map-controller>
            <audio-controller id="s1" volume="21" class="fit"></audio-controller>
            <audio-controller id="s2" volume="21" class="fit"></audio-controller>
          </iron-pages>
          <!-- <audio-controller id="test" volume="21" class="fit"></audio-controller> -->
        </paper-header-panel>
  </template>
  <script>
    Polymer({
      is: 'omaha-app',

      listeners: {
        "nav.iron-select": "_test"
      },

      _test: function(x,y,z) {

        if(selected == "s1") {
          console.log("this is not a drill!!!");
        }

        console.log(x);
        console.log(y);
        console.log(z);
        console.log("just testing");
      }
    });
  </script>
</dom-module>