<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<dom-module id="omaha-drawer">
  <template>
    <style>
      paper-item {
        --paper-item: {
          cursor: pointer;
        };
      }
      .icon {
        --iron-icon-fill-color: #757575;
        margin-left: auto;
      }
    </style>
    <paper-menu attr-for-selected="page" id="menu" selected="{{selected}}">
      <paper-item page="information">Information<iron-icon class="icon" icon="dashboard"></iron-icon></paper-item>
      <paper-item page="map">Map<iron-icon class="icon" icon="maps:map"></iron-icon></paper-item>
      <paper-item page="accountCreation">Admin<iron-icon class="icon" icon="account-circle"></iron-icon></paper-item>
      <!-- <paper-item page="zoneCreation">Zone Creation</paper-item> -->
      <paper-item page="zoneMap">Update Zones<iron-icon class="icon" icon="settings-overscan"></iron-icon></paper-item>
      <paper-item page="paging">Paging<iron-icon class="icon" icon="maps:local-phone"></iron-icon></paper-item>
    </paper-menu>
  </template>
  <script>
    Polymer({
      is: 'omaha-drawer',

      properties: {
        selected: {
          type: String,
          notify: true
        }
      }
    });
  </script>
</dom-module>