<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">

<dom-module id="omaha-navbar">
  <template>
    <style>
      :host{

        --paper-input-container-input-color: white;
        --paper-input-container-underline: {
          background-color: white;
        }
        --paper-dropdown-menu-icon: {
          color: white;
        }
      }

    </style>
      <paper-toolbar>
        <paper-menu-button>
          <paper-icon-button class="dropdown-trigger" icon="menu"></paper-icon-button>
          <paper-menu class="dropdown-content" selected="{{selected}}">
            <paper-item>Map</paper-item>
<!--             <paper-item>Speaker 1</paper-item>
            <paper-item>Speaker 2</paper-item> -->
          </paper-menu>
        </paper-menu-button>
        <div class="title">Project Omaha</div>
<!--         <paper-dropdown-menu no-label-float label="Speaker">
          <paper-menu class="dropdown-content" selected="0">
            <paper-item>Speaker 1</paper-item>
            <paper-item>Speaker 2</paper-item>
          </paper-menu>
        </paper-dropdown-menu> -->
      </paper-toolbar>
  </template>
  <script>
    Polymer({
      is: 'omaha-navbar',

      properties: {
        selected: {
          type: Number,
          notify: true
        }

        //console.log(selected);
      }

      //console.log(selected);
    });
  </script>
</dom-module>