<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">

<link rel="import" href="/components/omaha-navbar.html">
<link rel="import" href="/components/speaker-controller.html">
<link rel="import" href="/components/map-controller.html">
<link rel="import" href="/components/open-map-controller.html">
<link rel="import" href="/components/information-viewer.html">
<link rel="import" href="/components/paging-controller-navbar.html">
<link rel="import" href="/components/scheduling-controller.html">

<link rel="import" href="/components/zones/zone-map-controller.html">
<link rel="import" href="/components/zones/zone-controller.html">
<link rel="import" href="/components/account-creation-form.html">
<link rel="import" href="/components/zone-creation-form.html">
<link rel="import" href="/components/simple-fit.html">
<link rel="import" href="/components/omaha-drawer.html">
<link rel="import" href="/components/login-form.html">

<!-- <link rel="import" href="/components/paging-controller-navbar.html"> -->

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/ >

<dom-module id="omaha-app">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
      }
      @media (min-width: 769px) {
        .controller {
          @apply(--layout-horizontal)
        }
      }

      @media (max-width: 768px) {
        .controller {
          @apply(--layout-vertical)
        }
      }
      paper-drawer-panel {
        --paper-drawer-panel-left-drawer-container: {
          z-index: 2;
        };
      }
    </style>
    <paper-drawer-panel id="panel">
      <omaha-drawer id="drawer" drawer selected="{{selected}}"></omaha-drawer>
      <paper-header-panel class="flex" mode="seamed" main>
        <omaha-navbar id="nav" selected="{{selected}}" class="paper-header"></omaha-navbar>
        <neon-animated-pages on-iron-select="refreshMap" id="pages" attr-for-selected="page" class="fit" id="app-pages" selected="{{selected}}">

          <!-- <information-viewer page="information" id="information" zones="{{zones}}" controllers="[[controllers]]" class="fit"></information-viewer> -->

          <open-map-controller page="map" id="mapcontroller" zones="{{zones}}" controllers="[[controllers]]" class="fit">
          </open-map-controller>

          <zone-map-controller page="zoneMap" id="zoneMap" zones="{{zones}}" controllers="[[controllers]]" class="fit"></zone-map-controller>

          <neon-animatable page="accountCreation" class="layout horizontal" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation">
            <paper-material class="flex self-center card" elevation="5">
              <account-creation-form></account-creation-form>
            </paper-material>
          </neon-animatable> 

          <information-viewer page="information" id="information" zones="{{zones}}" controllers="[[controllers]]" class="fit"></information-viewer>

          <!-- <neon-animatable page="zoneCreation" class="layout horizontal" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation">
            <paper-material class="flex self-center card" elevation="5">
              <zone-creation-form></zone-creation-form>
            </paper-material>
          </neon-animatable> -->

          <paging-controller-navbar page="pagingMap" id="pagingMap" zones="{{zones}}" controllers="[[controllers]]" class="fit">
          </paging-controller-navbar>

          <speaker-controller class="controller" page="speakerController" id="controller" class="fit"></speaker-controller>
          <zone-controller class="controller" page="zoneController" id="zoneController" class="fit"></zone-controller>

        </neon-animated-pages>
        <paper-dialog id="dialog">
          <h2>Error</h2>
          <div>That speaker does not exist on the server</div>
          <div class="buttons layout vertical center">
            <paper-button dialog-confirm>Okay</paper-button>
          </div>
        </paper-dialog>
      </paper-header-panel>
    </paper-drawer-panel>
    <paper-toast id="errorNoAccessToast"></paper-toast>

    <iron-ajax
      id="systemStatusAjax"
      url="/system/"
      content-type="application/json"
      handle-as="json"
      on-response="_initializeStatus"
      debounce-duration="300">
    </iron-ajax>

    <iron-ajax
      id="controllerUpdateAjax"
      url="/system/controllerUpdate/"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="_keepAliveResponse"
      debounce-duration="300">
    </iron-ajax>

  </template>
  <script>

    // this interval should be determined by 1000 * number of controllers

    var zoneFlag = 0;
    var globalZone = 0;

    var localLevel = parseInt(localStorage.getItem("level"));

    var localSpeakerID = parseInt(localStorage.getItem("speakerid"));
    var localZoneID = parseInt(localStorage.getItem("zoneid"));


    var lastSelected = 0;
    var zones;
    var pagingZones;
    //var all
    var displayedZones = {};

    Polymer({
      is: 'omaha-app',

      properties: {        
        selected: {
          type: String,
          value: "map"
        },
        zones: Object,
        controllers: Object
      },

      listeners: {
        'nav.backpressed': '_showMap',
        'drawer.showmap': '_showMap',
        'drawer.iron-select': '_closeDrawer',
        'nav.toggledrawer': '_toggleDrawer',
        'mapcontroller.speakerselected': '_speakerSelected',
        'mapcontroller.zoneselected': '_zoneSelected',
        'controller.equalizer.equalizerMenu.iron-select': '_presetSelectionChanged'
        // put a mapcontroller.logresponse thing here
      },

      _showMap: function() {
        this.selected = "map";
      },

      _presetSelectionChanged: function(event) {    // Why does this have event in the thing? It is not like that in volume selector
        console.log("hi");    // This says the speakerId is undefined
        // dont think we need this
        },

      _speakerSelected: function(e) {
        console.log("this is where i am");
        console.log(this.$);
        var speaker = e.detail.speaker;
        console.log(e);
        console.log(speaker);     // just testing
        console.log(localStorage.getItem("speakerid"));
        /*var speakersFromZones = [];

        console.log(zones.length);
        if(localZoneID != -1) {
          for(var i = 0; i < zones.length; i++) {
            if(zones[i].zoneID == localZoneID) {
              console.log("found it", zones[i].speakers.length, zones[i]);
              for(var j = 0; j < zones[i].speakers.length; j++) {
                speakersFromZones[j] = zones[i].speakers[j].id;
              }
              break;
            }
          }
        }*/

        //console.log(speakersFromZones);

        if(speaker === undefined) {
          this.$.dialog.open();
        } else if(speaker.id == localSpeakerID || speaker.zone.zoneID == localZoneID || localZoneID == 1 || localLevel > 0) {
          this.$.controller.speaker = speaker;
          console.log(this.$.speaker);
          this.$.nav.showBackArrow();

          this.selected = "speakerController";      // Don't put this in another listener because if someone clicks on the speaker and just wants to view, no sense in sending everything

          // Get controller object
          var controller = document.getElementById('controller');

          // Set volume levels
          document.getElementById('volume2').value = this.$.controller.speaker.VolumeLevel[0];
          document.getElementById('volume3').value = this.$.controller.speaker.VolumeLevel[1];
          document.getElementById('volume4').value = this.$.controller.speaker.VolumeLevel[2];
          document.getElementById('volume5').value = this.$.controller.speaker.VolumeLevel[3];

          document.getElementById('musicMin').value = this.$.controller.speaker.LowerThreshold[0];
          document.getElementById('musicMax').value = this.$.controller.speaker.UpperThreshold[0];
          document.getElementById('pagingMin').value = this.$.controller.speaker.LowerThreshold[1];
          document.getElementById('pagingMax').value = this.$.controller.speaker.UpperThreshold[1];
          document.getElementById('maskingMin').value = this.$.controller.speaker.LowerThreshold[2];
          document.getElementById('maskingMax').value = this.$.controller.speaker.UpperThreshold[2];

          console.log(document.getElementById('equalizerMenu'));

          // Set averaging mode
          document.getElementById('effectiveness').value = this.$.controller.speaker.Effectiveness;
          document.getElementById('pleasantness').value = this.$.controller.speaker.Pleasantness;

          // Set paging levels
          document.getElementById('pagingvolume').value = this.$.controller.speaker.VolumeLevel[2];
          document.getElementById("fadetime").value = this.$.controller.speaker.FadeTime;
          document.getElementById("fadelevel").value = this.$.controller.speaker.FadeLevel;

          // Set equalizer bands
          var sliders = document.getElementsByClassName("ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min");
          var handles = document.getElementsByClassName("ui-slider-handle ui-state-default ui-corner-all");

          for (i in controller.speaker.CurrentPreset) {   // this was "current" for some reason
            sliders[i].style.height = (controller.speaker.CurrentPreset[i] + 40) * 2 + "%";    // why does this have to be lower case
            handles[i].style.bottom = (controller.speaker.CurrentPreset[i] + 40) * 2 + "%";
            $("#text" + (parseInt(i) + 1)).val(controller.speaker.CurrentPreset[i]);
            iirConstants[i] = controller.speaker.CurrentPreset[i];
          }
          for (var i = 0; i < controller.speaker.CurrentMusicPreset.length; i++) {   // this was "current" for some reason
            console.log("I am here");
            sliders[i + 21].style.height = (controller.speaker.CurrentMusicPreset[i] + 40) * 2 + "%";
            handles[i + 21].style.bottom = (controller.speaker.CurrentMusicPreset[i] + 40) * 2 + "%";
            $("#text" + (parseInt(i + 21) + 1)).val(controller.speaker.CurrentMusicPreset[i]);
            iirConstants[i + 21] = controller.speaker.CurrentMusicPreset[i];
          }
          for (var i = 0; i < controller.speaker.CurrentPagingPreset.length; i++) {   // this was "current" for some reason
            console.log("I am here");
            sliders[i + 42].style.height = (controller.speaker.CurrentPagingPreset[i] + 40) * 2 + "%";
            handles[i + 42].style.bottom = (controller.speaker.CurrentPagingPreset[i] + 40) * 2 + "%";
            $("#text" + (parseInt(i + 42) + 1)).val(controller.speaker.CurrentPagingPreset[i]);
            iirConstants[i + 42] = controller.speaker.CurrentPagingPreset[i];
          }
          /* this is for the paging
          for (var i = 0; i < controller.speaker.CurrentMusicPreset.length; i++) {   // this was "current" for some reason
            console.log("I am here");
            sliders[i + 21].style.height = (controller.speaker.CurrentMusicPreset[i] + 40) * 2 + "%";
            handles[i + 21].style.bottom = (controller.speaker.CurrentMusicPreset[i] + 40) * 2 + "%";
            $("#text" + (parseInt(i + 21) + 1)).val(controller.speaker.CurrentMusicPreset[i]);
            iirConstants[i + 21] = controller.speaker.CurrentMusicPreset[i];
          }*/

        /*  document.getElementById("targetListbox").selected = "Currently Applied";

          console.log(document.getElementById("targetListbox"));*/

          for (var i = 0; i < this.$.controller.speaker.CurrentTarget.length; i++) {
            dataArray[i] = this.$.controller.speaker.CurrentTarget[i];

            // fix this
            //dataArrayZone[i] = this.$.controller.speaker.zone.CurrentTarget[i];
            dataArrayZone[i] = 0;
          }

          //Polymer.dom.flush() idk if we need this anymore
          var equalizerListbox = document.getElementById("equalizerListbox");
          console.log(Polymer.dom(equalizerListbox).children);

          var motherPolymer = Polymer.dom(equalizerListbox).children; 

          // Remove the paper-items from the last time and the other speakers, basically throwing away the stuff that we dont need
          if(motherPolymer.length > 1) {    // change that 2 to something that is not so fragile      // dont even need to check, think of the numerical analysis of checking
            for (var i = motherPolymer.length - 1; i > 1; i--)
              Polymer.dom(equalizerListbox).removeChild(motherPolymer[i]);
          }

          // Injecting the paper-items for the presets

          if(controller.speaker.PresetNames.length > 0) {
            for (i in controller.speaker.PresetNames) {
              temp = document.createElement("paper-item");
              temp.setAttribute("value", controller.speaker.PresetNames[i].valueOf().replace("\n", ""));
              temp.setAttribute("id", controller.speaker.PresetNames[i].valueOf().replace("\n", ""));
              // temp.setAttribute("speakerId", controller.speaker.speakerId); try doing some optimization stuff with the speakerId
              temp.innerHTML = controller.speaker.PresetNames[i].valueOf().replace("\n", "");
              Polymer.dom(equalizerListbox).appendChild(temp);
            }
          }


          var musicListbox = document.getElementById("musicListbox");
          console.log(Polymer.dom(musicListbox).children);
          var motherPolymer = Polymer.dom(musicListbox).children; 


          // Remove the paper-items from the last time and the other speakers, basically throwing away the stuff that we dont need
          if(motherPolymer.length > 1) {    // change that 2 to something that is not so fragile      // dont even need to check, think of the numerical analysis of checking
            for (var i = motherPolymer.length - 1; i > 1; i--)
              Polymer.dom(musicListbox).removeChild(motherPolymer[i]);
          }

          if(controller.speaker.MusicPresetNames.length > 0) {
            for (i in controller.speaker.MusicPresetNames) {
              temp = document.createElement("paper-item");
              temp.setAttribute("value", controller.speaker.MusicPresetNames[i].valueOf().replace("\n", ""));
              temp.setAttribute("id", controller.speaker.MusicPresetNames[i].valueOf().replace("\n", ""));
              // temp.setAttribute("speakerId", controller.speaker.speakerId); try doing some optimization stuff with the speakerId
              temp.innerHTML = controller.speaker.MusicPresetNames[i].valueOf().replace("\n", "");
              Polymer.dom(musicListbox).appendChild(temp);
            }
          }


          //Polymer.dom.flush() idk if we need this anymore
          var targetListbox = document.getElementById("targetListbox");
          console.log(Polymer.dom(targetListbox).children);
          motherPolymer = Polymer.dom(targetListbox).children; 

          // Remove the paper-items from the last time and the other speakers, basically throwing away the stuff that we dont need
          if(motherPolymer.length > 1) {    // change that 2 to something that is not so fragile      // dont even need to check, think of the numerical analysis of checking
            for (var i = motherPolymer.length - 1; i > 1; i--)
              Polymer.dom(targetListbox).removeChild(motherPolymer[i]);
          }

          if(controller.speaker.TargetNames.length > 0) {
            for (i in controller.speaker.TargetNames) {
              temp = document.createElement("paper-item");
              temp.setAttribute("value", controller.speaker.TargetNames[i].valueOf().replace("\n", ""));
              temp.setAttribute("id", controller.speaker.TargetNames[i].valueOf().replace("\n", ""));
              // temp.setAttribute("speakerId", controller.speaker.speakerId); try doing some optimization stuff with the speakerId
              temp.innerHTML = controller.speaker.TargetNames[i].valueOf().replace("\n", "");
              Polymer.dom(targetListbox).appendChild(temp);
            }
          }
        } else {
          // might make this an onclick so that it will show you where the speaker is
          /*if(localSpeakerID != -1) {
            this.$.errorNoAccessToast.innerHTML = "You only have access to speaker " + localSpeakerID;
          } else {
            this.$.errorNoAccessToast.innerHTML = "You don't have access to any speakers!";
          }

          if(localZoneID != -1) {
            if(this.$.errorNoAccessToast.innerHTML.length == 0) 
              this.$.errorNoAccessToast.innerHTML += "You only have access to zone " + localZoneID;
          } else {
            this.$.errorNoAccessToast.innerHTML += "You don't have access to any zones!";
          }*/

          this.$.errorNoAccessToast.innerHTML = "You only have access to";
          if(localSpeakerID > 0) {
            this.$.errorNoAccessToast.innerHTML += " speaker " + localSpeakerID;
            if(localZoneID > 0)
              this.$.errorNoAccessToast.innerHTML += " and zone " + localZoneID;
          }
          else if(localZoneID > 0)
            this.$.errorNoAccessToast.innerHTML += " zone " + localZoneID;
          else
            this.$.errorNoAccessToast.innerHTML = "You don't have access to anything!";

          this.$.errorNoAccessToast.duration = 2000;
          this.$.errorNoAccessToast.show();
          console.log("{username} does not have access to this speaker");

        }

      },
      
      _zoneSelected: function(e) {
        var zone = e.detail.zone;
        this.$.zoneController.zone = zone;
        this.selected = "zoneController"
        this.$.nav.showBackArrow();



        var zoneVolumePage = document.getElementById("volumeZone"); 
        console.log(volumeZone, this.volumeZone);
        // Set volume levels
        volumeZone.$.volume2.value = zone.VolumeLevel[0];
        volumeZone.$.volume3.value = zone.VolumeLevel[1];
        volumeZone.$.volume4.value = zone.VolumeLevel[2];
        volumeZone.$.volume5.value = zone.VolumeLevel[3];

        volumeZone.$.musicMin.value = zone.LowerThreshold[0];
        volumeZone.$.pagingMin.value = zone.LowerThreshold[1];
        volumeZone.$.maskingMin.value = zone.LowerThreshold[2];
        volumeZone.$.musicMax.value = zone.UpperThreshold[0];
        volumeZone.$.pagingMax.value = zone.UpperThreshold[1];
        volumeZone.$.maskingMax.value = zone.UpperThreshold[2];

        averagingZone.$.effectiveness.value = zone.effectiveness;
        averagingZone.$.pleasantness.value = zone.pleasantness;

        var targetZoneChildren = targetZone.$.adjustment.children;
        
        for(var i = 0; i < targetZoneChildren.length; i++) {
          targetZoneChildren[i].value = zone.currentTarget[i];
        }
        redrawOnInputZone();

        var levelZones = document.getElementsByClassName("levelZone");
        var i = 0;

        for(; i < levelZones.length / 3; i++) {
          levelZones[i].value = zone.currentPreset[i];
          sliders[i + 63].style.height = (zone.currentPreset[i] + 40) * 2 + "%";
          handles[i + 63].style.bottom = (zone.currentPreset[i] + 40) * 2 + "%";
        }

        for(; i < levelZones.length / 3; i++) {
          levelZones[i].value = zone.currentMusicPreset[i];
          sliders[i + 84].style.height = (zone.currentPreset[i] + 40) * 2 + "%";
          handles[i + 84].style.bottom = (zone.currentPreset[i] + 40) * 2 + "%";
        }

        for(; i < levelZones.length / 3; i++) {
          levelZones[i].value = zone.currentPagingPreset[i];
          sliders[i + 105].style.height = (zone.currentPreset[i] + 40) * 2 + "%";
          handles[i + 105].style.bottom = (zone.currentPreset[i] + 40) * 2 + "%";
        }

        pagingZone.$.fadetime.value = zone.PagingLevel[0];
        pagingZone.$.fadelevel.value = zone.PagingLevel[1];
        pagingZone.$.pagingvolume.value = zone.VolumeLevel[2];


        // Test for null / undefined values and set them to a value
       
        if(zone.Equalizer == undefined) {
          zone.Equalizer = [];
        }

        if(zone.MusicEqualizer == undefined) {
          zone.MusicEqualizer = [];
        }

        if(zone.MusicPresetNames == undefined) {
          zone.MusicPresetNames = [];
        }

        if(zone.PagingEqualizer == undefined) {
          zone.PagingEqualizer = [];
        }

        if(zone.PagingPresetNames == undefined) {
          zone.PagingPresetNames = [];
        }

        if(zone.PresetNames == undefined) {
          zone.PresetNames = [];
        }

        if(zone.Target == undefined) {
          zone.Target = [];
        }

        if(zone.TargetNames == undefined) {
          zone.TargetNames = [];
        }
        

        console.log("its zonerino time", zone);
      },

      _initializeStatus: function(event, data) {

        console.log("data", data.response);


        var speakers = [];
        var speakersJustID = [];

        // add zone ID to each speaker

        var callingInnerHTMLString = "";
        var innerHTMLSpeakersString = "";

        var innerHTMLString = "";
        zones = data.response.zones;
        console.log(zones);
        for (var i = 0; i < zones.length; i++) {
          displayedZones[zones[i].name] = undefined;
        }
        var zoneListbox = document.querySelector("#zoneListbox");
        zoneListbox.innerHTML = "";

        console.log("zones", zones);

        zones.forEach(function(zone){
          zone.speakers.forEach(function(speaker){
            speaker.zone = zone;
          });
        })
        // populate the speaker array
        /*
        zones.forEach(function(zone){
        Array.prototype.push.apply(speakers, zone.speakers);
        */
        //console.log(zones);

        callingInnerHTMLString += "<paper-item center-justified flex class=\"pagingZoneStyle\"><font style=\"text-align: center; width: 100%; font-weight: bold;\">Masking Zones:</font></paper-item>";
        console.log(data.response);
        for(var i = 0; i < zones.length; i++) {
          //console.log(zones);
          innerHTMLString += "<paper-item center-justified flex ><font style=\"width: 100%; text-align: center;\">" + zones[i].name + "</font></paper-item>";
          callingInnerHTMLString += "<paper-item center-justified flex id=\"" + zones[i].name + "\" class=\"pagingZoneStyle\" onclick=\"updateViewForSelectedSpeakers(this)\"><font style=\"text-align: center; width: 100%;\">" + zones[i].name + "</font></paper-item>";

          for (var k = 0; k < zones[i].speakers.length; k++) {
            var isItInYetThatsWhatSheSaid = speakersJustID.indexOf(zones[i].speakers[k].id);
            if(isItInYetThatsWhatSheSaid == -1) {
              speakers.push(zones[i].speakers[k]);
              speakersJustID.push(zones[i].speakers[k].id);
            } else {
              speakers[isItInYetThatsWhatSheSaid].zone = zones[i].speakers[k].zone;
            }
          }
        }
        zoneListbox.innerHTML = innerHTMLString;


        innerHTMLString = "";
        pagingZones = data.response.pagingZones;
        //var pagingZoneListbox = document.querySelector("#pagingZoneListbox");
        pagingZoneListbox.innerHTML = "";

        pagingZones.forEach(function(pagingZone){
          pagingZone.speakers.forEach(function(speaker){
            speaker.pagingZone = pagingZone;
          });
        })

        callingInnerHTMLString += "<paper-item center-justified flex><font style=\"text-align: center; width: 100%;\"></font></paper-item>";
        callingInnerHTMLString += "<paper-item center-justified flex class=\"pagingZoneStyle\"><font style=\"text-align: center; width: 100%; font-weight: bold;\">Paging Zones:</font></paper-item>";
        
        for(var i = 0; i < pagingZones.length; i++) {
          displayedZones[pagingZones[i].name] = undefined;
          //console.log(pagingZones[i], pagingZones[i].name);
          //console.log(pagingZones);
          innerHTMLString += "<paper-item id=\"" + pagingZones[i].name + "\" value=\"" + pagingZones[i].name + "\"center-justified flex ><font style=\"width: 100%; text-align: center;\">" + pagingZones[i].name + "</font></paper-item>";

          callingInnerHTMLString += "<paper-item id=\"" + pagingZones[i].name + "\" value=\"" + pagingZones[i].name + "\" center-justified flex class=\"pagingZoneStyle\" onclick=\"updateViewForSelectedSpeakers(this)\"><font style=\"text-align: center; width: 100%;\">" + pagingZones[i].name + "</font></paper-item>";

          for (var k = 0; k < pagingZones[i].speakers.length; k++) {
            var isItInYetThatsWhatSheSaid = speakersJustID.indexOf(pagingZones[i].speakers[k].id);
            if(isItInYetThatsWhatSheSaid == -1) {
              speakers.push(pagingZones[i].speakers[k]);
              speakersJustID.push(pagingZones[i].speakers[k].id);
            } else {
              speakers[isItInYetThatsWhatSheSaid].pagingZone = pagingZones[i].speakers[k].pagingZone;
            }
          }
        } 
        pagingZoneListbox.innerHTML = innerHTMLString;

        var targetListbox = document.getElementById("targetListbox");

          /*for (i in pagingZones) {
            console.log("pagingZones", pagingZones);
            temp = document.createElement("paper-item");
            temp.setAttribute("value", pagingZones[i].name);
            temp.setAttribute("id", pagingZones[i].name);
            // temp.setAttribute("speakerId", controller.speaker.speakerId); try doing some optimization stuff with the speakerId
            temp.innerHTML = pagingZones[i].name;
            Polymer.dom(pagingZoneListbox).appendChild(temp);
          }*/

        // blank
        callingInnerHTMLString += "<paper-item center-justified flex><font style=\"text-align: center; width: 100%;\"></font></paper-item>";
        callingInnerHTMLString += "<paper-item center-justified flex class=\"pagingZoneStyle\"><font style=\"text-align: center; width: 100%; font-weight: bold;\">Named Speakers:</font></paper-item>";
        callingInnerHTMLString += "<paper-item center-justified flex class=\"pagingZoneStyle\" onclick=\"updateViewForSelectedSpeakers(this)\"><font style=\"text-align: center; width: 100%;\">Dummy name</font></paper-item>";



        callingInnerHTMLString += "<paper-item center-justified flex><font style=\"text-align: center; width: 100%;\"></font></paper-item>";
        callingInnerHTMLString += "<paper-item center-justified flex class=\"pagingZoneStyle\"><font style=\"text-align: center; width: 100%; font-weight: bold;\">Speakers:</font></paper-item>";

        console.log(zones[0].speakers[0]);

        for(var k = 0; k < zones[0].speakers.length; k++) {
          displayedZones[zones[0].speakers[k].id] = undefined;
          callingInnerHTMLString += "<paper-item id=\"" + zones[0].speakers[k].id + "\" value=\"" + zones[0].speakers[k].id + "\"  center-justified flex class=\"pagingZoneStyle\" onclick=\"updateViewForSelectedSpeakers(this)\"><font style=\"text-align: center; width: 100%;\">Speaker " + zones[0].speakers[k].id + "</font></paper-item>";
        }


        var callingListbox = document.querySelector("#callingListbox");
        //callingListbox.innerHTML = callingInnerHTMLString;

        var pagingSpeakerHolder = document.querySelector("#pagingSpeakerHolder");    
        pagingSpeakerHolder.innerHTML = callingInnerHTMLString;


        //})
        console.log(this);
        this.controllers = speakers;
        this.zones = zones;
        console.log(this.$);
        this.$.information.renderMap();
        this.$.pagingMap.renderMap();
        this.$.mapcontroller.renderMap();
        this.$.zoneMap.renderMap();
        this.$.zoneMap.renderPagingMap();
      },

      _showAccountCreation: function() {
        this.selected = "accountCreation";
        this.$.nav.showAccountCreation = false;
      },

      _toggleDrawer: function() {
        this.$.panel.togglePanel();
      },
      
      _closeDrawer: function() {
        this.$.panel.closeDrawer();
      },
      
      refreshMap: function() {
        switch(this.$.pages.selected) {
          case "map":
          case "pagingMap":
          case "information":
          case "zoneMap":
            var map = this.$.pages.selectedItem.map;
            console.log("THIS IS THE MAP THING THAT YOU ARE LOOKING FOR " + map);
            if(map !== undefined)
              map.updateSize();
            break;

          default:
            console.log("tell someone of higher authority if you see this, like me, lol");
        }
      },

      _keepAliveResponse: function(event, data) {
        //console.log("Controller update: " + data.response.id + " " + data.response.status);

        //console.log("THIS IS THE DATA RESPONSE YOU ARE LOOKING FOR", this.controllers[data.response.id - 1].status);
        console.log(data.response);
        if(data.response.status !== this.controllers[data.response.id - 1].status) {      // this should be an array and should also have a case statement that will tell it what image to apply
          //console.log(this.controllers[data.response.id - 1].status === 0 ? false : true);
          updateMapForError(data.response.id, (this.controllers[data.response.id - 1].status) === 0 ? true : false);
          //console.log("THIS IS THE DATA RESPONSE YOU ARE LOOKING FOR", data.response.id, data.response.status);
          this.controllers[data.response.id - 1].status = data.response.status;

        }
        //console.log(this.controllers[data.response.id].status);
      },

      ready: function() {       
        this.$.systemStatusAjax.generateRequest();
        this.$.nav.hideBackArrow();
        this.$.panel.forceNarrow = true;

        controllerUpdateAjax = this.$.controllerUpdateAjax;
        setUI();

        (function keepAlive() {                   // this is asynchonous and a better usage that using setInterval
          controllerUpdateAjax.generateRequest();
          setTimeout(keepAlive, 1000);
        })();


        /*var myVar = setInterval(myTimer, 1000);     // this timeout might need to be changed depending on what the client is on device wise and the internet speed that they are using
        function myTimer() {
          var d = new Date();
          console.log(d.toLocaleTimeString());
          //console.log();
          controllerUpdateAjax.generateRequest();
        }*/
      }

    });
  
  function setUI() {
    switch(localLevel) {
      case 0:
        Polymer.dom(mode).removeChild(pagingButtonRC);
        Polymer.dom(mode).removeChild(schedulingButton);
        Polymer.dom(menu).removeChild(averagingButton);
        Polymer.dom(menu).removeChild(accountCreation);
        Polymer.dom(menu).removeChild(mapForZone);
        Polymer.dom(menu).removeChild(mapForPaging);
        // Just let it fall through

      case 1:
        Polymer.dom(mode).removeChild(targetButton);
        Polymer.dom(mode).removeChild(equalizerButton);
        break;

      default:
        console.log("lel");
    }
  }

  $(document).ready(function() {
    var radioContainer = document.getElementById("radio-container");
    var mode = document.getElementById("mode");
    console.log(mode);

    //Polymer.dom(mode).removeChild(targetButton);
    
    //targetButton.style.visibility = "hidden";
    //radioContainer.innerHTML = "<paper-radio-group id=\"mode\" selected=\"{{mode}}\"><paper-radio-button id=\"volumeButton\"     name=\"volume\"     class=\"flex\">Volume</paper-radio-button><paper-radio-button id=\"averagingButton\"  name=\"averaging\"  class=\"flex\">Comfort Ratio</paper-radio-button><paper-radio-button id=\"targetButton\"     name=\"target\"     class=\"flex\">Target</paper-radio-button><paper-radio-button id=\"equalizerButton\"  name=\"equalizer\"  class=\"flex\">Equalizers</paper-radio-button><paper-radio-button id=\"pagingButton\"     name=\"paging\"     class=\"flex\">Paging</paper-radio-button><paper-radio-button id=\"schedulingButton\" name=\"scheduling\" class=\"flex\">Scheduling</paper-radio-button>";
    console.log("THIS IS ME");
  });
  </script>
</dom-module>