<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="/components/speaker-icon.html">
<link rel="import" href="/components/help-panel.html">
<link rel="import" href="/components/speaker-tooltip.html">
<dom-module id="open-map-controller">
  <template>
    <style>
      :host {
        display: block;
      }

      #map {
        height: 100%;
        width: 100%;
      }
      paper-card {
        padding: 10px;
      }
      paper-button {
        background-color: #3367d6;
        color: #fff;
        margin-top: 5px;
        width: 100%;
      }
      #test {
        margin-left: 10px;
      }
    </style>
    <div id="map" class="map">
    </div>
    <paper-card id="popup">  
      <speaker-tooltip id="speaker-tooltip" on-speakerselected="_selectSpeaker" on-zoneselected="_selectZone" speaker="{{selected}}"></speaker-tooltip>
    </paper-card>

    <paper-card id="test">
      <div>Status: Broken :(</div>
    </paper-card>
    <help-panel></help-panel>

    <iron-ajax
          id="frontendSpeakerUpdateAjax"
          url="/system/backtofront/"
          method="POST"
          content-type="application/json"
          handle-as="json"
          on-response="_logResponse"
          debounce-duration="300">
    </iron-ajax>

  </template>
  <script>
    
    Polymer({
      is: 'open-map-controller',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                // provided by neon-animation-animations/fade-out-animation.html
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },
      
      _selectSpeaker: function() {
        this._hideOverlay();
        // here is where we should pass it to the backend i think and quickly get the information
        // this is working
           /* console.log(this.$, "this is in the thing that you added")
            //if(this.isReady) {
              console.log("I am in the open-map-controller and am ready")
              var updatedAttributes = ["speaker"];
              var attributeValues = {
                "volume": this.volumeLevel,
              };
              this.$.frontendSpeakerUpdateAjax.body = {
                "updatedAttributes": updatedAttributes, 
                "attributeValues": attributeValues,
                "speaker": this.speakerId
              };
              this.$.frontendSpeakerUpdateAjax.generateRequest();
           // }*/
      },
      
      _selectZone: function() {
        this._hideOverlay();
      },
      
      _hideOverlay: function() {
        this.overlay.setPosition(undefined);
      },

      _logResponse: function(event, data) {
        console.log(data.response);
        var a = document.getElementById('speaker-tooltip');   // I guess I'll just keep this as 'a'
        
        a.speaker.VolumeLevel[0] = data.response.volume;
        a.speaker.VolumeLevel[1] = data.response.music;
        a.speaker.VolumeLevel[2] = data.response.paging;
        a.speaker.VolumeLevel[3] = data.response.masking;
        a.speaker.AveragingMode = data.response.averaging;
        a.speaker.FadeTime = data.response.fadetime;
        a.speaker.FadeLevel = data.response.fadelevel;

        console.log("Response:", data.response);
        console.log("Speaker:", a.speaker);
        a.speaker.PresetNames = [0];
        a.speaker.Current = [0];

        for (i in data.response.PresetNames) {
          a.speaker.PresetNames[i] = data.response.PresetNames[i];
          console.log(i, data.response.PresetNames[i]);
        }

        for (i in data.response.Current) {
          a.speaker.Current[i] = data.response.Current[i];    // why does this have to be lower case
          console.log(i, data.response.Current[i]);
        }
        console.log("Speaker", a.speaker);
        //speaker.volumeLevel = data.response.volume;
        //console.log(speaker.volumeLevel);
      },
    
      renderMap: function() {
        var mapController = this;
        var container = document.getElementById('popup');
        var overlay = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
          element: container,
          autoPan: true,
          autoPanAnimation: {
            duration: 250
          }
        }));
        
        var tt = document.getElementById('test');
        var tooltip = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
          element: tt,
          autoPan: true,
          autoPanAnimation: {
            duration: 250
          }
        }));
        
        mapController.overlay = overlay;
        
        // Map views always need a projection.  Here we just want to map image
        // coordinates directly to map coordinates, so we create a projection that uses
        // the image extent in pixels.
        var extent = [0, 0, 2200, 1700];
        var projection = new ol.proj.Projection({
          code: 'pixel',
          units: 'pixels',
          extent: extent
        });

        var locations = this.controllers;
        var features = new Array(locations.length);
        for(var i = 0; i < features.length; i++) {
            var coordinates = [locations[i].x, 1700-locations[i].y];
            var point = new ol.geom.Point(coordinates);
            features[i] = new ol.Feature({
              geometry: point,
              speaker: locations[i]
            });
        }
        
        var vectorSource = new ol.source.Vector({
            features: features
        });

        var style = {}
        var allColors = [
          /*'#795548',
          '#ff5722',
          '#ff9800',
          '#ffc107',
          //'--paper-yellow-500', this is kinda hard to see
          '#cddc39',
          '#8bc34a',
          '#009688',
          '#00bcd4',
          '#03a9f4',
          '#2196f3',
          '#3f51b5',
          '#673ab7',
          '#9c27b0',
          '#e91e63',
          '#f44336'*/
          '#3367d6'
        ];
        
        var unusedColors = [
          /*'#795548',
          '#ff5722',
          '#ff9800',
          '#ffc107',
          //'--paper-yellow-500', this is kinda hard to see
          '#cddc39',
          '#8bc34a',
          '#009688',
          '#00bcd4',
          '#03a9f4',
          '#2196f3',
          '#3f51b5',
          '#673ab7',
          '#9c27b0',
          '#e91e63',
          '#f44336'*/
          '#3367d6'
        ];
        var colorMap = {};
        
        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: function(feature, resolution) {
              var zone = feature.getProperties().speaker.zone.name;
                if(!(zone in colorMap)) {
                  var color;
                  if(unusedColors.length > 0) {
                    var index = Math.floor(Math.random() * unusedColors.length)
                    color = unusedColors[index]
                    unusedColors.splice(index, 1);
                  } else {
                    color = colors[Math.floor(Math.random() * colors.length)]
                  }

                  colorMap[zone] = color;
                }
                if(!(zone in style) || style[zone].resolution !== resolution) {
                  style[zone] = {};
                  style[zone].style = [new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 15/Math.max(resolution,1),
                            stroke: new ol.style.Stroke({
                                color: '#000000'
                            }),
                            fill: new ol.style.Fill({
                                color: colorMap[zone]
                            })
                        })
                    })];
                    style[zone].resolution = resolution;
                }
                return style[zone].style;
            }
        });

        var map = new ol.Map({
          layers: [
            new ol.layer.Image({
              source: new ol.source.ImageStatic({
                url: '/css/map.png',
                projection: projection,
                imageExtent: extent
              })
            }),
              vectorLayer
          ],
          overlays: [overlay, tooltip],
          target: 'map',
          view: new ol.View({
            projection: projection,
            center: ol.extent.getCenter(extent),
            zoom: 2
          })
        });
        mapController.map = map;

        var select = new ol.interaction.Select({
          style: function(feature, resolution) {
                var zone = feature.getProperties().speaker.zone.name;
                return style[zone].style;
            }
        });
        map.addInteraction(select);

        select.on('select', function(e) {
            if(e.selected.length > 0) {
              console.log("Selected");
              var speaker = e.selected[0].getProperties().speaker
              console.log(e)
              console.log(speaker);



              var frontendSpeakerUpdateAjax = document.getElementById("frontendSpeakerUpdateAjax");
              console.log("If I do say myself sir, this is a pretty snazzy way to go about doing this!");
              frontendSpeakerUpdateAjax.body = {
                "speaker": speaker.id
              };
              console.log("frontendSpeakerUpdateAjax ", frontendSpeakerUpdateAjax.body);
              frontendSpeakerUpdateAjax.generateRequest(); 



              mapController.selected = speaker;
              // get the point's coordinate
              var coordinate = e.selected[0].getProperties().geometry.getCoordinates();
              overlay.setPosition(coordinate);
              console.log(colorMap);
            } else {
              // make sure the overlay is hidden
              mapController._hideOverlay();
            }
        });
        
        var hoverInteraction = new ol.interaction.Select({
            condition: ol.events.condition.pointerMove,
            style: function(feature, resolution) {
                return style.style;
            }
        });
        //map.addInteraction(hoverInteraction);
        hoverInteraction.on('select', function(e){
          if(e.selected.length > 0) {
              console.log("Selected");
              var speaker = e.selected[0].getProperties().speaker
              console.log(speaker);
              var coordinate = e.selected[0].getProperties().geometry.getCoordinates();
              tooltip.setPosition(coordinate);
            }
        })
      }
    });
  </script>
</dom-module> 