<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/components/omaha-app.html">


<dom-module id="paging-controller">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%;
        text-align: center;
      }
     
      paper-slider {
        width: 100%;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 10px;
      }
    </style>
   <paper-card heading="Fade Time" elevation="4">
      <div class="card-content">

        <div id="slider" class="layout horizontal">
          <paper-icon-button icon="remove" on-click="decrementVolume"></paper-icon-button>
          <paper-slider id="fadetime" pin min="0" max="100" value="{{internalFadeTime}}"></paper-slider>
          <paper-icon-button icon="add" on-click="incrementVolume"></paper-icon-button>
        </div>
        
        <h1 id="fadelevelabel"> Fade Level </h1>

        <div id="slider2" class="layout horizontal">
          <paper-icon-button icon="remove" on-click="decrementVolume"></paper-icon-button>
          <paper-slider id="fadelevel" pin min="0" max="100" value="{{internalFadeLevel}}"></paper-slider>
          <paper-icon-button icon="add" on-click="incrementVolume"></paper-icon-button>
        </div>

        <h1 id="pagingvolumelabel"> Paging Volume </h1>

        <div id="slider3" class="layout horizontal">
          <paper-icon-button icon="remove" on-click="decrementVolume"></paper-icon-button>
          <paper-slider id="pagingvolume" pin min="1" max="100" value="{{internalPagingVolume}}"></paper-slider>
          <paper-icon-button icon="add" on-click="incrementVolume"></paper-icon-button>
        </div>
      </div>

      <div id="pagingButtonsHolder" class="card-actions">
        <paper-button on-click="_setPagingClicked">set paging</paper-button>
        <paper-button id="sendPageButton" on-click="_sendPageClicked">send paging</paper-button>
      </div>
    </paper-card>
    <paper-toast id="toast">Paging set to <span>{{paging}}</span></paper-toast>
    <paper-toast id="toasty">Making a paging request to speaker <span>{{speakerId}}</span></paper-toast>
    
    <iron-ajax
          id="pagingRequest"
          url="/system/pagingRequest/"
          method="POST"
          content-type="application/json"
          handle-as="json"
          on-response="_logResponse"
          debounce-duration="300">
    </iron-ajax>

    <iron-ajax
          id="updatePagingValuesZone"
          url="/system/zone/updatePagingValuesZone/"
          method="PUT"
          content-type="application/json"
          handle-as="json"
          on-response="_logResponse"
          debounce-duration="300">
    </iron-ajax>


  </template>
  <script>
    var on = 0;

    Polymer({
      is: 'paging-controller',
      
      properties: {
        internalFadeTime: String,

        speaker: {
          type: Object
        },

        speakerId: {
          type: Number
        },

        paging: {
          type: String,
          notify: true,
          observer: '_setInternalPaging'
        },

        value: {
          type: String
        }
      },

      /**
       * setInternalPaging sets the value of the internal variable so that it can track itself.
       */
      _setInternalPaging: function(paging) {
        this.internalFadeTime = paging;
        //console.log("_setInternalPaging");
      },
      
      /**
       * This function sets the internal paging value to a string concatenation of the fade time, fade level, and paging volume.
       * When this is fired it updates the server of the new values.
       */
      _setPagingClicked: function() {
        if(zoneFlag == 0) {
          this.paging = this.internalFadeTime + " " + this.internalFadeLevel + " " + this.internalPagingVolume;
          this.$.toast.show();
        } else {
          this.$.updatePagingValuesZone.body = {
            "zone": speaker.zone.zoneID,
            "fadeTime": this.internalFadeTime,
            "fadeLevel": this.internalFadeLevel,
            "pagingVolume": this.internalPagingVolume
          };

          this.$.updatePagingValuesZone.generateRequest();
          //console.log(this.$.updatePagingValuesZone.body);
          //console.log("hi");
        }
      },

      _sendPageClicked: function() {
        //console.log(on);
        if(on == 1) {
          //console.log("on");
          on--;
          //Polymer.dom(sendPageButton).innerHTML = "stop page";
          this.$.sendPageButton.innerHTML = "send page";
        } else {
          //console.log("off");
          on++;
          this.$.sendPageButton.innerHTML = "stop page";
          //Polymer.dom(sendPageButton).innerHTML = "send page";
        }

        this.$.pagingRequest.body = {
            "speaker": this.speakerId
        };
        this.$.pagingRequest.generateRequest();

        //console.log("Making a paging request ", this.speakerId, this.$.pagingRequest.body);
        this.$.toasty.show();
      },

      _logResponse: function(event, data) {
        //console.log(data.response);
      },

      ready: function() {
        this.internalFadeTime = this.paging;
        //console.log("I am ready from paging " + this.internalFadeTime);
      }
    });
  </script>
</dom-module>