<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="/components/simple-fit.html">
<link rel="import" href="/components/information-viewer.html">
<link rel="import" href="/components/volume-selector.html">
<link rel="import" href="/components/target-selector.html">
<link rel="import" href="/components/averaging-controller.html">
<link rel="import" href="/components/equalizer-controller.html">
<link rel="import" href="/components/paging-controller.html">
\

<!--<link rel="import" href="/components/map-controller.html">-->
<dom-module id="paging-controller-navbar">
  <template>
    <style>
     :host {
        display: block;
      }
     
      .container {
        width: 100%;
      }
      
      .container-height {
        height: 100%;
      }
      
      volume-selector {
        width: 70%;
      }
      
      paging-controller {
        width: 70%;
      }

      paper-card {
        width: 100%;
        text-align: center;
      }

      equalizer-controller {
        width: 90%;
        min-width: 300px;
        /*height: calc(60% + calc(.6 * 100vw));*/
        height: 100%;
      }

      averaging-controller {
        width: 80%;
        height: 100%;
      }

      @media (min-width: 769px) {
        paper-radio-group {
          @apply(--layout-vertical);
        }

        paper-radio-button {
          @apply(--layout-horizontal);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-horizontal)
        }
      }

      @media (max-width: 768px) {
        paper-radio-group {
          @apply(--layout-horizontal)
        }
        paper-radio-button {
          @apply(--layout-vertical);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-vertical)
        }

        volume-selector, light-controller {
          margin-top: 20px;
        }
      }    
    </style>

    <paper-card heading="Information" elevation="4">
    	<div class="card-content"></div>
    	<div class="card-actions"></div>
    </paper-card>

  </template>
  <script>
  /*console.log(screen.orientation.angle);
  $( window ).on( "orientationchange", function( event ) {
  $( "#orientation" ).text( "This device is in " + event.orientation + " mode!" );
});*/

    Polymer({
      is: 'paging-controller-navbar',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        speaker: {
          type: Object,
          observer: "_speakerUpdated"
        },

        isReady: {
          type: Boolean,
          value: false
        },

        mode: {
          type: String,
          value: "information"
        },

        speakerId: {
          type: Number,
          value: 0
        },

        ledOn: {
          type: Boolean,
          value: true,
          observer: '_ledUpdate'
        },

        volumeLevel: {    // this shit and all the other shitters were volumeone for some reason ??? changed to volumeLevel
          type: String,
          value: "0",
          observer: '_volumeUpdate'
        },
        
        musicLevel: {
          type: Number,
          value: 0
        },

        pagingLevel: {
          type: String,
          value: "0",
          observer: '_pagingUpdate'
        },

        equalizerone: {
          type: String,
          value: "0",
          observer: '_equalizerUpdate'
        },

        animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                // provided by neon-animation-animations/fade-out-animation.html
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },

      _speakerSelected: function() {
          console.log("this shit is working");
      },

      _ledUpdate: function() {
        /*
          We only want to notify the server of changes if this is after ready() has been called.
          This is because _ledUpdate is triggered when initially setting values received from the server
        */
        if(this.isReady) {
          var updatedAttributes = ["led"];
          var attributeValues = {
            "led": this.ledOn,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
      },

      _volumeUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["volume"];
          var attributeValues = {
            "volume": this.volumeLevel,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          console.log(this.$, this, "this is the stuff yo")
          this.$.speakerUpdateAjax.generateRequest();
        }
        console.log("_volumeUpdate " + this.volumeLevel);
      },

      me: function() {
        console.log(document.getElementById("target-selector"));

      },

      _pagingUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["paging"];
          var attributeValues = {
            "paging": this.pagingLevel,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
        console.log("_pagingUpdate " + this.pagingLevel);
      },

      /*
      _musicVolumeUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["musicVolume"];
          var attributeValues = {
            "musicVolume": this.musicVolumeLevel,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
        console.log("_musicVolumeLevel " + this.musicVolumeLevel);
      },
      */

      _equalizerUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["equalizer"];
          var attributeValues = {
            "equalizer": this.equalizerone,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
      },

      _logResponse: function(event, data) {
        console.log(data.response);
      },

      _initializeStatus: function(speaker) {
        this.speakerId = speaker.id;
        this.ledOn = speaker.ledOn;
        this.volume = speaker.VolumeLevel[0];
        this.equalizer = speaker.equalizerone;
      },

      _speakerUpdated: function() {
        this.isReady = false;
        this._initializeStatus(this.speaker);
        this.isReady = true;
      },

      ready: function() {
        console.log(document.getElementById('target'));
        if(this.speaker !== undefined)
          this._initializeStatus(this.speaker);
        this.isReady = true;
      }
    });
  </script>
</dom-module>