<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<!--<link rel="import" href="/bower_components/paper-checkbox//paper-checkbox.html">-->

<dom-module id="paging-controller">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%
      }
     
      paper-slider {
        width: 100%;
      }
      
      paper-button {
        background-color: #3367d6;
        color: #fff;
        margin-top: 10px;
      }
    </style>
   <paper-card heading="Fade Time" elevation="4">
      <div class="card-content">

        <div id="fadetime" class="layout horizontal">
          <paper-icon-button icon="remove" on-click="decrementVolume"></paper-icon-button>
          <paper-slider id="fadetime" pin min="0" max="100" value="{{internalFadeTime}}"></paper-slider>
          <paper-icon-button icon="add" on-click="incrementVolume"></paper-icon-button>
        </div>

        <!--<paper-checkbox> Music </paper-checkbox>-->
        
        <h1 id="fadelevelabel"> Fade Level </h1>

        <div id="fadelevel" class="layout horizontal">
          <paper-icon-button icon="remove" on-click="decrementVolume"></paper-icon-button>
          <paper-slider id="fadelevel" pin min="0" max="100" value="{{internalFadeLevel}}"></paper-slider>
          <paper-icon-button icon="add" on-click="incrementVolume"></paper-icon-button>
        </div>

        <h1 id="pagingvolume"> Paging Volume </h1>

        <div id="slider2" class="layout horizontal">
          <paper-icon-button icon="remove" on-click="decrementVolume"></paper-icon-button>
          <paper-slider id="volume4" pin min="1" max="100" value="{{internalPagingVolume}}"></paper-slider>
          <paper-icon-button icon="add" on-click="incrementVolume"></paper-icon-button>
        </div>
      </div>

      <div class="card-actions">
        <paper-button on-click="_setPagingClicked">set paging</paper-button>
        <paper-button on-click="_sendPageClicked">send page</paper-button>
      </div>
    </paper-card>
    <paper-toast id="toast">Paging set to <span>{{paging}}</span></paper-toast>
  </template>
  <script>
    Polymer({
      is: 'paging-controller',
      
      properties: {
        internalFadeTime: String,

        paging: {     // I think this 
          type: String,
          notify: true,
          observer: '_setInternalPaging'
        },

        speakerId: {
          type: Number
        }
      },

     /* properties: {
        internalLevel: Number,

         level: {
          type: Number,
          notify: true,
          observer: '_setInternalLevel'
        },

        speakerId: {
          type: Number
        }
      },
*/
      _setInternalPaging: function(paging) {
        this.internalFadeTime = paging;
        console.log("_setInternalPaging");
      },

      /*
      _setInternalLevel: function(level) {
        this.internalLevel = this.level;
        console.log("_setInternalLevel");
      },
      */
      
      _setPagingClicked: function() {
        this.paging = this.internalFadeTime + " " + this.internalFadeLevel + " " + this.internalPagingVolume;
        this.$.toast.show();
        console.log("_setPagingClicked");
      },

      _sendPageClicked: function() {
        // fix this
      },

      // change these to work for all the sliders
      
      /*
      decrementVolume: function() {
        this.$.volume2.decrement();
        this.$.volume2._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      incrementVolume: function() {
        this.$.volume2.increment();
        this.$.volume2._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      
      resetKnob: function(elem) {
        elem.prevTimeout = 0;
        elem.$.volume2._resetKnob();
      },

      */

      ready: function() {

        //this.internalVolume = this.volume;
        //console.log("I am ready " + this.internalVolume + " " + this.internalMusicVolume + " " + this.internalPagingVolume);


        this.internalFadeTime = this.paging;
        console.log("I am ready from paging " + this.internalFadeTime);
      }
    });
  </script>
</dom-module>