<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/components/simple-fit.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<script src="Chart.js" type="text/jscript"></script>
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>

<dom-module id="scheduling-controller" class="layout horizontal">

  <template>

    <style>
      :host {
        display: block;
      }

      #map {
        height: 100%;
        width: 100%;
      }

      paper-card {
        padding: 10px;
        width: 100%;
        text-align: center;
      }

      #zoneBtn {
        background-color: #4285f4;
        color: #fff;
        margin-top: 5px;
        width: 100%;
      }
      
      #pageContainer {
        text-align: center;
        height: 100%;
      }

      #zoneMap {
        height: 100%;
      }

      #mainContainer {
        overflow-y: hidden;
      }

      #mainContainer.paper-header-panel {
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        height: 100%;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
      }

      paper-input /deep/ #input {
        margin-top: 0px;
        text-align: center;
      }

      paper-item::shadow .button-content {
        padding: 0;
        width: 100%;
        text-align: center;
      }

      .pagingZoneStyle {
        background: rgba(63, 81, 181, .1); 
        border-style: solid; 
        border-radius: 5px; 
        border-width: 1px; 
        border-color: #3f51b5; 
        margin: 5px; 
      }

      .times {
        width: calc(.02 * 100vw);
        margin-right: calc(.0118 * 100vw);
        margin-top: calc(-.015 * 100vh);
      }

    </style>
    <paper-card heading="Scheduling" elevation="4">
      <div id="card-content" class="card-content" style="height: calc(.44 * 100vh);">

      	<paper-radio-group id="schedulingSelector" selected="{{mode}}">
          <paper-radio-button id="basicModeButton" 			name="basic"     onclick="drawBasic()" class="flex">Basic</paper-radio-button>
          <paper-radio-button id="advancedModeButton"   name="advanced"  onclick="drawAdvanced()" class="flex">Advanced</paper-radio-button>
        </paper-radio-group>
        <neon-animated-pages attr-for-selected="page" selected="[[mode]]" class="flex">

        	<neon-animatable page="basic" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
            <simple-fit class="container">
            <div id="basic_container" style="margin-top: calc(.4 * 100vh);">
              <h3>Ramp Up</h3>
            	<div id="rampUpContainer" class="horizontal layout">
            		<!-- 
            		<paper-input id="rampUpTime"	name="rampUpTime"		on-input="" style="width: 166px; margin-left: calc(.006 * 100vw);" label="Time" ></paper-input>
            		-->
            		<paper-dropdown-menu id="upTime" name="upTime" label="Ramp Up Time">
								  <paper-listbox id="upTimeListBox" class="dropdown-content" style="width: 100px; overflow-x: hidden;">
								    <paper-item value="00:00">00:00</paper-item>
								    <paper-item value="01:00">01:00</paper-item>
								    <paper-item value="02:00">02:00</paper-item>
								    <paper-item value="03:00">03:00</paper-item>
								    <paper-item value="04:00">04:00</paper-item>
								    <paper-item value="05:00">05:00</paper-item>
								    <paper-item value="06:00">06:00</paper-item>
								    <paper-item value="07:00">07:00</paper-item>
								    <paper-item value="08:00">08:00</paper-item>
								    <paper-item value="09:00">09:00</paper-item>
								    <paper-item value="10:00">10:00</paper-item>
								    <paper-item value="11:00">11:00</paper-item>
								    <paper-item value="12:00">12:00</paper-item>
								    <paper-item value="13:00">13:00</paper-item>
								    <paper-item value="14:00">14:00</paper-item>
								    <paper-item value="15:00">15:00</paper-item>
								    <paper-item value="16:00">16:00</paper-item>
								    <paper-item value="17:00">17:00</paper-item>
								    <paper-item value="18:00">18:00</paper-item>
								    <paper-item value="19:00">19:00</paper-item>
								    <paper-item value="20:00">20:00</paper-item>
								    <paper-item value="21:00">21:00</paper-item>
								    <paper-item value="22:00">22:00</paper-item>
								    <paper-item value="23:00">23:00</paper-item>
								  </paper-listbox>
								</paper-dropdown-menu>
            		<paper-input id="rampUpLevel"	name="rampUpLevel"	on-input="" style="width: 166px; margin-left: 25px; float: right;" label="Percentage" ></paper-input>
            	</div>

            	<h3 style="margin-top: calc(.02 * 100vw)">Ramp Down</h3>
            	<div id="rampDownContainer" class="horizontal layout" style="margin-top: calc(.005 * 100vw);">
            		<!--
            		<paper-input id="rampDownTime"	name="rampDownTime"		on-input="" style="width: 166px; margin-left: calc(.006 * 100vw);" label="Time" ></paper-input>
            		-->
            		<paper-dropdown-menu id="downTime" name="downTime" label="Ramp Down Time">
								  <paper-listbox id="downTimeListBox" class="dropdown-content" style="width: 100px; overflow-x: hidden;">
								    <paper-item value="00:00">00:00</paper-item>
								    <paper-item value="01:00">01:00</paper-item>
								    <paper-item value="02:00">02:00</paper-item>
								    <paper-item value="03:00">03:00</paper-item>
								    <paper-item value="04:00">04:00</paper-item>
								    <paper-item value="05:00">05:00</paper-item>
								    <paper-item value="06:00">06:00</paper-item>
								    <paper-item value="07:00">07:00</paper-item>
								    <paper-item value="08:00">08:00</paper-item>
								    <paper-item value="09:00">09:00</paper-item>
								    <paper-item value="10:00">10:00</paper-item>
								    <paper-item value="11:00">11:00</paper-item>
								    <paper-item value="12:00">12:00</paper-item>
								    <paper-item value="13:00">13:00</paper-item>
								    <paper-item value="14:00">14:00</paper-item>
								    <paper-item value="15:00">15:00</paper-item>
								    <paper-item value="16:00">16:00</paper-item>
								    <paper-item value="17:00">17:00</paper-item>
								    <paper-item value="18:00">18:00</paper-item>
								    <paper-item value="19:00">19:00</paper-item>
								    <paper-item value="20:00">20:00</paper-item>
								    <paper-item value="21:00">21:00</paper-item>
								    <paper-item value="22:00">22:00</paper-item>
								    <paper-item value="23:00">23:00</paper-item>
								  </paper-listbox>
								</paper-dropdown-menu>
            		<paper-input id="rampDownLevel"	name="rampDownLevel"	on-input="" style="width: 166px; margin-left: 25px; float: right;" label="Percentage" ></paper-input>
            	</div>
           		<h3 style="margin-top: calc(.02 * 100vw)">Ramp Interval</h3> 
           		<div>
           			<paper-input id="rampInterval"	name="rampInterval"		on-input="" style="width: 166px; margin-left: 28%;" label="Interval" ></paper-input>
           		</div>
            </div>
            </simple-fit>
        	</neon-animatable>

          <neon-animatable page="advanced" style="height: calc(.6 * 100vh);" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
            <simple-fit class="container">
            <div>
							<canvas id="timingChart" style="margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);" class="chartClass"></canvas>
			        <div class="horizontal layout" id="adjustment" style="height: calc(.025 * 100vh); margin-top: calc(.0 * 100vh); margin-bottom: 10px;">
			          <paper-input class="times" name="00:00"   on-input="redrawTimingOnInput" center-justified style="margin-left: calc(.025 * 100vw);"></paper-input>
			          <paper-input class="times" name="01:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="02:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="03:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="04:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="05:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="06:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="07:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="08:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="09:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="10:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="11:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="12:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="13:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="14:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="15:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="16:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="17:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="18:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="19:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="20:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="21:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="22:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="23:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="24:00"   on-input="redrawTimingOnInput" ></paper-input>
			        </div>
			       </div>
            </simple-fit>
          </neon-animatable>
        </neon-animated-pages>
	    </div>
			<div class="card-actions">
			  <paper-dropdown-menu id="dayMenu" style="margin-top: 10px; margin-left: calc(0 * 100vw); overflow-x: hidden;" no-label-float label="Day:" vertical-align="top" horizontal-align="left">
		    	<paper-listbox id="dayListbox" style="width: 150px; overflow-x: hidden;" attr-for-selected="value" selected="{{selection}}" class="dropdown-content" value="0">
		          <!--<template if="{{this.speaker.Response}}">
		            <paper-dropdown-menu selected="{{selected}}">
		              <template repeat="{{label in this.speaker.PresetNames}}">
		                <paper-item value="{{i}}" label="{{label}}"></paper-item>
		              </template>
		            </paper-dropdown-menu>  
		          </template>-->   
			      <paper-item id="Sunday" value="0">Sunday</paper-item>
			      <paper-item id="Monday" value="1">Monday</paper-item>
			      <paper-item id="Tuesday" value="2">Tuesday</paper-item>
			      <paper-item id="Wednesday" value="3">Wednesday</paper-item>
			      <paper-item id="Thursday" value="4">Thursday</paper-item>
			      <paper-item id="Friday" value="5">Friday</paper-item>
			      <paper-item id="Saturday" value="6">Saturday</paper-item>
			      <paper-item id="Entire Week" value="6">Work Week Only</paper-item>
			      <paper-item id="Weekend Only" value="6">Weekend Only</paper-item>
			      <paper-item id="Entire Week" value="6">Entire Week</paper-item>
			    </paper-listbox>
			  </paper-dropdown-menu>

			  <paper-button center-justified flex dialog-dismiss style="margin-top: 10px; margin-left: calc(.01 * 100vw);" on-click="scheduleTime">Apply</paper-button>
			</div>
		</paper-card>
                  <!-- A rougue missing tag, why is this here? -->
  	<paper-toast id="toast"></span>Zone Created!</paper-toast>
    <!-- <paper-card id="popup">
      <div>Current Zone: <span><b>{{selected.zone.name}}</b></span></div>
      <div><paper-button id="zoneBtn" on-click="_assignZone">assign zone</paper-button></div>
    </paper-card> -->
    <paper-dialog id="dialog">
      <zone-assigner on-zoneupdated="_refreshSpeaker" id="zoneAssigner" speaker="{{selected}}" zones="{{zones}}"></zone-assigner>
    </paper-dialog>



  	<paper-dialog id="zoneDialog" heading="this is a title" entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true">
    <h1 style="text-align: center;">Calling selected...</h1>
    <!-- <div style="text-align: center;">Enter a name for the new zone below</div> -->
    <!-- <div class="message">{{err}}</font></div> -->
    <!-- <paper-input id="popupInput" label="" placeholder="Enter Name for Zone" text-align="center"></paper-input> -->



			<paper-toast id="errorAdjustToast"></paper-toast>
    <div class="buttons" class="layout horizontal">
    <!-- <paper-button ondialog-confirm on-click="_acceptPressed">Create</paper-button> -->
    	<paper-button center-justified flex dialog-dismiss style="margin: 0.5em 4.5em .5em 0em;" on-click="_cancelPressed">Cancel</paper-button>
  	</div>


    <iron-ajax
      id="scheduleTimeAjax"
      url="/system/scheduleTime/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">
    </iron-ajax>


    <!-- <help-panel></help-panel> -->
  </template>

<script>
	var schedulingMode;

  var myChart_timing; 

  var canvas_timing = document.getElementById("timingChart");
  var chart_width_scalar_timing = .8;
  var chart_height_scalar_timing = .52;

  function drawBasic() {

  	var localWidth = $(window).width() * .20;
  	var localHeight = $(window).height() * .5;
  	
  	document.getElementById("card-content").style.width = localWidth + "px";
  	document.getElementById("card-content").style.height = localHeight + "px";
	}

  function drawAdvanced() {
    var localWidth = $(window).width() * .82;
  	var localHeight = ($(window).height() + 36) * .62;

  	document.getElementById("card-content").style.width = localWidth + "px";
  	document.getElementById("card-content").style.height = localHeight + "px";

    canvas_timing = document.getElementById("timingChart");
    canvas_timing.width = $(window).width() * chart_width_scalar_timing;
    canvas_timing.height = $(window).height() * chart_height_scalar_timing;

    $(document.getElementsByClassName("times")).each(function(i) {
      this.value = timingDataArray[i];
    });
    myChart_timing = new Chart(canvas_timing.getContext("2d")).Line(timingData, timingLineAttributes);
	}

  $(window).resize(function() {
  	if(schedulingMode.selected == "advanced") {
	    $($(canvas_timing).parent()).prepend("<canvas id=\"timingChart\" style=\"margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);\" class=\"chartClass\"></canvas>");

	    canvas_timing.remove();		

	    var localWidth = $(window).width() * .82;
	  	var localHeight = ($(window).height() + 36) * .62;

	  	document.getElementById("card-content").style.width = localWidth + "px";
	  	document.getElementById("card-content").style.height = localHeight + "px";

	    canvas_timing = document.getElementById("timingChart");
	    canvas_timing.width = $(window).width() * chart_width_scalar_timing;
	    canvas_timing.height = $(window).height() * chart_height_scalar_timing;
	    myChart_timing = new Chart(canvas_timing.getContext("2d")).Line(timingData, timingResizeLineAttributes);
	  } else if(schedulingMode.selected == "basic") {	
  		var localHeight = $(window).height() * .5;
  		document.getElementById("card-content").style.height = localHeight + "px";
	  }
  });

  var timingDataArray = [10, 10, 10, 10, 10, 10, 25, 45, 80, 100, 100, 100, 100, 100, 100, 100, 100, 100, 80, 45, 25, 10, 10, 10, 10];

  //var labels = ["7 AM", "8 AM", "9 AM", "10 AM", "11 AM", "12 PM", "1 PM", "2 PM", "3 PM", "4 PM", "5 PM", "6 PM", "7 PM", "8 PM", "9 PM", "10 PM", "11 PM", "12 AM", "1 AM", "2 AM", "3 AM", "4 AM", "5 AM", "6 AM"];

  var timingLabels = ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00", "24:00"];

  var timingData = {
    labels: timingLabels,
    datasets: [{
      fillColor: "rgba(63, 81, 181, 0.25)",
      strokeColor: "#3f51b5",
      pointColor: "#fff",
      pointStrokeColor: "#3f51b5",  
      data: [10, 10, 10, 10, 10, 10, 25, 45, 80, 100, 100, 100, 100, 100, 100, 100, 100, 100, 80, 45, 25, 10, 5, 8, 10]
    }]
  };

  var timingLineAttributes = {
    scaleOverride: true,
    scaleSteps: 10,   
  	scaleLabel : "<%= value + \"%\" %>",
    scaleStartValue: 0,
    scaleStepWidth: 10,
    scaleShowLabels: true,
    scaleFontSize: 12,
  };


  var timingResizeLineAttributes = {
    animation: false,
    scaleOverride: true,
    scaleSteps: 10,
    scaleStartValue: 0,
    scaleStepWidth: 10,
    scaleShowLabels: true,
    scaleFontSize: 12,
  };

  var timingRedrawLineAttributes = {
    showTooltips: true,
    scaleOverride: true,
    scaleSteps: 10,
    scaleStartValue: 0,
    scaleStepWidth: 10,
    scaleShowLabels: true,
    scaleFontSize: 12,
  };
	
 Polymer({
      is: 'scheduling-controller',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
      	animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                // provided by neon-animation-animations/fade-out-animation.html
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },

      scheduleTime: function() {

	      var scheduleTimeAjax = document.querySelector("#scheduleTimeAjax");

	      if(schedulingMode.selected == "advanced") {
			    var times = document.getElementsByClassName("times");
					var timesArray = [];
					for (var i = 0; i < times.length; i++) {
						var timesParse = parseInt(times[i].value);

						if(isNaN(timesParse)) {
							return;
						}
						timesArray.push(timesParse);
					}

					scheduleTimeAjax.body = {
						"times": timesArray,
						"day": parseInt(this.$.dayListbox.selected)
					};

					scheduleTimeAjax.generateRequest();
	      } else if(schedulingMode.selected == "basic") {
	      	var upTime = this.$.upTimeListBox.selected;
	      	var downTime = this.$.downTimeListBox.selected;

	      	//var interval = this.$.interval.value;
	      	console.log("this is the interval", this.$.interval);

	      	var timesArray = [];
	      	var i = 0;
	      	for(i = 0; i < upTime - 1; i++) {
	      		//times.push(this.$.rampDownLevel);
	      		timesArray.push(5);
	      	}	
	      	for(i; i < downTime - 1; i++) {
	      		//times.push(this.$.rampDownLevel);
	      		timesArray.push(10);
	      	}
	      	for(i; i < 24; i++) {
	      		//times.push(this.$.rampDownLevel);
	      		timesArray.push(5);
	      	}

					scheduleTimeAjax.body = {
						"times": timesArray,
						"day": parseInt(this.$.dayListbox.selected)
					};

					scheduleTimeAjax.generateRequest();

	      	console.log(timesArray);
	      	this.$.scheduleTimeAjax.body = {

	      	};
	      }
		  },

    	redrawTimingOnInput: redrawTimingOnInput,

    	_logResponse: function(event, data) {
    		// REMOVE ALL OF THESE
    		console.log(data.response);
    	},

      ready: function() {
      	schedulingMode = this.$.schedulingSelector; 
      	console.log("i have read the selected value", schedulingMode); 	
      	console.log(schedulingMode);
      	console.log("im the ready selected  ", this.$);
  			this.$.dayListbox.selected = "3"; // just a demo, load the one that was last modified
      }

    });


  function redrawTiming(drawingData, drawingLineAttributes) {
    $($(canvas_timing).parent()).prepend("<canvas id=\"timingChart\" style=\"margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);\" class=\"chartClass\"></canvas>");
    canvas_timing.remove();

    canvas_timing = document.getElementById("timingChart");
    canvas_timing.width = $(window).width() * chart_width_scalar_timing;
    canvas_timing.height = $(window).height() * chart_height_scalar_timing;
    myChart_timing = new Chart(canvas_timing.getContext("2d")).Line(drawingData, drawingLineAttributes);

  }

  function redrawTimingOnInput() {
    var errorAdjustToast = document.getElementById("errorAdjustToast");
    var strokeColor = "#3f51b5";
    var pointStrokeColor = "#3f51b5";
    var fillColor = "rgba(63, 81, 181, .25)";

    $(document.getElementsByClassName("times")).each(function(i) {
      if(this.value > -1 && this.value < 101 && this.value !== "") {
        timingDataArray[i] = parseInt(this.value);
      } else {
        timingDataArray[i] = null;
        
        // Set the error colors
        strokeColor = "#F33F31";
        pointStrokeColor = "#F33F31";
        fillColor = "rgba(243, 63, 49, .25)";

        if(isNaN(this.value)) {
          errorAdjustToast.text = "Invalid entry for " + timingLabels[i] + "Hz: Only numerical values are accepted";
          errorAdjustToast.show();
        } else if (this.value === "") {

        } else {
          errorAdjustToast.text = "Invalid entry for " + timingLabels[i] + "Hz: Accepted range of values is -20 to 80";
          errorAdjustToast.show();
        }
      }
    });

    var timingRedrawData = {
      timingLabels,
      datasets: [{
        fillColor: fillColor,
        strokeColor: strokeColor,
        pointColor: "#fff",
        pointStrokeColor: pointStrokeColor,  
        data: timingDataArray,
        }]
    };

    redrawTiming(timingRedrawData, timingRedrawLineAttributes);
  }

</script>
</dom-module>