<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/components/simple-fit.html">
<link rel="import" href="/components/speaker-controller.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<script src="Chart.js" type="text/jscript"></script>
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>

<dom-module id="scheduling-controller" class="layout horizontal">

  <template>

    <style>
      :host {
        display: block;
      }

      #map {
        height: 100%;
        width: 100%;
      }

      paper-card {
        padding: 10px;
        width: 100%;
        text-align: center;
      }

      #zoneBtn {
        background-color: #4285f4;
        color: #fff;
        margin-top: 5px;
        width: 100%;
      }
      
      #pageContainer {
        text-align: center;
        height: 100%;
      }

      #zoneMap {
        height: 100%;
      }

      #mainContainer {
        overflow-y: hidden;
      }

      #mainContainer.paper-header-panel {
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        height: 100%;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
      }

      paper-input /deep/ #input {
        margin-top: 0px;
        text-align: center;
      }

      paper-item::shadow .button-content {
        padding: 0;
        width: 100%;
        text-align: center;
      }

      .pagingZoneStyle {
        background: rgba(63, 81, 181, .1); 
        border-style: solid; 
        border-radius: 5px; 
        border-width: 1px; 
        border-color: #3f51b5; 
        margin: 5px; 
      }

      .times {
        width: calc(.02 * 100vw);
        margin-right: calc(.0118 * 100vw);
        margin-top: calc(-.015 * 100vh);
      }

    </style>
    <paper-card id="card" heading="Scheduling" elevation="4">
      <div id="card-content" class="card-content" style="margin-right: 0px; height: calc(.35 * 100vh);">

      	<paper-radio-group id="schedulingSelector" selected="{{mode}}">
          <paper-radio-button id="basicModeButton" 			name="basic"     onclick="drawBasic()" class="flex">Basic</paper-radio-button>
          <paper-radio-button id="advancedModeButton"   name="advanced"  onclick="drawAdvanced()" class="flex">Advanced</paper-radio-button>
        </paper-radio-group>
        <neon-animated-pages attr-for-selected="page" selected="[[mode]]" class="flex">

        	<neon-animatable page="basic" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
            <simple-fit class="container">
            <div id="basic_container" style="margin-top: calc(.45 * 100vh);">
              <h3>Ramp Up</h3>
            	<div id="rampUpContainer" class="horizontal layout">
            		<paper-dropdown-menu id="upTime" name="upTime" label="Ramp Up Time">
								  <paper-listbox id="upTimeListBox" class="dropdown-content" style="width: 100px; overflow-x: hidden;">
								    <paper-item value="0">00:00</paper-item>
								    <paper-item value="1">01:00</paper-item>
								    <paper-item value="2">02:00</paper-item>
								    <paper-item value="3">03:00</paper-item>
								    <paper-item value="4">04:00</paper-item>
								    <paper-item value="5">05:00</paper-item>
								    <paper-item value="6">06:00</paper-item>
								    <paper-item value="7">07:00</paper-item>
								    <paper-item value="8">08:00</paper-item>
								    <paper-item value="9">09:00</paper-item>
								    <paper-item value="10">10:00</paper-item>
								    <paper-item value="11">11:00</paper-item>
								    <paper-item value="12">12:00</paper-item>
								    <paper-item value="13">13:00</paper-item>
								    <paper-item value="14">14:00</paper-item>
								    <paper-item value="15">15:00</paper-item>
								    <paper-item value="16">16:00</paper-item>
								    <paper-item value="17">17:00</paper-item>
								    <paper-item value="18">18:00</paper-item>
								    <paper-item value="19">19:00</paper-item>
								    <paper-item value="20">20:00</paper-item>
								    <paper-item value="21">21:00</paper-item>
								    <paper-item value="22">22:00</paper-item>
								    <paper-item value="23">23:00</paper-item>
								  </paper-listbox>
								</paper-dropdown-menu>
            		<paper-dropdown-menu id="rampUpLevel" name="rampUpLevel" label="Percentage" style="width: 166px; margin-left: 25px; float: right;">
								  <paper-listbox id="rampUpLevelListbox" class="dropdown-content" style="width: 100px; overflow-x: hidden;">
								    <paper-item value="0">0%</paper-item>
								    <paper-item value="10">10%</paper-item>
								    <paper-item value="20">20%</paper-item>
								    <paper-item value="30">30%</paper-item>
								    <paper-item value="40">40%</paper-item>
								    <paper-item value="50">50%</paper-item>
								    <paper-item value="60">60%</paper-item>
								    <paper-item value="70">70%</paper-item>
								    <paper-item value="80">80%</paper-item>
								    <paper-item value="90">90%</paper-item>
								    <paper-item value="100">100%</paper-item>
								  </paper-listbox>
								</paper-dropdown-menu>
            	</div>

            	<h3 style="margin-top: calc(.02 * 100vw)">Ramp Down</h3>
            	<div id="rampDownContainer" class="horizontal layout" style="margin-top: calc(.005 * 100vw);">
            		<paper-dropdown-menu id="downTime" name="downTime" label="Ramp Down Time">
								  <paper-listbox id="downTimeListBox" class="dropdown-content" style="width: 100px; overflow-x: hidden;">
								    <paper-item value="0">00:00</paper-item>
								    <paper-item value="1">01:00</paper-item>
								    <paper-item value="2">02:00</paper-item>
								    <paper-item value="3">03:00</paper-item>
								    <paper-item value="4">04:00</paper-item>
								    <paper-item value="5">05:00</paper-item>
								    <paper-item value="6">06:00</paper-item>
								    <paper-item value="7">07:00</paper-item>
								    <paper-item value="8">08:00</paper-item>
								    <paper-item value="9">09:00</paper-item>
								    <paper-item value="10">10:00</paper-item>
								    <paper-item value="11">11:00</paper-item>
								    <paper-item value="12">12:00</paper-item>
								    <paper-item value="13">13:00</paper-item>
								    <paper-item value="14">14:00</paper-item>
								    <paper-item value="15">15:00</paper-item>
								    <paper-item value="16">16:00</paper-item>
								    <paper-item value="17">17:00</paper-item>
								    <paper-item value="18">18:00</paper-item>
								    <paper-item value="19">19:00</paper-item>
								    <paper-item value="20">20:00</paper-item>
								    <paper-item value="21">21:00</paper-item>
								    <paper-item value="22">22:00</paper-item>
								    <paper-item value="23">23:00</paper-item>
								  </paper-listbox>
								</paper-dropdown-menu>
            		<paper-dropdown-menu id="rampDownLevel" name="rampDownLevel" label="Percentage" style="width: 166px; margin-left: 25px; float: right;">
								  <paper-listbox id="rampDownLevelListbox" class="dropdown-content" style="width: 100px; overflow-x: hidden;">
								    <paper-item value="0">0%</paper-item>
								    <paper-item value="10">10%</paper-item>
								    <paper-item value="20">20%</paper-item>
								    <paper-item value="30">30%</paper-item>
								    <paper-item value="40">40%</paper-item>
								    <paper-item value="50">50%</paper-item>
								    <paper-item value="60">60%</paper-item>
								    <paper-item value="70">70%</paper-item>
								    <paper-item value="80">80%</paper-item>
								    <paper-item value="90">90%</paper-item>
								    <paper-item value="100">100%</paper-item>
								  </paper-listbox>
								</paper-dropdown-menu>
            	</div>
           		<h3 style="margin-top: calc(.02 * 100vw)">Ramp Interval</h3> 
           		<div>
           			<paper-dropdown-menu id="interval" name="interval" label="Interval">
								  <paper-listbox id="intervalListbox" attr-for-selected="value" selected="{{interval}}" class="dropdown-content">
								    <paper-item value="0">Instant</paper-item>
								    <paper-item value="1">One Minute</paper-item>
								    <paper-item value="2">Two Minutes</paper-item>
								    <paper-item value="5">Five Minutes</paper-item>
								    <paper-item value="10">Ten Minutes</paper-item>
								    <paper-item value="15">Fifteen Minutes</paper-item>
								    <paper-item value="20">Twenty Minutes</paper-item>
								    <paper-item value="30">Thirty Minutes</paper-item>
								    <paper-item value="45">Forty Five Minutes</paper-item>
								    <paper-item value="60">One Hour</paper-item>
								  </paper-listbox>
								</paper-dropdown-menu>
           		</div>
            </div>
            </simple-fit>
        	</neon-animatable>

          <neon-animatable page="advanced" style="height: calc(.6 * 100vh);" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
            <simple-fit class="container">
            <div>
							<canvas id="timingChart" style="margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);" class="chartClass"></canvas>
			        <div class="horizontal layout" id="adjustment" style="height: calc(.025 * 100vh); margin-top: calc(.0 * 100vh); margin-bottom: 10px;">
			          <paper-input class="times" name="00:00"   on-input="redrawTimingOnInput" center-justified style="margin-left: calc(.025 * 100vw);"></paper-input>
			          <paper-input class="times" name="01:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="02:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="03:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="04:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="05:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="06:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="07:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="08:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="09:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="10:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="11:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="12:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="13:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="14:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="15:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="16:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="17:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="18:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="19:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="20:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="21:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="22:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="23:00"   on-input="redrawTimingOnInput" ></paper-input>
			          <paper-input class="times" name="24:00"   on-input="redrawTimingOnInput" ></paper-input>
			        </div>
			       </div>
            </simple-fit>
          </neon-animatable>
        </neon-animated-pages>
	    </div>
			<div class="card-actions">
			  <paper-dropdown-menu id="dayMenu" style="margin-top: 10px; margin-left: calc(0 * 100vw); overflow-x: hidden;" no-label-float label="Day:" vertical-align="top" horizontal-align="left">
		    	<paper-listbox id="dayListbox" style="width: 150px; overflow-x: hidden;" attr-for-selected="value" selected="{{selection}}" class="dropdown-content">  
			      <paper-item id="Sunday" 			value="0" on-click="loadDay">Sunday</paper-item>
			      <paper-item id="Monday" 			value="1" on-click="loadDay">Monday</paper-item>
			      <paper-item id="Tuesday" 			value="2" on-click="loadDay">Tuesday</paper-item>
			      <paper-item id="Wednesday" 		value="3" on-click="loadDay">Wednesday</paper-item>
			      <paper-item id="Thursday" 		value="4" on-click="loadDay">Thursday</paper-item>
			      <paper-item id="Friday" 			value="5" on-click="loadDay">Friday</paper-item>
			      <paper-item id="Saturday" 		value="6" on-click="loadDay">Saturday</paper-item>
			      <paper-item id="Entire Week" 	value="7" on-click="loadDay">Work Week Only</paper-item>
			      <paper-item id="Weekend Only" value="8" on-click="loadDay">Weekend Only</paper-item>
			      <paper-item id="Entire Week" 	value="9" on-click="loadDay">Entire Week</paper-item>
			    </paper-listbox>
			  </paper-dropdown-menu>

			  <paper-button center-justified flex dialog-dismiss style="margin-top: 10px; margin-left: calc(.01 * 100vw);" on-click="scheduleTime">Apply</paper-button>
			</div>
		</paper-card>
  	<paper-toast id="toast"></span>Zone Created!</paper-toast>
    <paper-dialog id="dialog">
      <zone-assigner on-zoneupdated="_refreshSpeaker" id="zoneAssigner" speaker="{{selected}}" zones="{{zones}}"></zone-assigner>
    </paper-dialog>



  	<paper-dialog id="zoneDialog" heading="this is a title" entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true">
    <h1 style="text-align: center;">Calling selected...</h1>
			<paper-toast id="errorAdjustToast"></paper-toast>
    <div class="buttons" class="layout horizontal">
    	<paper-button center-justified flex dialog-dismiss style="margin: 0.5em 4.5em .5em 0em;" on-click="_cancelPressed">Cancel</paper-button>
  	</div>

    <iron-ajax
      id="scheduleTimeAjax"
      url="/system/scheduleTime/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">
    </iron-ajax>

  </template>


<script>

	var timingDataArray = [];
	var defaultWidth = 0;
	var defaultHeight = 0;

	var schedulingMode;
	var speakerForScheduling;
	var ss;

  var day = new Date().getDay();

  var myChart_timing; 

  var canvas_timing = document.getElementById("timingChart");
  var chart_width_scalar_timing = .8;
  var chart_height_scalar_timing = .52;
 	
  /**
   * saveDefault is used to save the initially rendered size of the card.
   */
 	function saveDefault() {
 		if(defaultWidth == 0) {
 			defaultWidth = document.getElementById("card-content").offsetWidth;
 		}
 		if(defaultHeight == 0) {
 			defaultHeight = document.getElementById("card-content").offsetHeight;
 		}
 	}

 	/**
 	 * This function is used to draw the basic scheduling card.
 	 */
  function drawBasic() {
  	ss.schedulingSelector.selected = "basic";

  	var localWidth = $(window).width() * .20;
  	var localHeight = $(window).height() * .5;
  	
  	document.getElementById("card-content").style.width = localWidth + "px";
  	document.getElementById("card-content").style.height = localHeight + "px";
  	//console.log(speaker);

    loadDayOutside();
	}

	/**
	 * This function is used to draw the advanced scheduling card.
	 */
  function drawAdvanced() {
  	ss.schedulingSelector.selected = "advanced";

    var localWidth = $(window).width() * .82;
  	var localHeight = ($(window).height() + 36) * .62;

  	document.getElementById("card-content").style.width = localWidth + "px";
  	document.getElementById("card-content").style.height = localHeight + "px";

    canvas_timing = document.getElementById("timingChart");
    canvas_timing.width = $(window).width() * chart_width_scalar_timing;
    canvas_timing.height = $(window).height() * chart_height_scalar_timing;

    timingDataArray = speaker.Schedule[ss.dayListbox.selected].slice(4, 28);

    $(document.getElementsByClassName("times")).each(function(i) {
      this.value = timingDataArray[i];
    });

    var timingData = {
	    labels: timingLabels,
	    datasets: [{
	      fillColor: "rgba(63, 81, 181, 0.25)",
	      strokeColor: "#3f51b5",
	      pointColor: "#fff",
	      pointStrokeColor: "#3f51b5",  
	      data: timingDataArray
	    }]
	  };

    //console.log(timingDataArray);

    loadDayOutside();
	}

  $(window).resize(function() {
  	if(schedulingMode.selected == "advanced") {
      redrawTimingOnInput();
   	}
   	adjustSize();

  });

  /**
   * This function is used the adjust the size of the card when being resized.
   */
  function adjustSize() {	
  	var localWidth = $(window).width() * .2;
  	var localHeight = $(window).height() * .5;

  	if(ss.schedulingSelector.selected == "basic") {  
  		document.getElementById("card-content").style.height = localHeight + "px";
  		saveDefault();
	   	var basic_container = document.getElementById("basic_container");
	   	var card = document.getElementById("card");
	   	basic_container.style.marginLeft = (Math.abs(card.offsetWidth - basic_container.offsetWidth) / 2) - 28 + "px";
  	}
  }

  var timingLabels = ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00", "24:00"];

  var timingData = {
    labels: timingLabels,
    datasets: [{
      fillColor: "rgba(63, 81, 181, 0.25)",
      strokeColor: "#3f51b5",
      pointColor: "#fff",
      pointStrokeColor: "#3f51b5",  
      data: timingDataArray
    }]
  };

  var timingLineAttributes = {
    scaleOverride: true,
    scaleSteps: 10,   
  	scaleLabel: "<%= value + \"%\" %>",
    scaleStartValue: 0,
    scaleStepWidth: 10,
    scaleShowLabels: true,
    scaleFontSize: 12,
  };


  var timingResizeLineAttributes = {
    animation: false,
    scaleOverride: true,
    scaleSteps: 10,
  	scaleLabel: "<%= value + \"%\" %>",
    scaleStartValue: 0,
    scaleStepWidth: 10,
    scaleShowLabels: true,
    scaleFontSize: 12,
  };

  var timingRedrawLineAttributes = {
    showTooltips: true,
    scaleOverride: true,
    scaleSteps: 10,
  	scaleLabel: "<%= value + \"%\" %>",
    scaleStartValue: 0,
    scaleStepWidth: 10,
    scaleShowLabels: true,
    scaleFontSize: 12,
  };
	
 Polymer({
      is: 'scheduling-controller',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {

        speaker: {
          type: Object
        },

      	animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },

      loadDay: loadDayOutside,

      /**
       * ScheduleTime is used to apply a new timing schedule to a speaker. 
       */
      scheduleTime: function() {

      	//console.log(this.$.intervalListbox.selected);

	      var scheduleTimeAjax = document.querySelector("#scheduleTimeAjax");

	      if(schedulingMode.selected == "advanced") {
			    var times = document.getElementsByClassName("times");
					var timesArray = [];
					for (var i = 0; i < times.length; i++) {
						var timesParse = parseInt(times[i].value);

						if(isNaN(timesParse)) {
							return;
						}
						timesArray.push(timesParse);
					}

					scheduleTimeAjax.body = {
						"speaker" 	: speakerid,
						"mode"			: 1,
						"start"			: -1,
						"end"				: -1,
						"day" 			: parseInt(this.$.dayListbox.selected),
						"interval"	: 60,
						"times" 		:	timesArray
					};

					scheduleTimeAjax.generateRequest();
	      } else if(schedulingMode.selected == "basic") {
	      	var upTime = this.$.upTimeListBox.selected;
	      	var downTime = this.$.downTimeListBox.selected;

	      	//console.log("this is the interval", this.$.interval);

	      	var timesArray = [];
	      	rampUpLevel = this.$.rampUpLevelListbox.selected
	      	rampDownLevel = this.$.rampDownLevelListbox.selected
	      	var i = 0;
	      	for(i = 0; i < upTime; i++) {
	      		timesArray.push(rampDownLevel * 10);
	      	}	
	      	for(i; i < downTime; i++) {
	      		timesArray.push(rampUpLevel * 10);
	      	}
	      	for(i; i < 24; i++) {
	      		timesArray.push(rampDownLevel * 10);
	      	}

					scheduleTimeAjax.body = {
						"speaker" 	: speakerid, 
						"mode"			: 0,
						"start"			: parseInt(this.$.upTimeListBox.selected),
						"end"				: parseInt(this.$.downTimeListBox.selected),
						"day" 			: parseInt(this.$.dayListbox.selected),
						"interval"	: parseInt(this.$.intervalListbox.selected),
						"times" 		:	timesArray
					};

					scheduleTimeAjax.generateRequest();

	      	//console.log(timesArray);
	      	this.$.scheduleTimeAjax.body = {

	      	};
	      }
		  },

    	redrawTimingOnInput: redrawTimingOnInput,

    	_logResponse: function(event, data) {
    		//console.log(data.response);
    	},

      ready: function() {
      	//console.log("THIS IS THE DAY", day);
      	this.$.dayListbox.selected = day;
      	//console.log(this.$.dayListbox.selected);
      	schedulingMode = this.$.schedulingSelector; 
      	//console.log("i have read the selected value", schedulingMode); 	
      	//console.log(schedulingMode);
      	//console.log("im the ready selected  ", this.$);

  			//console.log(this.speaker);
  			ss = this.$;

      }

    });

 	/**
 	 * This function is used to load the selectors with the correct values for that day.
 	 */
	function loadDayOutside() {
		//console.log(ss);

		var selectedDay = ss.dayListbox.selected;
		//console.log("day" + selectedDay);
		//console.log(speaker);
		//console.log(ss.schedulingSelector.selected);
		if(ss.schedulingSelector.selected == "basic") {
			if(speaker.Schedule[selectedDay][2] != -1 || speaker.Schedule[selectedDay][3] != -1) {
				ss.upTimeListBox.selected = speaker.Schedule[selectedDay][2];
				ss.downTimeListBox.selected = speaker.Schedule[selectedDay][3];

				ss.rampUpLevelListbox.selected = speaker.Schedule[selectedDay][speaker.Schedule[selectedDay][2] + 4] / 10;
				ss.rampDownLevelListbox.selected = speaker.Schedule[selectedDay][speaker.Schedule[selectedDay][3] + 4] / 10;
				ss.intervalListbox.selected = speaker.Schedule[selectedDay][1];
			} else {
				ss.upTimeListBox.selected = -1;
				ss.downTimeListBox.selected = -1;
				ss.rampUpLevelListbox.selected = -1;
				ss.rampDownLevelListbox.selected = -1;
				ss.intervalListbox.selected = -1;
			}
		} else if(ss.schedulingSelector.selected == "advanced") {
			timingDataArray = speaker.Schedule[selectedDay].slice(4, 29);
			var times = document.getElementsByClassName("times");

			for(var x = 0; x < timingDataArray.length; x++) {
				times[x].value = timingDataArray[x];
				times[x + 1].value = timingDataArray[0];
			}
			redrawTimingOnInput()

			//console.log(timingDataArray);
		} else {
			alert("i hava make a break");
		}
	}

	/**
	 * This function is used to redraw the graph.
	 */
  function redrawTiming(drawingData, drawingLineAttributes) {
  	//console.log("I got here");
		$($(canvas_timing).parent()).prepend("<canvas id=\"timingChart\" style=\"margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);\" class=\"chartClass\"></canvas>");

		//console.log("now im here");

    canvas_timing.remove();		

    var localWidth = $(window).width() * .82;
  	var localHeight = ($(window).height() + 36) * .62;

  	document.getElementById("card-content").style.width = localWidth + "px";
  	document.getElementById("card-content").style.height = localHeight + "px";

    canvas_timing = document.getElementById("timingChart");
    canvas_timing.width = $(window).width() * chart_width_scalar_timing;
    canvas_timing.height = $(window).height() * chart_height_scalar_timing;

    //console.log("i think im here");

    //console.log(timingDataArray);

    myChart_timing = new Chart(canvas_timing.getContext("2d")).Line(drawingData, drawingLineAttributes);

    //console.log("and now im here...");
  }

  /**
   * This function is fired on input into the text box. It validates the data that is input and changes the graph to red if something is detected as invalid.
   */
  function redrawTimingOnInput() {
    var errorAdjustToast = document.getElementById("errorAdjustToast");
    var strokeColor = "#3f51b5";
    var pointStrokeColor = "#3f51b5";
    var fillColor = "rgba(63, 81, 181, .25)";

    //console.log("redrawTimingOnInput");

    $(document.getElementsByClassName("times")).each(function(i) {
    	//console.log(i);
      if(this.value > -1 && this.value < 101 && this.value !== "") {
        timingDataArray[i] = parseInt(this.value);
      } else {
        timingDataArray[i] = null;
        
        // Set the error colors
        strokeColor = "#F33F31";
        pointStrokeColor = "#F33F31";
        fillColor = "rgba(243, 63, 49, .25)";

        if(isNaN(this.value)) {
          errorAdjustToast.text = "Invalid entry for " + timingLabels[i] + "Hz: Only numerical values are accepted";
          errorAdjustToast.show();
        } else if (this.value === "") {

        } else {
          errorAdjustToast.text = "Invalid entry for " + timingLabels[i] + "Hz: Accepted range of values is -20 to 80";
          errorAdjustToast.show();
        }
      }
    });

    var timingRedrawData = {
      labels: timingLabels,
      datasets: [{
        fillColor: fillColor,
        strokeColor: strokeColor,
        pointColor: "#fff",
        pointStrokeColor: pointStrokeColor,  
        data: timingDataArray,
        }]
    };

    redrawTiming(timingRedrawData, timingRedrawLineAttributes);
  }

</script>
</dom-module>