<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<!--<script src="jquery-2.2.0.js"></script>-->
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>

<link rel="stylesheet" href="../css/styles.css">

<!doctype html>

<html>
<body>
  <div id="sliderequalizer" class="layout horizontal">
    <div id="custom_container">     <!-- change the custom class names back is shit hits the fan -->
      <div class="custom"> <input id="text1" name="80" class="level" tabindex=1 oninput="inputChanged()"/> <div class="custom_slider" value="{{internalEqualizer}}"></div><input class="bands" id="eighty" value="80" readonly/></div>
      <div class="custom"> <input id="text2" name="100" class="level" tabindex=2 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer2"}}></div><input class="bands" value="100" readonly/></div>
      <div class="custom"> <input id="text3" name="125" class="level" tabindex=3 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer3"}}></div><input class="bands" value="125" readonly/></div>
      <div class="custom"> <input id="text4" name="160" class="level" tabindex=4 oninput="inputChanged()"/><div class="custom_slider" value={{"equalizer4"}}></div><input class="bands" value="160" readonly/></div>
      <div class="custom"> <input id="text5" name="200" class="level" tabindex=5 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer5"}}></div><input class="bands" value="200" readonly/></div>
      <div class="custom"> <input id="text6" name="250" class="level" tabindex=6 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer6"}}></div><input class="bands" value="250" readonly/></div>
      <div class="custom"> <input id="text7" name="315" class="level" tabindex=7 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer7"}}></div><input class="bands" value="315" readonly/></div>
      <div class="custom"> <input id="text8" name="400" class="level" tabindex=8 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer8"}}></div><input class="bands" value="400" readonly/></div>
      <div class="custom"> <input id="text9" name="500" class="level" tabindex=9 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer9"}}></div><input class="bands" value="500" readonly/></div>
      <div class="custom"> <input id="text10" name="630" class="level" tabindex=10 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer10"}}></div><input class="bands" value="630" readonly/></div>
      <div class="custom"> <input id="text11" name="800" class="level" tabindex=11 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer11"}}></div><input class="bands" value="800" readonly/></div>
      <div class="custom"> <input id="text12" name="1k" class="level" tabindex=12 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer12"}}></div><input class="bands" value="1k" readonly/></div>
      <div class="custom"> <input id="text13" name="1.25k" class="level" tabindex=13 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer13"}}></div><input class="bands" value="1.25k" readonly/></div>
      <div class="custom"> <input id="text14" name="1.6k" class="level" tabindex=14 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer14"}}></div><input class="bands" value="1.6k" readonly/></div>
      <div class="custom"> <input id="text15" name="2k" class="level" tabindex=15 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer15"}}></div><input class="bands" value="2k" readonly/></div>
      <div class="custom"> <input id="text16" name="2.5k" class="level" tabindex=16 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer16"}}></div><input class="bands" value="2.5k" readonly/></div>
      <div class="custom"> <input id="text17" name="3.15k" class="level" tabindex=17 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer17"}}></div><input class="bands" value="3.15k" readonly/></div>
      <div class="custom"> <input id="text18" name="4k" class="level" tabindex=18 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer18"}}></div><input class="bands" value="4k" readonly/></div>
      <div class="custom"> <input id="text19" name="5k" class="level" tabindex=19 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer19"}}></div><input class="bands" value="5k" readonly/></div>
      <div class="custom"> <input id="text20" name="6.3k" class="level" tabindex=20 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer20"}}></div><input class="bands" value="6.3k" readonly/></div>
      <div class="custom"> <input id="text21" name="8k" class="level" tabindex=21 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer21"}></div><input class="bands" value="8k" readonly/></div>
    </div>
  </div>

  <script type="text/javascript">

  var sliders = document.getElementsByClassName("ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min");
  var handles = document.getElementsByClassName("ui-slider-handle ui-state-default ui-corner-all");
  var background = document.getElementsByClassName("custom_slider ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all");
  var iirConstants = [];

  $(function() {
    $(document.getElementsByClassName("custom_slider")).each(function(i) {

      //console.log(this);

      $(this).slider({
        orientation: "vertical",
        range: "min",
        step: .01,
        min: -40,
        max: 10,
        value: 0,
        slide: function( event, ui) {
          isThereAnError = false;
          sliders[i].style.background = "#3f51b5";
          handles[i].style.background = "#3f51b5";
          background[i].style.background = "rgba(63, 81, 181, .2)";
          $("#text" + (i + 1)).val(ui.value);
          iirConstants[i] = ui.value;
        }
      });
      $("#text" + (i + 1)).val($(".custom > .custom_slider").slider("value"));
    });

  });


  </script>

</body>
</html>