<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/paper-tooltip/paper-tooltip.html">

<iron-icon id="day" icon="image:brightness-7"></iron-icon>

<dom-module id="speaker-icon">
  <template>
    <style>
      :host {
      }

      .block {
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;

      }

    </style>
    <iron-icon id="icon" class="block" icon="av:volume-up"></iron-icon>
    <paper-tooltip for="icon">Speaker <span>{{speakerId}}</span></paper-tooltip>
  </template>
  <script>
    var colors = [
      '--paper-brown-500',
      '--paper-deep-orange-500',
      '--paper-orange-500',
      '--paper-amber-500',
      '--paper-yellow-500',
      '--paper-lime-500',
      '--paper-light-green-500',
      '--paper-green-500',
      '--paper-teal-500',
      '--paper-cyan-500',
      '--paper-light-blue-500',
      '--paper-blue-500',
      '--paper-indigo-500',
      '--paper-deep-purple-500',
      '--paper-purple-500',
      '--paper-pink-500',
      '--paper-red-500'
    ];

    Polymer({
      is: 'speaker-icon',

      properties: {
        x: Number,
        y: Number,
        speakerId: Number
      },

      ready: function () {
          this.$.icon.style.left = this.x.toString() + "px";
          this.$.icon.style.top = this.y.toString() + "px";
          var color = colors[Math.floor(Math.random()*colors.length)];
          this.$.icon.customStyle['--iron-icon-fill-color'] = 'var(' + color + ')';
          this.$.icon.updateStyles();
      }
    });
  </script>
</dom-module>