<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">


<link rel="import" href="/components/omaha-app.html">


<dom-module id="speaker-tooltip">
  <template>
    <style>
      :host {
      }
      paper-button {
       background-color: #3f51b5;
        color: #fff;
        margin-top: 5px;
        width: 100%;
      }

      paper-card {
        text-align: left;
      }

    </style>
    <div id="tooltipInformation">
      <b id="name"></b>
      <br>
      <b id="speaker"></b>
      <br>
      <!--

      zone was removed for the first product

      <b id="zone"></b>
      -->
      <br>
      <b id="volume"></b>
    </div>
    <!--
    <div>
      <paper-button on-click="_selectSpeaker">speaker</paper-button>
    </div>
    -->
    <div id="zoneSelectionButton">
      <paper-button on-click="_selectZone">zone</paper-button>
    </div>
    
    <div id="allZoneSelectionButton">
      <paper-button on-click="_selectAllZone">all zone</paper-button>
    </div>
    
  </template>
  <script>

    Polymer({
      is: 'speaker-tooltip',

      attributes: {
        speaker: Object
      },

      _selectSpeaker: function() {
        zoneFlag = 0;
        this.fire('speakerselected', {speaker: this.speaker});
        //console.log(this.speaker)
      },

      _selectZone: function() {
        zoneFlag = 1;
        this.fire('zoneselected', {zone: this.speaker.zone});
      },

      _selectAllZone: function() {
        zoneFlag = -1;
        this.fire('zoneselected', {zone: 1})
      }
    });

    $(document).ready(function() {
      /*if(parseInt(localStorage.getItem("level")) == 0) {
          document.getElementById("zoneSelectionButton").innerHTML = "";
          document.getElementById("allZoneSelectionButton").innerHTML = "";
      }*/
  });
  </script>
</dom-module>