<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="/components/simple-fit.html">
<link rel="import" href="/components/volume-selector.html">
<link rel="import" href="/components/light-controller.html">
<link rel="import" href="/components/averaging-controller.html">
<link rel="import" href="/components/equalizer-controller.html">
<link rel="import" href="/components/paging-controller.html">

<!--<link rel="import" href="/components/map-controller.html">-->
<dom-module id="speaker-controller">
  <template>
    <style>
     :host {
        display: block;
      }
     
      .container {
        width: 100%;
      }
      
      .container-height {
        height: 100%;
      }
      
      volume-selector {
        width: 70%;
      }
      
      paging-controller {
        width: 70%;
      }

      equalizer-controller {
        width: 90%;
        min-width: 300px;
        /*height: calc(60% + calc(.6 * 100vw));*/
        height: 100%;
      }

      averaging-controller {
        width: 70%;
        height: 100%;
      }

      @media (min-width: 769px) {
        paper-radio-group {
          @apply(--layout-vertical);
        }

        paper-radio-button {
          @apply(--layout-horizontal);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-horizontal)
        }
      }

      @media (max-width: 768px) {
        paper-radio-group {
          @apply(--layout-horizontal)
        }
        paper-radio-button {
          @apply(--layout-vertical);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-vertical)
        }

        volume-selector, light-controller {
          margin-top: 20px;
        }
      }

      /* Make the client cache the map and check on load of something like that */

    </style>
    <div id="radio-container" class="layout horizontal">
      <paper-radio-group id="mode" selected="{{mode}}">
        <paper-radio-button id="volumeButton" name="volume" class="flex">Volume</paper-radio-button>
        <paper-radio-button id="averagingButton" name="averaging" class="flex">Comfort</paper-radio-button>
        <paper-radio-button id="equalizerButton" name="equalizer" class="flex">Equalizer</paper-radio-button>
        <paper-radio-button id="pagingButton" name="paging" class="flex">Paging</paper-radio-button>
      </paper-radio-group>
    </div>
    <neon-animated-pages attr-for-selected="page" selected="[[mode]]" class="flex">

      <neon-animatable page="averaging" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <averaging-controller id="averaging" speaker-id="[[speakerId]]" averaging="[[averaging]]"></averaging-controller>
        </simple-fit>
      </neon-animatable>

      <neon-animatable page="volume" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <volume-selector id="volume" volume="{{volumeLevel}}" musicVolume="{{musicLevel}}"></volume-selector>
        </simple-fit>
      </neon-animatable>

      <neon-animatable page="equalizer" id="equalizer-controller" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <equalizer-controller id="equalizer" speaker-id="[[speakerId]]" speaker="[[speaker]]" equalizer="{{equalizerone}}"></equalizer-controller>
        </simple-fit>
      </neon-animatable>

      <neon-animatable page="paging" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <paging-controller id="paging" paging="{{pagingLevel}}"></paging-controller>
        </simple-fit>
      </neon-animatable>

    </neon-animated-pages>

    <iron-ajax
          id="speakerUpdateAjax"
          url="/system/speaker/"
          method="PUT"
          content-type="application/json"
          handle-as="json"
          on-response="_logResponse"
          debounce-duration="300">
    </iron-ajax>

  </template>
  <script>
  /*console.log(screen.orientation.angle);
  $( window ).on( "orientationchange", function( event ) {
  $( "#orientation" ).text( "This device is in " + event.orientation + " mode!" );
});*/

    Polymer({
      is: 'speaker-controller',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        speaker: {
          type: Object,
          observer: "_speakerUpdated"
        },

        isReady: {
          type: Boolean,
          value: false
        },

        mode: {
          type: String,
          value: "volume"
        },

        speakerId: {
          type: Number,
          value: 0
        },

        ledOn: {
          type: Boolean,
          value: true,
          observer: '_ledUpdate'
        },

        volumeLevel: {    // this shit and all the other shitters were volumeone for some reason ??? changed to volumeLevel
          type: String,
          value: "0",
          observer: '_volumeUpdate'
        },
        
        musicLevel: {
          type: Number,
          value: 0
        },
        

        pagingLevel: {
          type: String,
          value: "0",
          observer: '_pagingUpdate'
        },

        equalizerone: {
          type: String,
          value: "0",
          observer: '_equalizerUpdate'
        },

        animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                // provided by neon-animation-animations/fade-out-animation.html
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },

      _speakerSelected: function() {
          console.log("this shit is working");
      },

      _ledUpdate: function() {
        /*
          We only want to notify the server of changes if this is after ready() has been called.
          This is because _ledUpdate is triggered when initially setting values received from the server
        */
        if(this.isReady) {
          var updatedAttributes = ["led"];
          var attributeValues = {
            "led": this.ledOn,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
      },

      _volumeUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["volume"];
          var attributeValues = {
            "volume": this.volumeLevel,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          console.log(this.$, this, "this is the stuff yo")
          this.$.speakerUpdateAjax.generateRequest();
        }
        console.log("_volumeUpdate " + this.volumeLevel);
      },

      _pagingUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["paging"];
          var attributeValues = {
            "paging": this.pagingLevel,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
        console.log("_pagingUpdate " + this.pagingLevel);
      },

      /*
      _musicVolumeUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["musicVolume"];
          var attributeValues = {
            "musicVolume": this.musicVolumeLevel,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
        console.log("_musicVolumeLevel " + this.musicVolumeLevel);
      },
      */

      _equalizerUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["equalizer"];
          var attributeValues = {
            "equalizer": this.equalizerone,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
      },

      _logResponse: function(event, data) {
        console.log(data.response);
      },

      _initializeStatus: function(speaker) {
        this.speakerId = speaker.id;
        this.ledOn = speaker.ledOn;
        this.volume = speaker.VolumeLevel[0];
        this.equalizer = speaker.equalizerone;
      },

      _speakerUpdated: function() {
        this.isReady = false;
        this._initializeStatus(this.speaker);
        this.isReady = true;
      },

      ready: function() {
        if(this.speaker !== undefined)
          this._initializeStatus(this.speaker);
        this.isReady = true;
      }
    });


  /*if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    console.log(navigator.userAgent);
    console.log("This is a mobile browser - changing display pattern");

      window.onload = function() {
        // Use this for loading a different thing when the window loads and the viewport is too small
        var radio_group = document.getElementById("mode")
        console.log(radio_group);
        radio_group.style.float = "left";

        var radio_buttons = [];
        radio_buttons[0] = document.getElementById("volumeButton");
        radio_buttons[1] = document.getElementById("lightButton");
        radio_buttons[2] = document.getElementById("averagingButton");
        radio_buttons[3] = document.getElementById("equalizerButton");
        console.log(radio_buttons);

        for (i in radio_buttons) {
          radio_buttons[i].style.float = "left";
        }

        Polymer.updateStyles(); // may or may not need this

      };
  }*/
/*
paper-radio-group {
          @apply(--layout-horizontal)
        }
        paper-radio-button {
          @apply(--layout-vertical);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-vertical)
        }

        volume-selector, light-controller {
          margin-top: 20px;
        }*/

          var controller = document.getElementsByClassName('controller');
          console.log("hiiii", controller);

          //$(window).resize(function() {
    
//      console.log($(window).width());
      
//console.log(document.getElementById("eighty").offsetWidth);
//console.log(document.clientHeight);
//document.getElementById("equalizer-controller").style.height = 'calc(60% + (.05 * 100vw))';
//console.log(document.getElementById("").offsetHeight);
//});

  </script>
</dom-module>