<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="/components/simple-fit.html">
<link rel="import" href="/components/volume-selector.html">
<link rel="import" href="/components/light-controller.html">
<link rel="import" href="/components/averaging-controller.html">
<!--<link rel="import" href="/components/map-controller.html">-->
<dom-module id="speaker-controller">
  <template>
    <style>
     :host {
        display: block;
      }
     
      .container {
        width: 100%;
      }
      
      .container-height {
        height: 100%;
      }
      
      volume-selector {
        width: 30%;
        min-width: 300px;
      }

      @media (min-width: 500px) {
        paper-radio-group {
          @apply(--layout-vertical);
        }

        paper-radio-button {
          @apply(--layout-horizontal);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-horizontal)
        }
      }

      @media (max-width: 499px) {
        paper-radio-group {
          @apply(--layout-horizontal)
        }
        paper-radio-button {
          @apply(--layout-vertical);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-vertical)
        }

        volume-selector, light-controller {
          margin-top: 20px;
        }

      }

    </style>
    <div id="radio-container" class="layout horizontal">
      <paper-radio-group selected="{{mode}}" id="mode">
        <paper-radio-button name="volume" class="flex">Volume</paper-radio-button>
        <paper-radio-button name="averaging" class="flex">Averaging</paper-radio-button>
        <paper-radio-button name="light" class="flex">LED</paper-radio-button>
      </paper-radio-group>
    </div>
    <neon-animated-pages selected="[[page]]" id="pages" class="flex">
      <neon-animatable class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <light-controller id="light" led-on="{{ledOn}}"></light-controller>
        </simple-fit>
      </neon-animatable>


      <neon-animatable class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <averaging-controller id="averaging" speaker-id="[[speakerId]]" averaging="[[averaging]]"></averaging-controller>
        </simple-fit>
      </neon-animatable>
      <neon-animatable class="horizontal layout" entry-animation="slide-from-left-animation" exit-animation="slide-left-animation">
        <simple-fit class="container">
          <volume-selector id="volume" volume="{{volume}}"></volume-selector>
        </simple-fit>
      </neon-animatable>
    </neon-animated-pages>
    <iron-ajax
          id="speakerUpdateAjax"
          url="/system/speaker/"
          method="PUT"
          content-type="application/json"
          handle-as="json"
          on-response="_logResponse"
          debounce-duration="300"></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'speaker-controller',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        speaker: {
          type: Object,
          observer: "_speakerUpdated"
        },

        isReady: {
          type: Boolean,
          value: false
        },

        mode: {
          type: String,
          value: "light",
          observer: "_selectionChanged"
        },
        page: {
          type: String,
          value: 0
        },
        speakerId: {
          type: Number,
          value: 0
        },
        ledOn: {
          type: Boolean,
          value: true,
          observer: '_ledUpdate'
        },
        volume: {
          type: Number,
          value: 0,
          observer: '_volumeUpdate'
        },

        animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                // provided by neon-animation-animations/fade-out-animation.html
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },

      _selectionChanged: function(event) {
        
        var selected = this.mode;

        switch(selected) {

          case "light":
            this.page = 0;
            break;

          case "averaging":
            this.page = 1;
            break;

          case "volume":
            this.page = 2;
            break;

          default:
            break;
        }
      },

      _ledUpdate: function() {
        /*
          We only want to notify the server of changes if this is after ready() has been called.
          This is because _ledUpdate is triggered when initially setting values received from the server
        */
        if(this.isReady) {
          var updatedAttributes = ["led"];
          var attributeValues = {
            "led": this.ledOn,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
      },

      _volumeUpdate: function() {
        if(this.isReady) {
          var updatedAttributes = ["volume"];
          var attributeValues = {
            "volume": this.volume,
          };
          this.$.speakerUpdateAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,
            "speaker": this.speakerId
          };
          this.$.speakerUpdateAjax.generateRequest();
        }
      },

      _logResponse: function(event, data) {
        console.log(data.response);
      },

      _initializeStatus: function(speaker) {
        this.speakerId = speaker.id;
        this.ledOn = speaker.ledOn;
        this.volume = speaker.volumeLevel;
      },

      _speakerUpdated: function() {
        this.isReady = false;
        this._initializeStatus(this.speaker);
        this.isReady = true;
        console.log("speaker updated");
      },

      ready: function() {
        if(this.speaker !== undefined)
          this._initializeStatus(this.speaker);
        this.isReady = true;
      }
    });
  </script>
</dom-module>