<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">



<dom-module id="speaker-tooltip">
  <template>
    <style>
      :host {
      }
      paper-button {
       /* background-color: #4285f4; */
       background-color: #3f51b5;
        color: #fff;
        margin-top: 5px;
        width: 100%;
      }

      paper-card {
        text-align: left;
      }

    </style>
    <div id="tooltipInformation">
      <b id="name"></b>
      <br>
      <b id="speaker"></b>
      <br>
      <b id="zone"></b>
      <br>
      <b id="volume"></b>
    </div>
    <div>
      <paper-button on-click="_selectSpeaker">speaker</paper-button>
    </div>
    <div>
      <paper-button on-click="_selectZone">zone</paper-button>
    </div>
    <div>
      <paper-button on-click="_selectAllZone">all zone</paper-button>
    </div>
  </template>
  <script>

    Polymer({
      is: 'speaker-tooltip',

      attributes: {
        speaker: Object
      },

      _selectSpeaker: function() {
        this.fire('speakerselected', {speaker: this.speaker});
        console.log(this.speaker)
      },

      _selectZone: function() {
        this.fire('zoneselected', {zone: this.speaker.zone});
      },

      _selectAllZone: function() {
        this.fire('allzoneselected', {zone: 1})
      }
    });
  </script>
</dom-module>