/*
		This shit is deprecated, dont use this
*/



.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #4285f4;
	border-radius: 20px;
	border: 2px solid #d3d3d3;
	margin-bottom: -15px;
	margin-left: -5px;
	padding: 4px;
}

.ui-widget-header {
	background: #4285f4;
}

/*
#slider-vertical {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical2 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical3 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical4 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical5 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical6 {
	height: 200px;
	margin-left: 20px;
	float: left;
}
#slider-vertical7 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical8 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical9 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical10 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical11 {
	height: 200px;
	margin-left: 20px;
	float: left;
}

#slider-vertical12 {
	height: 200px;
	margin-left: 20px;
	float: left;
}
*/

/*
#amount {
	margin-left: 20px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount2 {
	margin-left: 15px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount3 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount4 {
	margin-left: 10px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount5 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount6 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount7 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount8 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount9 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount10 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount11 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}

#amount12 {
	margin-left: 12px;
	border:0; 
	color:#f6931f; 
	font-weight:bold; 
	width:20px;
	color: #4285f4;
}
*/

.custom {
	position: relative;
	top: 50px;
	width: 30px;
	float: left;
	height: 200px;
	margin-left: 20px;
	margin-right: 20px;
}

.custom > .custom_slider {
	height: 100%;
	margin-bottom: 25px;
	margin-left: calc(50% - 8px);
}

.custom > input {
	border: 0; 
	color: #f6931f; 
	font-weight: bold; 
	width: 21px;
	color: #4285f4;
	text-align: center;
	margin-left: calc(50% - 11px);
	margin-bottom: 20px;
}

#header {
	height: 100px;
	margin: -10px;
	background: #4285f4;
}

#header nav.top {
	color: #a6abab;
	background: #4285f4;
	z-index: -1;
	height: 100%;
}

#square {
	width: 80%;
	left: 10%;
	height: 50px;
	background: #4285d5;
	z-index: 1;
	position: relative;
	top: 25px;
}

.custom.1 {
	margin-left: 50%;
}

#custom_container {
	position: relative;
	top: 50px;
	width: 80%;
	height: 100%;
	margin-left: calc(20%);
}