<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<script src="Chart.js" type="text/jscript"></script>
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>
<!--<script src="jquery-2.2.0.js"></script>-->
<!--<link rel="import" href="/bower_components/paper-checkbox//paper-checkbox.html">-->

<dom-module id="target-selector">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%;
        text-align: center;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 5px;
      }

      .inputs {
        width: calc(.025 * 100vw);
        margin-right: calc(.014 * 100vw);
        margin-top: calc(-.015 * 100vh);
      }

      paper-input /deep/ #input {
        text-align: center;
      }

    </style>
   <paper-card heading="Target" elevation="4">
      <div class="card-content">
        <canvas id="targetChart" style="margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);" class="chartClass"></canvas>
        <div class="horizontal layout" id="adjustment" style="height: calc(.05 * 100vh); margin-top: calc(.0 * 100vh);">
          <!-- try doing a no float and then just putting 0 and making it start default? -->
          <paper-input class="inputs" name="80"     on-input="redrawOnInput" center-justified style="margin-left: calc(.025 * 100vw);"></paper-input>
          <paper-input class="inputs" name="100"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="125"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="160"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="200"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="250"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="315"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="400"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="500"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="630"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="800"    on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="1k"     on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="1.25k"  on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="1.6k"   on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="2k"     on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="2.5k"   on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="3.15k"  on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="4k"     on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="5k"     on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="6.3k"   on-input="redrawOnInput" ></paper-input>
          <paper-input class="inputs" name="8k"     on-input="redrawOnInput" ></paper-input>
        </div>
      </div>
      <div class="card-actions">
        <paper-button on-click="_setTargetClicked">apply target</paper-button>
        <!-- try to get this to open up -->
        <paper-dropdown-menu vertical-align="bottom" horizontal-align="left" id="targetMenu" no-label-float label="Target Selection:">
          <paper-listbox id="targetListbox" attr-for-selected="value" selected="{{selection}}" class="dropdown-content" value="0">
            <!--<template if="{{this.speaker.Response}}">
              <paper-dropdown-menu selected="{{selected}}">
                <template repeat="{{label in this.speaker.PresetNames}}">
                  <paper-item value="{{i}}" label="{{label}}"></paper-item>
                </template>
              </paper-dropdown-menu>  
            </template>-->   
            <paper-item id="Currently Applied" value="Currently Applied">Currently Applied</paper-item>
            <paper-item id="Add New Target" value="Add New Target">Add New Target</paper-item>   
          </paper-listbox>
        </paper-dropdown-menu>
      </div>
    </paper-card>
    <paper-toast id="toaster" duration="4000"></span></paper-toast>
    <!--<paper-toast id="errorAdjustToast"><paper-item id="Add New Target" value="Add New Preset">Add New Preset</paper-item></paper-toast>-->
    <paper-toast id="errorAdjustToast"></paper-toast>
    <paper-dialog id="dialog" heading="this is a title" entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true">
      <h1 style="text-align: center;">Add Target</h1>
      <div style="text-align: center;">Enter the name for the new target below</div>
      <div class="message">{{err}}</font></div>
      <paper-input id="popupInput" label="" placeholder="Enter new target name" text-align="center"></paper-input>
      <div class="buttons">
      <paper-button ondialog-confirm on-click="_acceptPressed">Add</paper-button>
      <paper-button dialog-dismiss on-click="_cancelPressed">Cancel</paper-button>
    </div>
    </paper-dialog>

    <iron-ajax
      id="addTargetAjax"
      url="/system/addTarget/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">
    </iron-ajax>

  </template>
  <script>
  window.addEventListener('WebComponentsReady', function(e) {
    console.log("WebComponentsReady");
    console.log();
  });

  var dataArray = [];
  console.log(dataArray);

    var labels = ["80", "100", "125", "160", "200", "250", "315", "400", "500", "630", "800", "1k", "1.25k", "1.6k", "2k", "2.5k", "3.15k", "4k", "5k", "6.3k", "8k"];


    data = {
      labels,
      datasets: [{
        fillColor: "rgba(63, 81, 181, 0.25)",
        strokeColor: "#3f51b5",
        pointColor: "#fff",
        pointStrokeColor: "#3f51b5",  
        data: dataArray,
      }]
    }

    var lineAttributes = {
      scaleOverride: true,
      scaleSteps: 10,
      scaleStartValue: -20,
      scaleStepWidth: 10,
      scaleShowLabels: true,
      scaleFontSize: 12,
    };

    var resizeLineAttributes = {
      animation: false,
      scaleOverride: true,
      scaleSteps: 10,
      scaleStartValue: -20,
      scaleStepWidth: 10,
      scaleShowLabels: true,
      scaleFontSize: 12,
    };

    var redrawLineAttributes = {
      showTooltips: true,
      scaleOverride: true,
      scaleSteps: 10,
      scaleStartValue: -20,
      scaleStepWidth: 10,
      scaleShowLabels: true,
      scaleFontSize: 12,
    };

    //redraw(dataArray, lineAttributes);

    Polymer({
      is: 'target-selector',
      
      properties: {
        internalTarget: String,

        target: {     // I think this 
          type: String,
          notify: true,
          observer: '_setInternalTarget'
        },

        speaker: {
          type: Object,
        },

       /*
        internaMusiclVolume: String,

         musicVolume: {
          type: String,
          notify: true,
          observer: '_setInternalMusicVolume'
        },
        */

        /*internalVolume3: Number,

        pagingVolume: {
          type: Number,
          notify: true,
          observer: '_setInternalMusicVolume'
        },*/

        speakerId: {
          type: Number
        }
      },

    redrawOnInput: redrawOnInput,

      /*
      properties: {
        internalVolume2: Number,

         musicVolume: {
          type: Number,
          notify: true,
          observer: '_setInternalMusicVolume'
        },

        speakerId: {
          type: Number
        }
      },
      */

      _setInternalTarget: function(dataArrayString) {
        this.internalTarget = dataArrayString;
        console.log("_setInternalTarget" + dataArrayString);
      },

      /*
      _setInternalMusicVolume: function(musicVolume) {
        this.internalMusicVolume = musicVolume;
        console.log("_setInternalMusicVolume");
      },
      */

      // dont know if we even need these observers
      /* _setInternalMusicVolume: function(musicVolume) {
        this.internalVolume2 = this.musicVolume;
        console.log("_setInternalMusicVolume");
      },

       _setInternalPagingVolume: function(pagingVolume) {
        this.internalVolume3 = this.musicVolume;
        console.log("_setInternalPagingVolume");
      },*/
      
      _setTargetClicked: function() {
        var checkInt = 0;
        var checkBands = [];
        var targetText = "Invalid input at ";

        $(document.getElementsByClassName("inputs")).each(function(i) {
          if(isNaN(this.value) || this.value < -20 || this.value > 80) {
            console.log(typeof this.value, parseInt(this.value));
            console.log(this.name);
            checkInt++;
            checkBands.push(labels[i]); // may have to put new string here
            console.log(checkBands);
          }
        });

        console.log(checkBands);

        if(checkInt > 0) {
          if(checkBands.length == 1) {
            targetText += checkBands[0] + "Hz";
          } else {
            for (var i = 0; i < checkBands.length - 1; i++) {
              targetText += checkBands[i] + "Hz, "
            }
            targetText += "and " + checkBands[checkBands.length - 1] + "Hz";
          }
          this.$.toaster.duration = 2000 + (500 * checkBands.length);
          this.$.toaster.text = targetText;
          this.$.toaster.show();
        } else {
          this.dataArrayString = dataArray.join(", ");
          for (var i = 0; i < this.speaker.CurrentTarget.length; i++) { 
            this.speaker.CurrentTarget[i] = dataArray[i];
            //console.log(dataArray[i]);
          }
          this.target = dataArray.join(" ");
          //console.log(this.$);
          console.log(dataArray);
          //console.log(this.dataArrayString);
          this.$.toaster.text = "Target set to: " + dataArray.join(", ") + ", switch to the equalizer page for further adjustment";
          this.$.toaster.show();
          console.log("_setTargetClicked");
        }
      },

      _logResponse: function(event, data) {
        console.log(data.response);
      },

      _acceptPressed: function(event) {
        var name = this.$.popupInput.value.valueOf().replace("\n", "").replace("\t", "");
        var ifvar = 0;
        if(this.speaker.TargetNames.length > 0) {
          for(var i = 0; i < this.speaker.TargetNames.length; i++) {
            if(name.toLowerCase() == this.speaker.TargetNames[i].valueOf().toLowerCase()) {
              console.log("same name dude");
              ifvar++;    // make more checks dummy
            }
          }
        }

        if(ifvar > 0) {
          console.log("we are in here right now");
          this.err = "Invalid name: Name already taken";
          this.$.errorAdjustToast.text = this.err;
          this.$.errorAdjustToast.show();
        } else {
          this.$.addTargetAjax.body = {
            "speaker": this.speakerId,
            "name": name,
            "update": false,
            "constants": dataArray.join(" ")
            // Maybe we should add a currently applied thing in here or something
          };

          //console.log(dataArray.join(" "));

          console.log("addTargetAjax:", addTargetAjax.body);
          this.$.addTargetAjax.generateRequest();

          this.$.dialog.toggle();

          this.$.errorAdjustToast.text = "Added target: " + name + " " + dataArray.join(", ");
          console.log(this.$.errorAdjustToast.text);

          this.$.errorAdjustToast.show();

          temp = document.createElement("paper-item");
          temp.setAttribute("value", name);
          temp.setAttribute("id", name);
          // temp.setAttribute("speakerId", controller.speaker.speakerId); try doing some optimization stuff with the speakerId
          temp.innerHTML = name;
          Polymer.dom(this.$.targetListbox).appendChild(temp);

          var length = this.speaker.Target.length;
          //console.log(length);

          console.log(dataArray);

         /* var dataArrayCopy = dataArray.slice();

          console.log("dataArrayCopy: ", dataArrayCopy);*/
          this.speaker.Target.push(dataArray.slice());    // change this to dataArrayCopy if it breaks
          //}

          this.speaker.TargetNames[this.speaker.TargetNames.length] = name;

          console.log(this.speaker.Target);

          this.$.targetListbox.selected = name;
          //this.$.toasty.text = "";
          this.$.popupInput.value = "";
        }
      },

      _cancelPressed: function(event) {
        // make something that will capture the last thing clicked and keep track of that and change it to that when they click cancel

        this.$.targetListbox.selected = -1;

        console.log(lastSelected);

      },

      listeners: {
        'targetListbox.iron-select': '_presetSelectionChanged'
      },
      
      _presetSelectionChanged: function(event) {
        var selected = this.$.targetListbox.selected.valueOf().toLowerCase().replace("\n", "");

        if(selected == "currently applied") {
          this.$.errorAdjustToast.text = "Currently applied constants loaded! " + dataArray.join(", ");
          this.$.errorAdjustToast.show();

          lastSelected = this.$.targetListbox.selected;

          for (var i = 0; i < this.speaker.CurrentTarget.length; i++) { 
            dataArray[i] = this.speaker.CurrentTarget[i];
          }

          redraw(data, lineAttributes);

          $(document.getElementsByClassName("inputs")).each(function(j) {
            this.value = dataArray[j];
          });
        } else if(selected == "add new target") {
            var addTargetAjax = document.getElementById("addTargetAjax");
            console.log(addTargetAjax);
            this.$.dialog.toggle();
        } else if(this.speaker.TargetNames.length > 0) {
            lastSelected = this.$.targetListbox.selected;
            var associationLink = -1;
            for (k in this.speaker.TargetNames) {
              if(selected == this.speaker.TargetNames[k].valueOf().toLowerCase()) {
                // show a toast here with the preset applied message
                associationLink = k;   // this will either need to be bounded by the the restriction that two names cannot be the same or we need to check
                console.log("associationLink", associationLink);
                break;    // this is for efficiency reasons, better to keep it this way if it works
              }
            }
            if(associationLink != -1) {
              console.log(this.speaker.Target.length);

              for (var j = 0; j < this.speaker.Target[0].length; j++) {
               dataArray[j] = this.speaker.Target[associationLink][j]; 
              }

              $(document.getElementsByClassName("inputs")).each(function(k) {   // this can be optimized
                this.value = dataArray[k];
              });

              redraw(data, lineAttributes);
              this.$.errorAdjustToast.text = this.$.targetListbox.selected + " target loaded! " + dataArray.join(", ");
              this.$.errorAdjustToast.show();
              console.log("Speaker " + this.speakerId + " selected target: " + selected);
            }
          }
        },


      ready: function() {
        this.internalTarget = this.target;
        console.log("I am ready " + this.internalTarget);
      }
    });

    var myChart;

    var canvas = document.getElementById("targetChart");
    var chart_width_scalar = .8;
    var chart_height_scalar = .55;


  $(document).ready(function() {
    canvas = document.getElementById("targetChart");
    canvas.width = $(window).width() * chart_width_scalar;
    canvas.height = $(window).height() * chart_height_scalar;

    $(document.getElementsByClassName("inputs")).each(function(i) {
      this.value = dataArray[i];
    });

    myChart = new Chart(canvas.getContext("2d")).Line(data, lineAttributes);
  });


  $(window).resize(function() {
    $($(canvas).parent()).prepend("<canvas id=\"targetChart\" style=\"margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);\" class=\"chartClass\"></canvas>");
    canvas.remove();

    canvas = document.getElementById("targetChart");
    canvas.width = $(window).width() * chart_width_scalar;
    canvas.height = $(window).height() * chart_height_scalar;
    myChart = new Chart(canvas.getContext("2d")).Line(data, resizeLineAttributes);
  });

  function redraw(drawingData, drawingLineAttributes) {
    $($(canvas).parent()).prepend("<canvas id=\"targetChart\" style=\"margin-left: calc(.02 * 100vh); margin-right: calc(.02 * 100vh); margin-top: calc(.02 * 100vh);\" class=\"chartClass\"></canvas>");
    canvas.remove();

    canvas = document.getElementById("targetChart");
    canvas.width = $(window).width() * chart_width_scalar;
    canvas.height = $(window).height() * chart_height_scalar;
    myChart = new Chart(canvas.getContext("2d")).Line(drawingData, drawingLineAttributes);

  }

  function redrawOnInput() {
    var errorAdjustToast = document.getElementById("errorAdjustToast");
    var strokeColor = "#3f51b5";
    var pointStrokeColor = "#3f51b5";
    var fillColor = "rgba(63, 81, 181, .25)";

    console.log(dataArray);

    $(document.getElementsByClassName("inputs")).each(function(i) {
      console.log(dataArray.length);
      if(this.value > -21 && this.value < 81 && this.value !== "") {
        dataArray[i] = parseInt(this.value);
      } else {
        dataArray[i] = null;
        
        // Set the error colors
        strokeColor = "#F33F31";
        pointStrokeColor = "#F33F31";
        fillColor = "rgba(243, 63, 49, .25)";

        if(isNaN(this.value)) {
          errorAdjustToast.text = "Invalid entry for " + labels[i] + "Hz: Only numerical values are accepted";
          errorAdjustToast.show();
        } else if (this.value === "") {

        } else {
          errorAdjustToast.text = "Invalid entry for " + labels[i] + "Hz: Accepted range of values is -20 to 80";
          errorAdjustToast.show();
        }
      }
      //console.log(dataArray);
    });

    var redrawData = {
      labels,
      datasets: [{
        fillColor: fillColor,
        strokeColor: strokeColor,
        pointColor: "#fff",
        pointStrokeColor: pointStrokeColor,  
        data: dataArray,
        }]
    }

    redraw(redrawData, redrawLineAttributes);
  }

    function me() {
        console.log("gi");

      }
  </script>
</dom-module>