<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<script src="Chart.js" type="text/jscript"></script>
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>
<!--<script src="jquery-2.2.0.js"></script>-->
<!--<link rel="import" href="/bower_components/paper-checkbox//paper-checkbox.html">-->

<dom-module id="target-selector">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%;
        text-align: center;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 10px;
      }
    </style>
   <paper-card heading="Target" elevation="4">
      <div class="card-content">
        <canvas id="targetChart" class="chartClass"></canvas>
      </div>
      <div class="card-actions">
        <paper-button on-click="_setTargetClicked">set target</paper-button>
      </div>
    </paper-card>
    <paper-toast id="toast">Target set to <span>{{target}}</span></paper-toast>
  </template>
  <script>
    Polymer({
      is: 'target-selector',
      
      properties: {
        internalTarget: String,

        target: {     // I think this 
          type: String,
          notify: true,
          observer: '_setInternalVolume'
        },

       /*
        internaMusiclVolume: String,

         musicVolume: {
          type: String,
          notify: true,
          observer: '_setInternalMusicVolume'
        },
        */

        /*internalVolume3: Number,

        pagingVolume: {
          type: Number,
          notify: true,
          observer: '_setInternalMusicVolume'
        },*/

        speakerId: {
          type: Number
        }
      },

      /*
      properties: {
        internalVolume2: Number,

         musicVolume: {
          type: Number,
          notify: true,
          observer: '_setInternalMusicVolume'
        },

        speakerId: {
          type: Number
        }
      },
      */

      _setInternalTarget: function(volume) {
        this.internalTarget = target;
        console.log("_setInternalTarget" + this.internalTarget);
      },

      /*
      _setInternalMusicVolume: function(musicVolume) {
        this.internalMusicVolume = musicVolume;
        console.log("_setInternalMusicVolume");
      },
      */

      // dont know if we even need these observers
      /* _setInternalMusicVolume: function(musicVolume) {
        this.internalVolume2 = this.musicVolume;
        console.log("_setInternalMusicVolume");
      },

       _setInternalPagingVolume: function(pagingVolume) {
        this.internalVolume3 = this.musicVolume;
        console.log("_setInternalPagingVolume");
      },*/
      
      _setTargetClicked: function() {
        this.target = this.internalTarget;
        //this.musicVolume = this.internalVolume2;
        this.$.toast.show();
        console.log("_setTargetClicked");
      },


      ready: function() {
        this.internalTarget = this.target;
        console.log("I am ready " + this.internalTarget);
      }
    });

    var dataArray = [42, 42, 47, 53, 54, 51, 46, 47, 46, 45, 40, 37, 38, 40, 41, 39, 38.5, 34.5, 32, 30, 30];

    var data = {
      labels: ["80", "100", "125", "160", "200", "250", "315", "400", "500", "630", "800", "1k", "1.25k", "1.6k", "2k", "2.5k", "3.15k", "4k", "5k", "6.3k", "8k"],
      datasets: [
        {
          fillColor: "rgba(33, 67, 214, 0.25)",
          strokeColor: "#3367d6",
          pointColor: "#fff",
          pointStrokeColor: "#3367d6",  
          data: dataArray,
        }
      ]
    }
    var canvas = document.getElementById("targetChart");
    var chart_width_scalar = .8;
    var chart_height_scalar = .6;

    var lineAttributes = {
      scaleOverride: true,
      scaleSteps: 10,
      scaleStartValue: -20,
      scaleStepWidth: 10,
      scaleShowLabels: true,
      scaleFontSize: 12
    };

  $(document).ready(function() {
    canvas = document.getElementById("targetChart");
    canvas.width = $(window).width() * chart_width_scalar;
    canvas.height = $(window).height() * chart_height_scalar;

    new Chart(canvas.getContext("2d")).Line(data, lineAttributes);
  });

  $(window).resize(function() {
    canvas.width = $(window).width() * chart_width_scalar;
    canvas.height = $(window).height() * chart_height_scalar;

    new Chart(canvas.getContext("2d")).Line(data, lineAttributes);
  });
    

  </script>
</dom-module>