<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">

<link rel="import" href="/components/volume-selector.html">


<dom-module id="test-controller">
  <template>
    <style>
     :host {
        display: block;
        background-color: red;
      }
     
      .container {
        width: 100%;
      }
    </style>
    test
  </template>
  <script>
    Polymer({
      is: 'test-controller'
    });
  </script>
</dom-module>