<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="volume-selector">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%
      }
     
      paper-slider {
        width: 100%;
      }
      
      paper-button {
        background-color: #4285f4;
        color: #fff;
        margin-top: 10px;
        width: 100%;
      }
    </style>
   <paper-card heading="Volume" elevation="4">
      <div class="card-content">
        <div class="layout horizontal">
          <paper-icon-button icon="remove" on-click="decrementVolume"></paper-icon-button>
          <paper-slider id="volume2" pin min="0" max="100" value="{{volume}}"></paper-slider>
          <paper-icon-button icon="add" on-click="incrementVolume"></paper-icon-button>
        </div>
      </div>
      <div class="card-actions">
        <paper-button on-click="showToast">set volume</paper-button>
      </div>
    </paper-card>
    <paper-toast id="toast">Volume set to <span>{{volume}}</span></paper-toast>
  </template>
  <script>
    Polymer({
      is: 'volume-selector',
      
      properties: {
        volume: Number
      },
      
      showToast: function() {
        document.querySelector("#toast").show();
      },
      
      decrementVolume: function() {
        document.querySelector("#volume2").decrement();
        document.querySelector("#volume2")._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      incrementVolume: function() {
        document.querySelector("#volume2").increment();
        document.querySelector("#volume2")._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      resetKnob: function(elem) {
        elem.prevTimeout = 0;
        document.querySelector("#volume2")._resetKnob();
      }
    });
  </script>
</dom-module>