<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">

<link rel="import" href="/components/speaker-icon.html">

<dom-module id="zone-map-controller">
  <template>
    <style>
      :host {
        display: block;
      }

      #map {
        height: 100%;
        width: 100%;
      }
      paper-card {
        padding: 10px;
      }
      
      #zoneBtn {
        background-color: #4285f4;
        color: #fff;
        margin-top: 5px;
        width: 100%;
      }
      
      #zoneContainer {
        text-align: center;
      }
      
      paper-listbox {
        max-height: 100px;
      }
    </style>
    <div id="map" class="map">
    </div>
    <paper-card id="popup">
      <div>Current Zone: <span><b>{{selected.zone.name}}</b></span></div>
      <div><paper-button id="zoneBtn" on-click="_assignZone">assign zone</paper-button></div>
    </paper-card>
    <paper-dialog id="dialog">
      <h2>Assign Zone</h2>
      <div id="zoneContainer">
        <paper-dropdown-menu label="Zone">
          <paper-menu class="dropdown-content">
            <template is="dom-repeat" items="{{controllers}}">
              <paper-item>{{item.id}}</paper-item>
            </template>
          </paper-menu>
        </paper-dropdown-menu>
      </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm>Accept</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
    
    Polymer({
      is: 'zone-map-controller',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                // provided by neon-animation-animations/fade-out-animation.html
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },
      
      _assignZone: function() {
        this._hideOverlay();
        this.$.dialog.open();
      },
      
      _hideOverlay: function() {
        this.overlay.setPosition(undefined);
      },

      renderMap: function() {
        var mapController = this;
        var container = document.getElementById('popup');
        var overlay = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
          element: container,
          autoPan: true,
          autoPanAnimation: {
            duration: 250
          }
        }));
        
        mapController.overlay = overlay;
        
        // Map views always need a projection.  Here we just want to map image
        // coordinates directly to map coordinates, so we create a projection that uses
        // the image extent in pixels.
        var extent = [0, 0, 2200, 1700];
        var projection = new ol.proj.Projection({
          code: 'pixel',
          units: 'pixels',
          extent: extent
        });

        var locations = this.controllers;
        var features = new Array(locations.length);
        for(var i = 0; i < features.length; i++) {
            var coordinates = [locations[i].x, 1700-locations[i].y];
            features[i] = new ol.Feature({
              geometry: new ol.geom.Point(coordinates),
              speaker: locations[i]
            });
        }

        var vectorSource = new ol.source.Vector({
            features: features
        });

        var style = {}

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: function(feature, resolution) {
                if(style.resolution !== resolution) {
                  style.style = [new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 15/Math.max(resolution,1),
                            stroke: new ol.style.Stroke({
                                color: '#1A237E'
                            }),
                            fill: new ol.style.Fill({
                                color: '#9FA8DA'
                            })
                        })
                    })];
                    style.resolution = resolution;
                }
                return style.style;
            }
        });

        var map = new ol.Map({
          layers: [
            new ol.layer.Image({
              source: new ol.source.ImageStatic({
                url: '/css/map.png',
                projection: projection,
                imageExtent: extent
              })
            }),
              vectorLayer
          ],
          overlays: [overlay],
          target: 'map',
          view: new ol.View({
            projection: projection,
            center: ol.extent.getCenter(extent),
            zoom: 2
          })
        });

        var select = new ol.interaction.Select({
          style: function(feature, resolution) {
                return style.style;
            }
        });
        map.addInteraction(select);
        select.on('select', function(e) {
            if(e.selected.length > 0) {
              console.log("Selected");
              var speaker = e.selected[0].getProperties().speaker
              console.log(speaker);
              mapController.selected = speaker;
              // get the point's coordinate
              var coordinate = e.selected[0].getProperties().geometry.getCoordinates();
              overlay.setPosition(coordinate);
            } else {
              // make sure the overlay is hidden
              mapController._hideOverlay();
            }
            
        });
      }
    });
  </script>
</dom-module> 