<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">

<link rel="import" href="../simple-fit.html">
<link rel="import" href="../information-viewer.html">
<link rel="import" href="../volume-selector.html">
<link rel="import" href="target-selector-zone.html">
<link rel="import" href="../averaging-controller.html">
<link rel="import" href="equalizer-controller-zone.html">
<link rel="import" href="../paging-controller.html">
<link rel="import" href="scheduling-controller-zone.html">

<link rel="stylesheet" href="../jquery-ui-1.11.4.css">
<script src="../jquery-1.10.2.js" type="text/jscript"></script>
<script src="../Chart.js" type="text/jscript"></script>
<script src="../jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="../jquery.ui.touch-punch.js" type="text/jscript"></script>

<dom-module id="zone-controller">
  <template>
    <style>
     :host {
        display: block;
      }
     
      .container {
        width: 100%;
      }
      
      .container-height {
        height: 100%;
      }
      
      volume-selector {
        width: 70%;
      }
      
      paging-controller {
        width: 70%;
      }

      equalizer-controller-zone {
        width: 90%;
        min-width: 300px;
        height: 100%;
      }

      averaging-controller {
        width: 80%;
        height: 100%;
      }

      @media (min-width: 769px) {
        paper-radio-group {
          @apply(--layout-vertical);
        }

        paper-radio-button {
          @apply(--layout-horizontal);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-horizontal)
        }
      }

      @media (max-width: 768px) {
        paper-radio-group {
          @apply(--layout-horizontal)
        }
        paper-radio-button {
          @apply(--layout-vertical);
          @apply(--layout-center);
        }

        #radio-container {
          @apply(--layout-vertical)
        }

        volume-selector, light-controller {
          margin-top: 20px;
        }
      }

  </style>
    <div id="radio-container" class="layout horizontal">
      <paper-radio-group id="mode" style="margin-left: 15%;" selected="{{mode}}">
        <paper-radio-button id="volumeButtonZone"     name="volume"         class="flex"><h3>Volume</h3></paper-radio-button>
        <paper-radio-button id="averagingButtonZone"  name="averagingZone"  class="flex"><h3>Comfort Ratio</h3></paper-radio-button>
        <paper-radio-button id="targetButtonZone"     name="targetZone"     class="flex"><h3>Target</h3></paper-radio-button>
        <paper-radio-button id="equalizerButtonZone"  name="equalizerZone"  class="flex"><h3>Equalizers</h3></paper-radio-button>
        <paper-radio-button id="pagingButtonRCZone"   name="pagingZone"     class="flex"><h3>Paging</h3></paper-radio-button>
        <paper-radio-button id="schedulingButtonZone" name="schedulingZone" class="flex"><h3>Scheduling</h3></paper-radio-button>
      
      </paper-radio-group>
    </div>
    <neon-animated-pages attr-for-selected="page" selected="[[mode]]" class="flex">

      <neon-animatable page="volume" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <volume-selector id="volumeZone" speaker-id="[[speakerId]]" volume="{{volumeLevel}}" musicVolume="{{musicLevel}}"></volume-selector>
        </simple-fit>
      </neon-animatable>

      <neon-animatable page="averagingZone" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <averaging-controller id="averagingZone" speaker-id="[[speakerId]]" averagingForZone="[[averagingForZone]]"></averaging-controller>
        </simple-fit>
      </neon-animatable> 
      
      <neon-animatable page="targetZone" id="target-selector-zone" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <target-selector-zone id="targetZone" speakerZone="[[speakerZone]]" targetZone="{{targetZone}}"></target-selector-zone>
        </simple-fit>
      </neon-animatable>
      
      <neon-animatable page="equalizerZone" id="equalizer-controller-zone" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <equalizer-controller-zone id="equalizerZone" speaker-id="[[speakerId]]" speaker="[[speaker]]" equalizer="{{equalizerone}}" music="{{musicone}}"></equalizer-controller-zone>
        </simple-fit>
      </neon-animatable>
      
      <neon-animatable page="pagingZone" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
          <paging-controller id="pagingZone" speaker-id="[[speakerId]]" paging="{{pagingLevel}}"></paging-controller>
        </simple-fit>
      </neon-animatable>

      <neon-animatable page="schedulingZone" class="layout horizontal" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
        <simple-fit class="container">
           <scheduling-controller-zone center-center id="schedulingZone" speaker="[[speaker]]"></scheduling-controller-zone>
        </simple-fit>
      </neon-animatable> 
      

    </neon-animated-pages>

    <iron-ajax
          id="speakerUpdateAjax"
          url="/system/speaker/"
          method="PUT"
          content-type="application/json"
          handle-as="json"
          on-response="_logResponse"
          debounce-duration="300">
    </iron-ajax>

  </template>
  <script>
    Polymer({
      is: 'zone-controller',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        zone: {
          type: Object,
          observer: "_zoneUpdated"
        },

        isReady: {
          type: Boolean,
          value: false
        },

        mode: {
          type: String,
          value: "volume"
        },

        speakerId: {
          type: Number,
          value: 0
        },

        volumeLevel: {
          type: String,
          value: "0",
          observer: '_volumeUpdate'
        },
        
        musicLevel: {
          type: Number,
          value: 0
        },

        pagingLevel: {
          type: String,
          value: "0",
          observer: '_pagingUpdate'
        },

        equalizerone: {
          type: String,
          value: "0",
          observer: '_equalizerUpdate'
        },

        musicone: {
          type: String,
          value: "0",
          observer: '_equalizerUpdate'
        },

        animationConfig: {
          value: function() {
            return {
              'entry': {
                  name: 'fade-in-animation',
                  node: this
                },
              'exit': {
                name: 'slide-left-animation',
                node: this
              }
            }
          }
        }
      },

      _initializeStatus: function(speaker) {
        this.speakerId = speaker.id;
        speakerid = speaker.id;
        this.volume = speaker.VolumeLevel[0];
        this.equalizer = speaker.equalizerone;
      },

      ready: function() {
        //console.log(document.getElementById('target'));
          this._initializeStatus(this.speaker);
        this.isReady = true;
        //console.log("this is the zone flag", zoneFlag);
      },

      _initializeStatus: function(speaker) {
        this.volume = 0;
      },

      _zoneUpdated: function() {
        this.isReady = false;
        this._initializeStatus();
        this.isReady = true;
      }
    });
  </script>
</dom-module>