<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/components/omaha-app.html">

<dom-module id="averaging-controller">
  <template>
    <style>
      :host {
        display: block;
      }
      
      paper-card {
        width: 100%;
        text-align: center;
      }
      
      paper-dropdown-menu {
        margin: 0px 25px 5px;
        overflow-x: hidden;
        width: 170px;
        text-align: center;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 10px;
        text-align: center;
      }

      paper-input /deep/ #input {
        text-align: center;
      }

      paper-slider {
        width: 100%;
      }

      paper-item {
        width: 80px;
        text-align: center;
      }

      iron-dropdown {
        overflow: hidden;
        text-align: center;
      }

      dropdown-content style-scope paper-menu-button x-scope paper-material-0 {
        overflow: hidden;
      }

      #invis {
        visibility: hidden;
      }

    </style>

    <paper-card heading="Pleasantness-Effectiveness Ratio"><h6 style="margin: 0;"></h6>
      <div class="card-content">
        </paper-dropdown-menu>
        <div id=ec_encap class="layout vertical">
          <div id="ec_style_div" class="layout horizontal">
            <paper-slider id="invis" pin min="0" max="100" step="5"></paper-slider>
          </div>

          <h4>Effectiveness</h4>
          <div id="ec_div" class="layout horizontal">
            <paper-icon-button icon="remove" on-click="decrementEffectiveness"></paper-icon-button>
            <paper-slider id="effectiveness" pin min="0" max="10" step="1" value="{{effectiveness}}"></paper-slider>
            <paper-icon-button icon="add" on-click="incrementEffectiveness"></paper-icon-button>
          </div>


          <h4>Pleasantness</h4>
          <div id="ec_div" class="layout horizontal">
            <paper-icon-button icon="remove" on-click="decrementPleasantnesss"></paper-icon-button>
            <paper-slider id="pleasantness" pin min="0" max="10" step="1" value="{{pleasantness}}"></paper-slider> 
            <paper-icon-button icon="add" on-click="incrementPleasanteness"></paper-icon-button>
          </div>
        </div>

        <span>{{value}}</span>
      </div>
      <div class="card-actions">
        <paper-button on-click="_selectionChanged">set ratio</paper-button>
      </div>
    </paper-card>
    <paper-toast id="toast"></span></paper-toast>
    <iron-ajax
      id="selectModeAjax"
      url="/system/speaker/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">
    </iron-ajax>

    <iron-ajax
      id="selectModeAjaxZone"
      url="/system/zone/updateAveragingZone/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">  
    </iron-ajax>
  </template>

  <script>
    Polymer({
      is: 'averaging-controller',

      properties: {
        averaging: Number,

        speakerId: {
            type: Number,
          },

        speaker: {
          type: Object
        }
      },
      
      /**
       * This function is fired when the 'set ratio' button is clicked by the user to set the effectiveness and pleasantness. 
       */
      _selectionChanged: function(event) {
        //console.log(this.speakerId);

        var menu = document.getElementById('menu');

        var attributeValues;

        var updatedAttributes = ["averaging"];

        attributeValues = {
          effectiveness: this.$.effectiveness.value,
          pleasantness: this.$.pleasantness.value
        };
        if(zoneFlag == 0) {
          this.$.selectModeAjax.body = {
            "updatedAttributes": updatedAttributes, 
            "attributeValues": attributeValues,                        
            "speaker": speaker.id
          };

          //console.log(this.$.selectModeAjax.body);
          this.$.selectModeAjax.generateRequest();
        } else {
          this.$.selectModeAjaxZone.body = {                      
            "zone": speaker.zone.zoneID,
            "effectiveness": this.$.effectiveness.value,
            "pleasantness": this.$.pleasantness.value
          };

          //console.log(this.$.selectModeAjaxZone.body);
          this.$.selectModeAjaxZone.generateRequest();
          //console.log(zones);
        }
        //console.log("this is the speaker", speaker);
        var selectModeAjax = document.getElementById("selectModeAjax");
        //console.log(selectModeAjax);
        this.$.toast.text = "Effectiveness set to " + this.$.effectiveness.value + ". Pleasantness set to " + this.$.pleasantness.value + "."; 
        this.$.toast.show();
      },

      _logResponse: function(event, data) {
        //console.log(data.response);
      },

      /**
       * This function is used to decrement the effectiveness.
       */
      decrementEffectiveness: function() {
        this.$.effectiveness.decrement();
        this.$.effectiveness._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },
      
      /**
       * This function is used to increment the effectiveness.
       */
      incrementEffectiveness: function() {
        this.$.effectiveness.increment();
        this.$.effectiveness._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },

      /**
       * This function is used to decrement the pleasantness.
       */
      decrementPleasantnesss: function() {
        this.$.pleasantness.decrement();
        this.$.pleasantness._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },

      /**
       * This function is used to increment the pleasantness.
       */
      incrementPleasantnesss: function() {
        this.$.pleasantness.increment();
        this.$.pleasantness._expandKnob();
        if(this.prevTimeout != 0) {
          window.clearTimeout(this.prevTimeout)
        }
        var elem = this;
        var func = this.resetKnob;
        this.prevTimeout = window.setTimeout(function(){
          func(elem);
        }, 500);
      },

      /**
       * Resetting the knob resets the knob to remove the pin that is hoisted up when the knob is moved.
       */
      resetKnob: function(elem) {
        elem.prevTimeout = 0;
        elem.$.effectiveness._resetKnob();
        elem.$.pleasantness._resetKnob();
      },
      
    });
  </script>
</dom-module>