<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/components/simple-fit.html">

<link rel="import" href="/components/omaha-app.html">

<link rel="stylesheet" href="jquery-ui-1.11.4.css">
<script src="jquery-1.10.2.js" type="text/jscript"></script>
<script src="jquery-ui-1.11.4.js" type="text/jscript"></script>
<script src="jquery.ui.touch-punch.js" type="text/jscript"></script>

<dom-module id="equalizer-controller">
  <template>

    <style>
      :host {
        display: block;
      }

      #slider {
        width: 100%;
        height: calc(85% - .3 * 100vw);
        margin-bottom: calc(.03 * 100vh);
      }

      paper-card {
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .papercardleft {
        text-align: left;
      }

      .papercardcenter {
        text-align: center;
      }

      .paper-card .card-content {
        padding: 0px;
        height: 200%;
      }
      
      paper-button {
        background-color: #3f51b5;
        color: #fff;
        margin-top: 1px;
      }

      paper-input /deep/ #input {
        margin-top: 0px;
        text-align: center;
      }

      .message {
        color: var(--paper-red-500);
        size: 5px;
      }

      paper-dropdown-menu {
        text-align: center;
      }

      #equalizerSelector {
        margin-bottom: 2%;
      }

    </style>

   <paper-card heading="Equalizer" elevation="4">
      <div style="height: calc(.68 * 100vh);" class="card-content">

        <paper-radio-group id="equalizerSelector" selected="{{mode}}">
          <paper-radio-button id="maskingButton" name="masking"  onclick="modeChanged('masking')"   class="flex">Masking</paper-radio-button>
          <paper-radio-button id="musicButton"   name="music"    onclick="modeChanged('music')"     class="flex">Music</paper-radio-button>
          <paper-radio-button id="pagingButton"  name="paging"   onclick="modeChanged('paging')"    class="flex">Paging</paper-radio-button>
        </paper-radio-group>

        <neon-animated-pages attr-for-selected="page" selected="[[mode]]" class="flex">

          <neon-animatable page="masking" style="height: calc(.6 * 100vh);" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
            <simple-fit class="container">

              <div id="sliderequalizer_masking" class="layout horizontal">
                <div id="custom_container_masking">
                  <div class="custom" style="margin-left: 4%;"> <input id="text1" name="80" class="level" tabindex=1 oninput="inputChanged()"/> <div class="custom_slider" value="{{internalEqualizer}}"></div><input class="bands" id="eighty" value="80" readonly/></div>
                  <div class="custom"> <input id="text2" name="100" class="level" tabindex=2 oninput="inputChanged()"/> <div class="custom_slider" class="masking" value={{"equalizer2"}}></div><input class="bands" value="100" readonly/></div>
                  <div class="custom"> <input id="text3" name="125" class="level" tabindex=3 oninput="inputChanged()"/> <div class="custom_slider" class="masking" value={{"equalizer3"}}></div><input class="bands" value="125" readonly/></div>
                  <div class="custom"> <input id="text4" name="160" class="level" tabindex=4 oninput="inputChanged()"/><div class="custom_slider" value={{"equalizer4"}}></div><input class="bands" value="160" readonly/></div>
                  <div class="custom"> <input id="text5" name="200" class="level" tabindex=5 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer5"}}></div><input class="bands" value="200" readonly/></div>
                  <div class="custom"> <input id="text6" name="250" class="level" tabindex=6 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer6"}}></div><input class="bands" value="250" readonly/></div>
                  <div class="custom"> <input id="text7" name="315" class="level" tabindex=7 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer7"}}></div><input class="bands" value="315" readonly/></div>
                  <div class="custom"> <input id="text8" name="400" class="level" tabindex=8 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer8"}}></div><input class="bands" value="400" readonly/></div>
                  <div class="custom"> <input id="text9" name="500" class="level" tabindex=9 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer9"}}></div><input class="bands" value="500" readonly/></div>
                  <div class="custom"> <input id="text10" name="630" class="level" tabindex=10 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer10"}}></div><input class="bands" value="630" readonly/></div>
                  <div class="custom"> <input id="text11" name="800" class="level" tabindex=11 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer11"}}></div><input class="bands" value="800" readonly/></div>
                  <div class="custom"> <input id="text12" name="1k" class="level" tabindex=12 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer12"}}></div><input class="bands" value="1k" readonly/></div>
                  <div class="custom"> <input id="text13" name="1.25k" class="level" tabindex=13 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer13"}}></div><input class="bands" value="1.25k" readonly/></div>
                  <div class="custom"> <input id="text14" name="1.6k" class="level" tabindex=14 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer14"}}></div><input class="bands" value="1.6k" readonly/></div>
                  <div class="custom"> <input id="text15" name="2k" class="level" tabindex=15 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer15"}}></div><input class="bands" value="2k" readonly/></div>
                  <div class="custom"> <input id="text16" name="2.5k" class="level" tabindex=16 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer16"}}></div><input class="bands" value="2.5k" readonly/></div>
                  <div class="custom"> <input id="text17" name="3.15k" class="level" tabindex=17 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer17"}}></div><input class="bands" value="3.15k" readonly/></div>
                  <div class="custom"> <input id="text18" name="4k" class="level" tabindex=18 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer18"}}></div><input class="bands" value="4k" readonly/></div>
                  <div class="custom"> <input id="text19" name="5k" class="level" tabindex=19 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer19"}}></div><input class="bands" value="5k" readonly/></div>
                  <div class="custom"> <input id="text20" name="6.3k" class="level" tabindex=20 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer20"}}></div><input class="bands" value="6.3k" readonly/></div>
                  <div class="custom"> <input id="text21" name="8k" class="level" tabindex=21 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer21"}></div><input class="bands" value="8k" readonly/></div>
                </div>
              </div>
              
            </simple-fit>
          </neon-animatable>

          <neon-animatable page="music" style="height: calc(.6 * 100vh);" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
            <simple-fit class="container">
              
            <div id="sliderequalizer_music" class="layout horizontal">
                <div id="custom_container_music">
                  <div class="custom" style="margin-left: 4%;"> <input id="text22" name="80" class="level" tabindex=1 oninput="inputChanged()"/> <div class="custom_slider" value="{{internalEqualizer}}"></div><input class="bands" id="eighty" value="80" readonly/></div>
                  <div class="custom music"> <input id="text23" name="100" class="level" tabindex=2 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer2"}}></div><input class="bands" value="100" readonly/></div>
                  <div class="custom"> <input id="text24" name="125" class="level" tabindex=3 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer3"}}></div><input class="bands" value="125" readonly/></div>
                  <div class="custom"> <input id="text25" name="160" class="level" tabindex=4 oninput="inputChanged()"/><div class="custom_slider" value={{"equalizer4"}}></div><input class="bands" value="160" readonly/></div>
                  <div class="custom"> <input id="text26" name="200" class="level" tabindex=5 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer5"}}></div><input class="bands" value="200" readonly/></div>
                  <div class="custom"> <input id="text27" name="250" class="level" tabindex=6 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer6"}}></div><input class="bands" value="250" readonly/></div>
                  <div class="custom"> <input id="text28" name="315" class="level" tabindex=7 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer7"}}></div><input class="bands" value="315" readonly/></div>
                  <div class="custom"> <input id="text29" name="400" class="level" tabindex=8 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer8"}}></div><input class="bands" value="400" readonly/></div>
                  <div class="custom"> <input id="text30" name="500" class="level" tabindex=9 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer9"}}></div><input class="bands" value="500" readonly/></div>
                  <div class="custom"> <input id="text31" name="630" class="level" tabindex=10 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer10"}}></div><input class="bands" value="630" readonly/></div>
                  <div class="custom"> <input id="text32" name="800" class="level" tabindex=11 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer11"}}></div><input class="bands" value="800" readonly/></div>
                  <div class="custom"> <input id="text33" name="1k" class="level" tabindex=12 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer12"}}></div><input class="bands" value="1k" readonly/></div>
                  <div class="custom"> <input id="text34" name="1.25k" class="level" tabindex=13 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer13"}}></div><input class="bands" value="1.25k" readonly/></div>
                  <div class="custom"> <input id="text35" name="1.6k" class="level" tabindex=14 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer14"}}></div><input class="bands" value="1.6k" readonly/></div>
                  <div class="custom"> <input id="text36" name="2k" class="level" tabindex=15 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer15"}}></div><input class="bands" value="2k" readonly/></div>
                  <div class="custom"> <input id="text37" name="2.5k" class="level" tabindex=16 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer16"}}></div><input class="bands" value="2.5k" readonly/></div>
                  <div class="custom"> <input id="text38" name="3.15k" class="level" tabindex=17 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer17"}}></div><input class="bands" value="3.15k" readonly/></div>
                  <div class="custom"> <input id="text39" name="4k" class="level" tabindex=18 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer18"}}></div><input class="bands" value="4k" readonly/></div>
                  <div class="custom"> <input id="text40" name="5k" class="level" tabindex=19 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer19"}}></div><input class="bands" value="5k" readonly/></div>
                  <div class="custom"> <input id="text41" name="6.3k" class="level" tabindex=20 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer20"}}></div><input class="bands" value="6.3k" readonly/></div>
                  <div class="custom"> <input id="text42" name="8k" class="level" tabindex=21 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer21"}></div><input class="bands" value="8k" readonly/></div>
                </div>
              </div>

            </simple-fit>
          </neon-animatable>

          <neon-animatable page="paging" style="height: calc(.6 * 100vh);" class="horizontal layout" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation">
            <simple-fit class="container">
              
            <div id="sliderequalizer_paging" class="layout horizontal">
                <div id="custom_container_paging"> 
                  <div class="custom" style="margin-left: 4%;"> <input id="text43" name="80" class="level" tabindex=1 oninput="inputChanged()"/> <div class="custom_slider" value="{{internalEqualizer}}"></div><input class="bands" id="eighty" value="80" readonly/></div>
                  <div class="custom"> <input id="text44" name="100" class="level" tabindex=2 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer2"}}></div><input class="bands" value="100" readonly/></div>
                  <div class="custom"> <input id="text45" name="125" class="level" tabindex=3 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer3"}}></div><input class="bands" value="125" readonly/></div>
                  <div class="custom"> <input id="text46" name="160" class="level" tabindex=4 oninput="inputChanged()"/><div class="custom_slider" value={{"equalizer4"}}></div><input class="bands" value="160" readonly/></div>
                  <div class="custom"> <input id="text47" name="200" class="level" tabindex=5 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer5"}}></div><input class="bands" value="200" readonly/></div>
                  <div class="custom"> <input id="text48" name="250" class="level" tabindex=6 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer6"}}></div><input class="bands" value="250" readonly/></div>
                  <div class="custom"> <input id="text49" name="315" class="level" tabindex=7 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer7"}}></div><input class="bands" value="315" readonly/></div>
                  <div class="custom"> <input id="text50" name="400" class="level" tabindex=8 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer8"}}></div><input class="bands" value="400" readonly/></div>
                  <div class="custom"> <input id="text51" name="500" class="level" tabindex=9 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer9"}}></div><input class="bands" value="500" readonly/></div>
                  <div class="custom"> <input id="text52" name="630" class="level" tabindex=10 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer10"}}></div><input class="bands" value="630" readonly/></div>
                  <div class="custom"> <input id="text53" name="800" class="level" tabindex=11 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer11"}}></div><input class="bands" value="800" readonly/></div>
                  <div class="custom"> <input id="text54" name="1k" class="level" tabindex=12 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer12"}}></div><input class="bands" value="1k" readonly/></div>
                  <div class="custom"> <input id="text55" name="1.25k" class="level" tabindex=13 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer13"}}></div><input class="bands" value="1.25k" readonly/></div>
                  <div class="custom"> <input id="text56" name="1.6k" class="level" tabindex=14 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer14"}}></div><input class="bands" value="1.6k" readonly/></div>
                  <div class="custom"> <input id="text57" name="2k" class="level" tabindex=15 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer15"}}></div><input class="bands" value="2k" readonly/></div>
                  <div class="custom"> <input id="text58" name="2.5k" class="level" tabindex=16 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer16"}}></div><input class="bands" value="2.5k" readonly/></div>
                  <div class="custom"> <input id="text59" name="3.15k" class="level" tabindex=17 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer17"}}></div><input class="bands" value="3.15k" readonly/></div>
                  <div class="custom"> <input id="text60" name="4k" class="level" tabindex=18 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer18"}}></div><input class="bands" value="4k" readonly/></div>
                  <div class="custom"> <input id="text61" name="5k" class="level" tabindex=19 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer19"}}></div><input class="bands" value="5k" readonly/></div>
                  <div class="custom"> <input id="text62" name="6.3k" class="level" tabindex=20 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer20"}}></div><input class="bands" value="6.3k" readonly/></div>
                  <div class="custom"> <input id="text63" name="8k" class="level" tabindex=21 oninput="inputChanged()"/> <div class="custom_slider" value={{"equalizer21"}></div><input class="bands" value="8k" readonly/></div>
                </div>
              </div>
              
            </simple-fit>
          </neon-animatable>
        </neon-animated-pages>
      </div>
    <paper-dialog id="dialog" heading="this is a title" entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true">
      <h1 style="text-align: center;">Add Preset</h1>
      <div style="text-align: center;">Enter the name for the new preset below</div>
      <div class="message">{{err}}</div>
      <paper-input id="popupInput" label="" placeholder="Enter new preset name" text-align="center"></paper-input>
      <div class="buttons">
        <paper-button ondialog-confirm on-click="_acceptPressed">Add</paper-button>
        <paper-button dialog-dismiss on-click="_cancelPressed">Cancel</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="switchingEQModeDialog" heading="this is a title" entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true" style="height: 250px; width: 500px;">
      <h2 style="text-align: center; padding-top: 24px; padding-bottom: 5px; margin: 0px;">Warning</h2>
      <div id="eqmode" style="text-align: center; margin-top: 0px; padding: 5% 5% 5% 5%;"></div>
      <div class="butons" style="position: absolute; left: 60px; top: 150px; margin: 0; border-top: 1px rgba(201, 201, 201, .6) solid; padding: 5%;">
      <paper-button ondialog-confirm style="margin: 0.5em 1em 0.5em 1em;" on-click="_switchPressed">Switch</paper-button>
      <paper-button dialog-dismiss on-click="_cancelSwitchPressed">Cancel</paper-button></div>
    </paper-dialog>

      <div class="card-actions">
        <paper-button class="papercardcenter" on-click="_setEqualizerClicked">set equalizer</paper-button>

        <paper-dropdown-menu class="papercardcenter" id="equalizerMenu" no-label-float label="Equalizer Preset:">
          <paper-listbox id="equalizerListbox" attr-for-selected="value" selected="{{selection}}" class="dropdown-content" value="0">
              <paper-item id="Currently Applied" value="Currently Applied">Currently Applied</paper-item>
              <paper-item id="Add New Preset" value="Add New Preset">Add New Preset</paper-item>   
          </paper-listbox>
        </paper-dropdown-menu>

        <paper-dropdown-menu class="papercardcenter" id="musicMenu" style="position: absolute; left: 48.5%; visibility: hidden;" no-label-float label="Music Preset:">
          <paper-listbox id="musicListbox" attr-for-selected="value" selected="{{selection}}" class="dropdown-content" value="0">
              <paper-item id="Currently Applied" value="Currently Applied">Currently Applied</paper-item>
              <paper-item id="Add New Preset" value="Add New Preset">Add New Preset</paper-item>  
          </paper-listbox>
        </paper-dropdown-menu>

        <paper-dropdown-menu class="papercardcenter" id="pagingMenu" style="position: absolute; left: 48.5%; visibility: hidden;" no-label-float label="Paging Preset:">
          <paper-listbox id="pagingListbox" attr-for-selected="value" selected="{{selection}}" class="dropdown-content" value="0">
              <paper-item id="Currently Applied" value="Currently Applied">Currently Applied</paper-item>
              <paper-item id="Add New Preset" value="Add New Preset">Add New Preset</paper-item>  
          </paper-listbox>
        </paper-dropdown-menu>
        <span>{{value}}</span>
      </div>
    </paper-card>
    <paper-toast id="equalizerToast"></paper-toast>
    <paper-toast id="toasty" z-index: "60"></paper-toast>

    <iron-ajax
      id="addPresetAjax"
      url="/system/addPreset/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">
    </iron-ajax>

    <iron-ajax
      id="changeEQModeAjax"
      url="/system/changeEQMode/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">
    </iron-ajax>

    <iron-ajax
      id="createPagingZoneAjax"
      url="/system/createPagingZone/"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="_logResponse"
      debounce-duration="300">
    </iron-ajax>

  </template>
  <script>

  var sliders;
  var handles;
  var background;

  var equalizerToast = 0;
  var equalizerMode;
  var typeFound = 0;

  /**
   * GetValues is used to get the type of equalizer that is currently selected.
   * @returns {Number} typeFound is an integer that represents the type of equalizer for the speaker.
   */

  function getValues() {
    switch (equalizerMode.selected) {
      case "masking": 
        typeFound = 0;
        //console.log(equalizerMode.selected);
        break;
      case "music":
        typeFound = 1;
        //console.log(equalizerMode.selected);
        break;
      case "paging":
        typeFound = 2;
        //console.log(equalizerMode.selected);
        break;

      default:
        //console.log("something is messed up with the equalizerMode = this.$.equalizerSelector.selected;");
      }

      return typeFound;
  }


  $(document).ready(function() {
    //console.log("equalizer zoneFlag", zoneFlag);
    sliders = document.getElementsByClassName("ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min");
    handles = document.getElementsByClassName("ui-slider-handle ui-state-default ui-corner-all");
    background = document.getElementsByClassName("custom_slider style-scope equalizer-controller ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all");

    //console.log(sliders, "\n", handles, "\n", background);

  });
  
  var lastSelected = 0;
  var isThereAnError = false;



  var lastEQMode = "masking";
  var iirConstants = [];

  for(loopVar = 0; loopVar < 63; loopVar++) {
    iirConstants[loopVar] = 0;
  }
  //console.log(iirConstants);

  /**
   * This function is used to show the switching dialog that notifies the user of the implications of their changes when switching equalizers.
   */
  function showEqualizerSwitchDialog(mode) {
    //console.log(mode);
    switch(mode) {
      case "masking": {
        document.getElementById("eqmode").innerHTML = "You are switching the speaker to masking mode<br>In this mode, the speaker will produce equalized white noise and unequalized music.";
        break;
      }
      case "music": {
        document.getElementById("eqmode").innerHTML = "You are switching the speaker to music mode<br>In this mode the speaker will produce equalized music only.";
        break;
      }
      case "paging": {
        document.getElementById("eqmode").innerHTML = "You are switching the speaker to paging mode;<br>Something needs to go here, ask Matt"
        break;
      }
    }
    document.querySelector("#switchingEQModeDialog").toggle();
    //console.log("i got here");
  }

  /**
   * This function is used for changing the equalizer mode. It also takes care of some UI switching as well, such as hiding and showing the appropriate menus for the equalizers.
   */
  function modeChanged(mode) {

    switch(mode) {
      case "masking":
        equalizerMenu.style.visibility = "visible";
        musicMenu.style.visibility = "hidden";
        pagingMenu.style.visibility = "hidden";
        showEqualizerSwitchDialog("masking");
        break;

      case "music":
        equalizerMenu.style.visibility = "hidden";
        musicMenu.style.visibility = "visible";
        pagingMenu.style.visibility = "hidden";
        showEqualizerSwitchDialog("music");
        break;
      
      case "paging":
        equalizerMenu.style.visibility = "hidden";
        musicMenu.style.visibility = "hidden";
        pagingMenu.style.visibility = "visible";
        showEqualizerSwitchDialog("paging");
        break;

      default: 
        //console.log("SOMETHING WAS WRONG WITH WHAT WAS PASSED TO modeChanged()");
    }
  }


    Polymer({
      is: 'equalizer-controller',
      
      properties: {
        internalEqualizer: String,

        mode: {
        type:  String,
        value: "masking"
        },

        speakerId: {
          type: Number
        },

        speaker: {
          type: Object
        },

        equalizer: {
          type: String,
          notify: true,
          observer: '_setInternalEqualizer'
        }
      },

      /**
       * Setting the internal equalizer has internal effects so that the system can keep track of itself. It sets a variable that when set fires a function to update the server of its value.
       */
      _setInternalEqualizer: function(iirConstantsString) {
        this.internalEqualizer = iirConstantsString;
        //console.log("_setInternalEqualizer " + iirConstantsString);
      },
      
      /**
       * This function sets the equalizer value and is the function that is fired when the user presses the 'set equalizer' button. This function validates the bands to make sure that correct values are being submitted.
       */
      _setEqualizerClicked: function() {

        //console.log("equalizer clicked zoneFlag", zoneFlag);

        var checkInt = 0;
        var checkBands = [];
        var equalizerText = "Invalid input at ";

        $(document.getElementsByClassName("level")).each(function(i) {
          typeof this.value;
          if(isNaN(this.value) || this.value == "" || this.value < -40 || this.value > 10) {
            //console.log(this, this.name, this.value);
            checkInt++;
            checkBands.push(this.name);
          }
        });

        if(checkInt > 0) {
          if(checkBands.length == 1) {
            equalizerText += checkBands[0] + "Hz";
          } else {
            for (var i = 0; i < checkBands.length - 1; i++) {
              equalizerText += checkBands[i] + "Hz, "
            }
            equalizerText += "and " + checkBands[checkBands.length - 1] + "Hz";
          }
          this.$.equalizerToast.duration = 2000 + (500 * checkBands.length);
          this.$.equalizerToast.text = equalizerText;
          this.$.equalizerToast.show();
        } else {


          this.equalizer = iirConstants.slice(0 + (21 * typeFound), 21 + (21 * typeFound)).join(" ");
          //console.log(this.equalizer);
          this.iirConstantsString = iirConstants.slice(0 + (21 * typeFound), 21 + (21 * typeFound)).join(", ");


          this.$.equalizerToast.text = "Equalizer set to " + this.iirConstantsString;
          this.$.equalizerToast.show();
          //console.log("_setEqualizerClicked");
          //console.log(iirConstants);
          
          for (var i = 0; i < this.speaker.CurrentPreset.length; i++) { 
            this.speaker.CurrentPreset[i] = iirConstants[i];
          }
        }
      },

      _logResponse: function(event, data) {
        //console.log("shuddup");
        //console.log(event, data);
      },

      /**
       * This function is used when the the user adds a preset and clicks the 'add' button on the assisting dialog.
       */
      _acceptPressed: function(event) {
        var name = this.$.popupInput.value.valueOf().replace("\n", "").replace("\t", "");
        var ifvar = 0;
        if(this.speaker.PresetNames.length > 0) {
          for(var i = 0; i < this.speaker.PresetNames.length; i++) {
            if(name.toLowerCase() == this.speaker.PresetNames[i].valueOf().toLowerCase()) {
              //console.log("same name dude");
              ifvar++;
            }
          }
        }

        if(ifvar > 0) {
          //console.log("we are in here right now");
          this.err = "Invalid name: Name already taken";
          this.$.toasty.text = this.err;
          this.$.toasty.show();
        } else {
          this.$.addPresetAjax.body = {
            "speaker": this.speakerId,
            "name": name,
            "type": getValues(),
            "constants": iirConstants.join(" "),
          };

          //console.log(iirConstants.join(" "));

          //console.log("addPresetAjax:", addPresetAjax.body);
          this.$.addPresetAjax.generateRequest();

          this.$.dialog.toggle();

          this.$.toasty.text = "Added preset: " + name + " " + iirConstants.join(", ");
          //console.log(this.$.toasty.text);

          this.$.toasty.show();

          temp = document.createElement("paper-item");
          temp.setAttribute("value", name);
          temp.setAttribute("id", name);
          temp.innerHTML = name;
          Polymer.dom(this.$.equalizerListbox).appendChild(temp);

          var length = this.speaker.Equalizer.length;
          //console.log(length);

          //console.log(iirConstants);

          var iirConstantsCopy = iirConstants.slice();

          //console.log("iirConstantsCopy: ", iirConstantsCopy);
          this.speaker.Equalizer.push(iirConstants.slice());
          //}

          this.speaker.PresetNames[this.speaker.PresetNames.length] = name;

          //console.log(this.speaker.Equalizer);

          this.$.equalizerListbox.selected = name;
          this.$.popupInput.value = "";
        }
      },

      /**
       * This function dismisses the dialog and resets the selected preset.
       */
      _cancelPressed: function(event) {
        this.$.equalizerListbox.selected = -1;
        //console.log(lastSelected);
      },

      /**
       * This function is used when the the user accepts the implications of their selection using the 'switch' button on the dialog.
       */
      _switchPressed: function(event) {
        this.$.changeEQModeAjax.body = {
          "speaker":  this.speakerId,
          "mode":     getValues(),
        };

        this.$.changeEQModeAjax.generateRequest();

        this.$.switchingEQModeDialog.toggle();
        lastEQMode = this.$.equalizerSelector.selected;
        //console.log(lastEQMode);
      },

      /**
       * This function is used when the user decided against switching equalizers and clicks the cancel button on the switch dialog.
       */
      _cancelSwitchPressed: function(event) {
        switch(lastEQMode) {
          case "masking":
            equalizerMenu.style.visibility = "visible";
            musicMenu.style.visibility = "hidden";
            pagingMenu.style.visibility = "hidden";
            break;

          case "music":
            equalizerMenu.style.visibility = "hidden";
            musicMenu.style.visibility = "visible";
            pagingMenu.style.visibility = "hidden";
            break;

          case "paging":
            equalizerMenu.style.visibility = "hidden";
            musicMenu.style.visibility = "hidden";
            pagingMenu.style.visibility = "visible";
            break;

          default:
        }
        this.$.equalizerSelector.selected = lastEQMode;
      },

      listeners: {
        'equalizerListbox.iron-select': '_presetSelectionChanged'
      },

      /**
       * PresetSelectionChanged is fired when the user selects a new preset that is then used to set the equalizer to the corresponding values.
       */
      _presetSelectionChanged: function(event) {
        //console.log(this.speakerId);
        //console.log(this.speaker);

        var selected = this.$.equalizerListbox.selected.valueOf().toLowerCase().replace("\n", "");

        if(selected == "currently applied") {
          this.$.toasty.text = "Currently applied constants loaded! " + iirConstants.join(", ");
          this.$.toasty.show();

          lastSelected = this.$.equalizerListbox.selected;

          for (var i = 0; i < this.speaker.CurrentPreset.length; i++) { 
            sliders[i].style.height = (this.speaker.CurrentPreset[i] + 40) * 2 + "%";
            //console.log(this);
            handles[i].style.bottom = (this.speaker.CurrentPreset[i] + 40) * 2 + "%";
            $("#text" + (parseInt(i) + 1)).val(this.speaker.CurrentPreset[i]);
            iirConstants[i] = this.speaker.CurrentPreset[i];       
          }
        } else if(selected == "add new preset") {
            var addPresetAjax = document.getElementById("addPresetAjax");
            //console.log(addPresetAjax);
            this.$.dialog.toggle();
        } else if(this.speaker.PresetNames.length > 0) {
            lastSelected = this.$.equalizerListbox.selected;
            var associationLink = -1;
            for (k in this.speaker.PresetNames) {
              if(selected == this.speaker.PresetNames[k].valueOf().toLowerCase()) {
                this.$.toasty.text = this.$.equalizerListbox.selected + " preset loaded! " + iirConstants.join(", ");
                this.$.toasty.show();
                //console.log("Speaker " + this.speakerId + " selected preset: " + selected);
                associationLink = k;
                //console.log("associationLink", associationLink);
                break;
              }
            }
            if(associationLink != -1) {
              //console.log(this.speaker.Equalizer.length);
              for (var j = 0; j < this.speaker.Equalizer[0].length; j++) {
                sliders[j].style.height = (this.speaker.Equalizer[associationLink][j] + 40) * 2 + "%";
                handles[j].style.bottom = (this.speaker.Equalizer[associationLink][j] + 40) * 2 + "%";
                $("#text" + (parseInt(j) + 1)).val(this.speaker.Equalizer[associationLink][j]);
                iirConstants[j] = this.speaker.Equalizer[associationLink][j];
              }
            }
          }
      },
      
      resetKnob: function(elem) {
        elem.prevTimeout = 0;
        elem.$.volume2._resetKnob();
      },

      showToast: function() {
        //console.log("gi");
      },

      /**
       * On ready, the function takes the equalizer constants and sets the internal equalizer and assigns the toasts to global values so that they are accessible outside the selectors scope.
       */
      ready: function() {
        //console.log("this.$", this.$);
        this.internalEqualizer = this.iirConstantsString;
        equalizerToast = this.$.equalizerToast;
        equalizerMode = this.$.equalizerSelector;
      }
    });

    function showToast() {
      //console.log("gi");
    }

    /**
     * InputChanged is used when the user types a value into the text box for the slider. This function will validate that the value entered is completely numeric (ie, integer or float) and is between 10 and -40.
     */
    function inputChanged() {
        var error = false;
      $(document.getElementsByClassName("level")).each(function(i) {
        //console.log(this.value);
        if(isNaN(this.value) || this.value == "" || this.value < -40 || this.value > 10) {
          error = true;
          sliders[i].style.background = "#F33F31";
          handles[i].style.background = "#F33F31";
          background[i].style.background = "rgba(243, 63, 49, .2)";
          
        } else {        
          iirConstants[i] = parseInt(this.value);
          sliders[i].style.background = "#3f51b5";
          handles[i].style.background = "#3f51b5";
          background[i].style.background = "rgba(63, 81, 181, .2)";

          sliders[i].style.height = (iirConstants[i] + 40) * 2 + "%";
          handles[i].style.bottom = (iirConstants[i] + 40) * 2 + "%";
        }
      });
        //console.log(error);

        if(error == false) {
          isThereAnError = false;
        } else {
          isThereAnError = true;
        }

        //console.log(isThereAnError);
    }

  var MIN_WIDTH_SUPPORTED = 0;
  var MIN_HEIGHT_SUPPORTED = 0;

  if($(window).width() > MIN_WIDTH_SUPPORTED || $(window).height() > MIN_HEIGHT_SUPPORTED) {
    $(function() {
      $(".custom_slider").each(function(i) {
        //console.log("this is me, the eq: ", i);
        var texts = $("#text" + (i + 1) + ":nth-child(1)");
        $(this).slider({
          orientation: "vertical",
          range: "min",
          step: .01,
          min: -40,
          max: 10,
          value: 0,
          slide: function( event, ui) {
            isThereAnError = false;
            sliders[i].style.background = "#3f51b5";
            handles[i].style.background = "#3f51b5";
            background[i].style.background = "rgba(63, 81, 181, .2)";
            //console.log(texts);
            $(texts[0]).val(ui.value);

            iirConstants[i] = ui.value;
          }
        });
        $(texts[0]).val($(".custom > .custom_slider").slider("value"));
        //console.log(texts);
      });
    });
  } else {
      //console.log("there is not enough space to display the equalizer");     
    }
  $(window).resize(function() {
    if($(window).width() < MIN_WIDTH_SUPPORTED || $(window).height() < MIN_HEIGHT_SUPPORTED) {
      //console.log($(window).width());

      //console.log(document.getElementById("eighty").offsetWidth);
    } else {
      var custom_container = document.getElementById("custom_container");
    }
  });

</script>
</dom-module>